[2020-12-22 02:44] ezl commented on #788
ok.

@vedmant so the decision on this ticket is:

(A) if you believe you can make the bar slide BETWEEN the menu options as indicated in the original animation by @Watson-B, then this is the first choice
(B) if not, or if you think it's excessively complex, then the second choice is to use CSS transform to make the underline show and hide, like in this: https://medium.com/front-end-weekly/creating

[2020-12-22 02:50] ezl commented on #806
Lots of valid points all around.

(A) @Watson-B I had forgotten about that point that with email notifications, a user can log in using the numbers without leaving the app
(B) @ikosovec I agree that this will help mitigate the issue and at least thread FEWER messages than previously PLUS it will separate mobile from desktop
(C) @vedmant I agree that social login is easy

In retrospect, I think the

[2020-12-22 08:35] vedmant commented on #788
@ezl I can make a moving bar, the only problem is that whole page changes, also we have whole screen animation, so sliding bar will just not be visible or animation can be reset when whole page is re-rendered (I need to check this).

[2020-12-22 08:55] vedmant commented on #718
Ok, "loading..." text is already added

[2020-12-22 08:56] vedmant commented on #809
@ezl It's not a large task, maybe 1 hour if no issues encountered.

[2020-12-22 09:37] vedmant commented on #794
This should be done I think

[2020-12-22 12:27] ikosovec commented on #718
Looks good!

[2020-12-22 12:27] #718 closed

[2020-12-22 12:34] ikosovec opened #822 "The loading animation when taking an action from email"
I tried this with 2 different actions:
- When I requested a Log in
- Clicking on the daily reminder to post an idea

When I click both actions from the email, I get redirected to the Dailyidea loading page. It starts off with the old loading animation, and half a second before it loads, it switches over to the new loading animation.

I recorded it: https://monosnap.com/file/KvG7PjjoKSHypMJzFWJ5SYa

[2020-12-22 12:37] ikosovec commented on #822
Additional info: I have a feeling this is not the case on mobile. Only on desktop.

[2020-12-22 12:38] ikosovec commented on #813
This is currently implemented as the first proposal - to make the tooltip hovering over the toggle.
As I anticipated, this does not work on mobile.

@vedmant can we please implement it according to the 2nd proposal - make an info icon instead of the tooltip showing over when hovering the toggle.

[2020-12-22 12:39] ikosovec commented on #814
This works fine. :)

[2020-12-22 12:39] #814 closed

[2020-12-22 14:52] ezl commented on #809
@vedmant ah -- lets just do it then.

[2020-12-22 17:44] ikosovec commented on #805
Looks good for now. Will check again when #813 gets re-implemented with a button. Closing this ticket.

[2020-12-22 17:45] #805 closed

[2020-12-22 17:47] ikosovec commented on #822
This is a duplicate of #807

[2020-12-22 17:47] #822 closed

[2020-12-22 17:55] ikosovec opened #823 "A quick flicker of the front page when I go to "My ideas""
Steps:
- Logged in user
- Go to home page dailyidea.com
- Click on "My ideas"
- Between the loading state finishing and the profile page, for a brief moment we can see a flash of the homepage

Recorded a video to show it: https://monosnap.com/file/mVvbecJXRLqHJoqKvjnMPWdENq5PFZ

[2020-12-22 18:21] ikosovec opened #824 "Deletion modal opens behind idea modal"
Steps:
- Go to my profile
- Find a random idea click on "View idea"
- Idea modal opens
- Click on 3 dots -> delete idea
- The modal is opened behind the opened one

Video: https://monosnap.com/file/KOYYwZh5Z5b9OrndxP6v0g4n9bGhs4

[2020-12-22 18:25] ikosovec commented on #803
This works when I go to my profile, pick a random idea (don't open it!) -> click on 3 dots -> click on "delete idea" -> confirm

If I open the idea first (open the idea modal), behaviour like described in #824 appears.
When I confirm deletion after #824 , the page does not refresh.

[2020-12-22 18:28] #794 closed

[2020-12-22 18:30] #811 closed

[2020-12-22 18:32] Watson-B commented on #806
@ezl Yeah, I'm onboard with that. I think @ikosovec 's idea for labeling emails based on origin is a good short-term fix too. When we do look at it again, @vedmant 's call for social logins makes sense for a lot of the hiccups with the other approaches we've discussed.

[2020-12-22 18:35] Watson-B commented on #807
@ezl @ikosovec  Ahh good point, I can work on those states. Is it correct that the new animation would be the working state, and then it would transition to either a success or failure state (both of which would be **static**)? Should those states just be images or do you want them to transition out of the loading animation into that state?

[2020-12-22 18:48] ikosovec commented on #807
I think the most important thing here is that we make it very lightweight and smooth experience. I guess both would work, as long as it's fast and clear for both mobile and desktop users.

[2020-12-22 19:27] Watson-B commented on #807
@ikosovec Ok, I think just a static image would be fastest and clearest then. I'll work on that today.

[2020-12-23 01:38] ezl commented on #788
lets go for that. let's make it move on hover instead of click for now and see if that's enough to trick @Watson-B 😉

[2020-12-23 09:44] vedmant commented on #807
@Watson-B Please attach svg when it's ready

[2020-12-23 10:46] vedmant commented on #809
Done, but appeared to be more complex than I expected, had to add another custom plugin for this as nuxt just didn't have appropriate way to enable / disable global loader per route transition, so I moved loader state to Vuex.

[2020-12-23 10:48] vedmant commented on #809
BTW, top part (user info and bio) is still reloaded on every page. To make this work better I'll need to move user data to Vuex store, also rewrite components to load data with fetch instead of asyncData

[2020-12-23 10:57] vedmant commented on #803
@ikosovec I see, thanks

[2020-12-23 11:00] vedmant commented on #823
I noticed this also, for some reason when nuxt finishes loading asyncdata it takes few moments to re-render the page, I'll check why there is a delay.

[2020-12-23 11:01] vedmant commented on #768
@ikosovec Is this still relevant?

[2020-12-23 17:13] Watson-B commented on #807
@ezl @vedmant @ikosovec Tested the transition for both success and error.
Here is the zipped svg [error.zip](https://github.com/ezl/dailyidea.com/files/5736319/error.zip)
![error](https://user-images.githubusercontent.com/65913664/103021043-5dbd4880-44fe-11eb-8694-5f63a6ea0e9f.png)
The success state felt abrupt, so did a .5s gif (45K) for it. If that makes things too complex though, then here is a

[2020-12-23 20:45] Watson-B opened #826 "Follow & Following Numbers on My Ideas Page"
@ikosovec We currently have followers and following listing on the My Ideas page, but don't have that functionality implemented yet. Can we hide these until that functionality is ready?

![image](https://user-images.githubusercontent.com/65913664/103035643-9a983800-451c-11eb-9826-a459be519dea.png)

[2020-12-24 15:39] ezl commented on #809
ok. will review it and after that we can decide if we wan to do anything different.

have fun skiing!

[2020-12-25 14:39] ezl commented on #768
lets close this ticket for now. cards have changed a lot since this was created, so if it's an issue going forward, we'll recreate it later.

[2020-12-25 14:40] #768 closed

[2020-12-29 16:30] vedmant commented on #813
@Watson-B I couldn't find this in Figma, could you attach that i in circle icon in svg?

[2020-12-29 16:57] Watson-B commented on #813
@vedmant Here you are [info.zip](https://github.com/ezl/dailyidea.com/files/5751468/info.zip)

[2020-12-29 18:04] ezl opened #833 "what are we doing with "follow"?"
<img width="1064" alt="image" src="https://user-images.githubusercontent.com/157627/103304344-01f73180-49ce-11eb-846a-763163f6d85a.png">

[2020-12-29 18:07] ezl opened #834 "asdfasda"
<img width="1719" alt="image" src="https://user-images.githubusercontent.com/157627/103304506-6dd99a00-49ce-11eb-875d-c72eb29613ea.png">

[2020-12-29 18:12] vedmant commented on #823
@aldarund Maybe you know this issue, there is quite noticeable delay between when asyncData finished and component mounted. This causes loading screen to disappear before new page was rendered, here is the sequence:

start loading
asyncData next page
finish loading
beforeDestroy previous page
mounted next page

Delay between asyncData and mounted next page is about 1 second. Not sure what part of

[2020-12-29 18:14] #834 closed

[2020-12-30 23:40] Watson-B commented on #791
@ezl After our last conversation, I refined the flows and placed them in a flow chart. Let me know what you think. https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292

[2020-12-30 23:51] Watson-B opened #835 "Mobile Card iPhone X"
@ikosovec On mobile, the bottom of the card goes below the bottom nav on my (375px x 812px) iPhone X.  @ezl isn't experiencing this issue on his (320px x 568px) iPhone.

![crop1](https://user-images.githubusercontent.com/65913664/103387115-ecaa0200-4ab6-11eb-868e-71362aacbb41.png)

![crop2](https://user-images.githubusercontent.com/65913664/103387116-ecaa0200-4ab6-11eb-87d1-6ac267a9348d.png)

I do

[2021-01-01 18:42] Watson-B opened #836 "Post Title Crops during post creation on mobile (iPhone X)"
Getting an issue where the post title crops during the post creation. @ikosovec
![post-crop-1](https://user-images.githubusercontent.com/65913664/103444551-fa2dcc00-4c1d-11eb-8097-7fa685587483.png)
![post-crop-2](https://user-images.githubusercontent.com/65913664/103444553-fac66280-4c1d-11eb-8eac-5c60d9e8650e.png)

[2021-01-03 10:25] vedmant commented on #823
As I quick fix I'll just add a 1 sec delay before loading screen disappears, but it's just a workaround, proper fix will be to understand why nuxt is hiding loading screen before next component mount, I can crate an issue in Nuxt repo for this.

[2021-01-03 17:40] ikosovec commented on #788
@ezl should we prioritize this for development? It's in the "maybe" column, so I was thinking about moving it to "up next".

[2021-01-03 17:45] ikosovec opened #839 "My profile page on beta gives me a 404"
So I was trying to access my profile (https://beta.dailyidea.com/profile/Ivan) and I get a 404.

Could we investigate why this is happening please?

[2021-01-03 17:58] ikosovec commented on #807
@vedmant did you implement the new loading animations that Watson included in the last comment? Do we maybe need design approval from @ezl first?

[2021-01-03 18:00] ikosovec commented on #826
Moving it up on the priority list.

[2021-01-03 18:03] vedmant commented on #807
@ikosovec Yes, loading animation with lamps and then status images.

[2021-01-03 18:52] vedmant commented on #839
@ikosovec I see that you typed Ivan with capital, it works with all lower case https://beta.dailyidea.com/profile/ivan . @ezl Should I make it case not sensitive?

[2021-01-03 18:59] ikosovec commented on #839
@vedmant keep in mind that I did not enter this URL manually.
I got there from here: https://beta.dailyidea.com/i/ax83di/test-idea-again?category=new
Clicking here:
![image](https://user-images.githubusercontent.com/16639403/103486424-19834f80-4dfe-11eb-9435-bcdcf36df4c6.png)

[2021-01-03 18:59] ikosovec commented on #839
I suggest we make it non-case sensitive.

[2021-01-03 19:01] vedmant commented on #839
@ikosovec I see, the link there uses name instead of slug, I'll fix this. Yeah makes sense to make it non case sensitive.

[2021-01-03 19:10] vedmant commented on #839
@ikosovec Ok, done, will be deployed in 10 mins

[2021-01-03 19:53] ikosovec commented on #839
Looks good now, thanks. :)

[2021-01-03 19:53] #839 closed

[2021-01-04 16:36] ikosovec commented on #807
For some reason the new gfx assets are not showing up for me on beta. Am I doing something wrong?

[2021-01-04 16:44] ikosovec commented on #813
This looks good. Also, love the micro transition on the entry of the tooltip. :)

[2021-01-04 16:44] #813 closed

[2021-01-04 17:25] ikosovec commented on #824
Looks good now. :)

[2021-01-04 17:25] #824 closed

[2021-01-04 19:37] ezl commented on #788
yep! thanks @ikosovec

[2021-01-06 13:22] vedmant commented on #788
Noticed that links have a bit different height, it's visible with sliding underline, not sure if this is important to fix.

[2021-01-06 13:26] vedmant commented on #807
Hm, maybe there is no delay between loading state and success state. It works on my local but not on beta. On local however green lamps shows only for split second, then it redirect to needed page.

[2021-01-06 13:32] vedmant commented on #807
Actually there is no delay between successful authentication and redirect on next page, previously it showed success lamp because there were not global loading on whole screen, now global loading screen covers success lamp. I can make it a bit more complex, add loading states and replace loading gif with green loading image just for this specific page navigation (redirect). @ezl Not sure if this i

[2021-01-06 17:25] ikosovec commented on #807
From my perspective, I wouldn't spend more time on this at the moment. It's a neat gimmick, but it's not a dealbreaker or blocker right now. From my perspective, the 2nd (simple) solution could be the right direction right now.

@vedmant do you perhaps have an estimate regarding how much work it would take to implement both options?

[2021-01-06 18:06] ikosovec commented on #835
I have moved this ticket to development, thanks @Watson-B.

@vedmant can you start your work on this - or is there any help that you might need with this ticket from the design perspective?

[2021-01-06 18:15] ikosovec commented on #823
The flicker is gone. Closing this.

[2021-01-06 18:15] #823 closed

[2021-01-06 18:21] ikosovec opened #843 "The Share UX in modal after creating an idea is confusing"
Hey @Watson-B, this is probably very picky but I think we might need to rethink the Share CTA on this modal:
![image](https://user-images.githubusercontent.com/16639403/103805471-ee923900-5053-11eb-8c92-2ed42daeaffa.png)

The "Share your idea" copy is left and then the Share icon is on the right.
This might be a bit confusing for the regular user.
There's 2 actions in this modal: close the modal o

[2021-01-06 18:27] ikosovec opened #844 "What should happen when we click on the Comment button on a private idea?"
Currently clicking on the Comment button of a private idea is throwing a 404.
We probably need a better solution.

[2021-01-06 18:27] ikosovec opened #845 "Clicking on the Comment icon should open the idea modal"
Steps:
- I log in
- Go to my profile (https://beta.dailyidea.com/profile/ivan)
- Two ideas on my profile
- Click on Comment button on the top one (public idea)
- Get redirected to https://beta.dailyidea.com/i/ax83di/test-idea-again?comment=1 and then right after (0.5 sec) to https://beta.dailyidea.com/i/ax83di/test-idea-again?category=new
- Go back to my profile
- Click on Comment on bottom idea (

[2021-01-06 18:29] ikosovec commented on #845
When I enter https://beta.dailyidea.com/i/ax83di/test-idea-again?comment=1 in my browser, it also redirects me to https://beta.dailyidea.com/i/ax83di/test-idea-again?category=new

[2021-01-06 18:30] #803 closed

[2021-01-06 18:32] #826 closed

[2021-01-06 18:36] #763 closed

[2021-01-06 18:36] ikosovec commented on #672
I think this is fine now. What do you think @ezl ?
Can we close this ticket?

[2021-01-06 18:47] ikosovec commented on #845
Oh okay, I think I understand what's happening here, and it's probably **NOT** a bug!

Basically, when I opened DI, I didn't scroll through the onboarding cards on the home page. I went directly to log in and my profile. So these 2 URLs from my last comment were redirecting me to the onboarding cards. This looked like I was being redirected to the home page instead of the specific idea in question

[2021-01-06 18:55] ezl commented on #791
Just leaving a note so everyone knows that @Watson-B and I are actively discussing this issue as of Jan 6.

For now, please leave this issue open, but we may amend/update and create other tickets related to this shortly.

If this is not resolved (new issues created and this one closed OR clear directive given on this issue) by Jan 13, feel free to ping me again.

[2021-01-06 18:57] ezl commented on #807
Agree -- not important. Let's ice this for now.

For now, @ikosovec I'll move it back to Icebox. Let's put this on pause and we won't reconsider this for execution until Mar 1. At that time, we can reassess after other issues have been resolved and at that time we can decide whether to implement, kill, or change.

[2021-01-06 20:34] ezl commented on #809
@Watson-B can you take a look at this and see how it feels to you now? (check on beta.dailyidea)

From what I can tell, it looks like it HAS been improved, but the top part still "flashes" once the page loads -- though it's quite fast. I do think the experience is a bit better -- for example, the page is snappier and you can see the loader on the bottom very quickly.

However, as @vedmant said, I

[2021-01-06 20:38] ezl commented on #672
agreed, @ikosovec - this is complete. I am closing this ticket.

[2021-01-06 20:38] #672 closed

[2021-01-06 20:39] ezl commented on #358
I agree with your assessment, @ikosovec. Closing this issue as recommended. Thanks!

[2021-01-06 20:39] #358 closed

[2021-01-06 20:40] ezl commented on #843
@Watson-B I think @ikosovec has a reasonable point.

Do we have any other modals with this style of action icon?

If not, then for the sake of uniformity, perhaps we can consider a single button instead.

[2021-01-06 20:43] ezl commented on #788
@vedmant I'm not sure what you're referring to regarding different heights -- I checked and the links appear to be the same height for me.

Also, I really like the actual sliding!!! @Watson-B check out the sliding behavior on beta.dailyidea!

@vedmant I'll close this issue and create 2 new, separate issues:

1. about link heights (what you referenced, but I don't understand)
2. extending this slid

[2021-01-06 20:43] #788 closed

[2021-01-06 20:45] ezl opened #846 "Make links have the same height"
Created this new ticket based on @vedmant's comment on #788 regarding links having different heights.

I (@ezl) was not able to observe this issue, but just created this ticket for us to follow up. @vedmant, can you screenshot what you are referring to please?

[2021-01-06 20:46] Watson-B commented on #843
Agree completely, in the WIP updates to this I have it cut out completely. https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=221%3A2

[2021-01-06 20:47] Watson-B commented on #843
Since it leads to another modal, with input fields, it is just creating an extra click. We can simplify and cut this modal (removing this style in the process)

[2021-01-06 20:50] ezl opened #847 "Extend underline sliding behavior for menu options in navigation"
Really like the work on the main nav sliding bar that was done here:
https://github.com/ezl/dailyidea.com/issues/788

@Watson-B should we extend this behavior to other menus as well?

1. Settings page menu options
<img width="946" alt="image" src="https://user-images.githubusercontent.com/157627/103818537-55046080-502e-11eb-85b5-15d92f086b2f.png">

2. New / Top subnavigation in "Explore"
<img widt

[2021-01-06 20:55] ezl opened #848 "Show private ideas count on my ideas"
<img width="913" alt="image" src="https://user-images.githubusercontent.com/157627/103818900-fbe8fc80-502e-11eb-818d-0cd0ad9b756e.png">

The count at the top and the number of ideas is not matching.

I THINK this is because the count is showing the total number of ideas, but the display is only showing public ideas. (@vedmant, can you please confirm if what I said is true or false?).

If this is t

[2021-01-06 20:59] ikosovec commented on #848
I can confirm that I have 2 ideas, of which 1 is private on my profile that's being referenced in this ticket.

[2021-01-06 21:00] Watson-B commented on #809
@ezl I agree with what you said. It's definitely an improvement over what we had before. The flashing is jarring, but doesn't break the experience, and so I don't think it's a super high priority and am fine with delaying.

[2021-01-06 21:02] ezl opened #849 "create a way to indicate that an idea is private in your own personal idea list"
right now, you can tell because the share button is disabled, but i think we should make it more obvious.

<img width="607" alt="image" src="https://user-images.githubusercontent.com/157627/103819562-4a4acb00-5030-11eb-8632-0a4260abe41d.png">

(the second one is private)

cc @Watson-B

[2021-01-06 21:03] Watson-B commented on #847
@ezl if it's not too much work, yeah I think it would make for a more cohesive experience.

[2021-01-06 21:03] ezl commented on #845
Agree -- this isn't idea. @Watson-B let's schedule time to talk about this and the tree.

[2021-01-06 21:37] Watson-B commented on #848
@ezl @ikosovec I think both work, but I favor Option A since it highlights a paid feature. There are some issues with displaying the breakdown between public and private on the tab for smaller screen widths though.

![image](https://user-images.githubusercontent.com/65913664/103821879-e7533700-5023-11eb-95cb-97155684975e.png)

Maybe just do the breakdown up top (the line right below the name) and

[2021-01-06 22:14] Watson-B commented on #845
@ikosovec yeah, it's confusing. I recreated the setup with my profile and I'm encountering the same thing. Adding to it, if I'm on https://beta.dailyidea.com/i/k3etgi/test?category=new and click the "New" tab, it does not take me to the top of the "new" stack, and instead keeps me on the same card. Showing a 404 when the user clicks on the comment icon on a private idea feels bad. One idea that I

[2021-01-06 22:54] Watson-B commented on #849
![private](https://user-images.githubusercontent.com/65913664/103827995-07d4be80-502f-11eb-8b75-bb3002f8e38f.png)
@ezl thoughts? Reuses the pending comment ui

[2021-01-07 01:29] ezl commented on #849
looks good to me -- lets do it. can you provide the SVG of the crossed out eye icon to @vedmant please?

[2021-01-07 01:45] ezl opened #850 "Be more specific about when we want the explainer cards to show up"
The current logic is (I believe): "if the user tries to view an idea for the first time on this browser, then show the explainer card".

This works well for the case of:
1. First time ever user lands on landing page
2. Then scrolls through landing page cards (3 of them)
3. when they reach the first idea card, we explicitly show them that they can swipe for more ideas.

In this case, this is really

[2021-01-07 01:45] ezl commented on #845
got it. I understand what you were seeing now, @ikosovec.

I didn't see that behavior. I thought you were referring to the problem of:

action: click to comment
outcome: go to idea page

as being the issue.

That is non-ideal. I have a separate question to address with @Watson-B that I have added to our conversation notes about re-evaluating how we want ALL the buttons on this summary page to work

[2021-01-07 01:50] ezl commented on #848
@Watson-B it's like my head is a tree and you're those little cookie elves. (yep, your design is perfect)

cc: @acerra86

[2021-01-07 01:50] ezl commented on #847
ok sounds good. @vedmant can we refactor to make it so all our menus behave in the same way?

[2021-01-07 09:29] vedmant commented on #835
@ikosovec I currently see that card is fully visible on iPhone X, at least in Chrome emulator, I'll try this on iOS simulator, maybe it works differently on actual device.

[2021-01-07 09:33] vedmant commented on #835
Yeah, I see it's different in iOS, simulator, ok, I'll adjust it for simulator

[2021-01-07 09:38] vedmant commented on #835
It's really weird, there is a huge difference between chrome emulator and actual ios https://prnt.sc/wi526w I'll adjust to ios, but it may look to small on other devices.

[2021-01-07 09:39] vedmant commented on #835
I think it makes sense to calculate actual screen area with JS and make the card fit it. I'll try this approach.

[2021-01-07 11:16] vedmant commented on #835
Ok, I merged solution with JS calculated heights. Generally I think the layout could be done better, I noticed things that can be improved.

[2021-01-07 11:18] vedmant commented on #847
@ezl Sure, I'll probably make a single wrapper component for this.

[2021-01-07 11:21] vedmant commented on #846
This is what I mean about heights:

<img width="376" alt="Screenshot at Jan 07 13-20-07" src="https://user-images.githubusercontent.com/5052406/103887045-213b4080-50eb-11eb-8aec-984a07b40c72.png">
<img width="259" alt="Screenshot at Jan 07 13-20-29" src="https://user-images.githubusercontent.com/5052406/103887052-23050400-50eb-11eb-80b4-bee245740245.png">

65px vs 62px and sliding line also moved

[2021-01-07 11:27] vedmant commented on #848
Yes, if you view other user it shows total number of ideas, including private, but in the list only public ideas are visible.

It will however require backend edits to make it show only public ideas, currently there is just an increment field "ideasCreated" in the users table, so it doesn't count ideas, just increments this number. To make this work I'll need to do quite some changes on backend to

[2021-01-07 11:36] vedmant opened #852 "Wercker deploy-mail-dev deploy fails every time"
I noticed that deploy-mail-dev started to fail every time, I'll try to run this on local to check. Looks like it timeouts on Installing requirements

https://app.wercker.com/ezlnvureflgas/dailyidea.com/runs/deploy-mail-dev/5ff6ed0ecce6890008115433?step=5ff6eedab61ea500085694ec

[2021-01-07 14:16] ezl commented on #848
@vedmant -- If I understand:

1. We currently have a key for total ideas, which is incremented whenever an idea is created, and decremented when an idea is deleted.
2. We are retrieving the number of ideas in the UI by just getting this number, not doing a query (select count(*) from ideas where user=username)

To implement showing public vs private, therefore, we would need to either.

(A) add AN

[2021-01-07 14:20] vedmant commented on #848
It would makes sense for SQL database, but as I understand counting in
DynamoDb each time is quite expensive process. I'm not an expert however.

On Thu, Jan 7, 2021, 4:17 PM Eric Liu <notifications@github.com> wrote:

[2021-01-07 14:22] ikosovec commented on #845
Closing this one and I'll also move #850 to the Design project. Thanks everyone.

[2021-01-07 14:23] ezl commented on #846
I see this height difference too now.

IMO, I couldn't even detect this.

If it's a quick fix (30 min or less), just do it please.  If not, let's just put this in the backlog, and resolve it later when other tickets are done.

[2021-01-07 14:28] ikosovec commented on #835
@Watson-B could you please test the new behaviour on your device on the beta version of the app?

[2021-01-07 14:38] ezl commented on #848
Understood. I don't want to invest in the appsync backend anymore for non-critical issues.

basically, my current decision logic on whether to implement a backend change right now is:

(A) is it critical / very important AND important that it happens SOON? If so, we can consider making the change to the AWS backend.

(B) If not, let's wait until we change to a different backend. This is something

[2021-01-07 14:39] ezl commented on #847
lovely. let's do it. :)

[2021-01-07 17:17] Watson-B commented on #849
@vedmant here is the crossed out eye icon [private-eye.zip](https://github.com/ezl/dailyidea.com/files/5783005/private-eye.zip)

[2021-01-07 17:26] Watson-B commented on #835
@ikosovec just tested, and it works now. @vedmant I agree, the layout can use improvements, will mocking the card layout for a range of mobile screen sizes help here? I'm working through other UI fixes right now, and can add that to my list.

[2021-01-07 20:37] ikosovec commented on #845
As a quick fix to the comment interaction - while the user is in the profile page (of either themselves or another user) - clicking on the comment button should open the idea modal - the same as it's on the "view idea" button.

[2021-01-07 20:42] ikosovec opened #853 "Update share flow to share to Facebook and Twitter"
We talked about this functionality on Jan 7th call between @ezl, @Watson-B and myself.
Low priority for now, we can discuss it in the future.

[2021-01-07 20:45] ezl commented on #791
closing. after discussion with ~w and ~i, no need for this issue anymore as it will be addressed by other issues.

[2021-01-07 20:45] #791 closed

[2021-01-07 21:10] ikosovec commented on #850
The explainer card in its current version is only displayed when the user lands on the landing page and swipes through the cards before their first idea card.

If the user hasn't seen the cards before, we show them the banner. (@Watson-B)

[2021-01-08 09:58] vedmant commented on #836
This also happens only in actual iOS, and ok in chrome emulator.

[2021-01-08 10:24] vedmant commented on #836
Also noticed that bottom bar and post button is not visible, I'll fix it in this ticket.

[2021-01-08 16:48] #849 closed

[2021-01-08 16:50] ikosovec commented on #836
@Watson-B could you also please test this one out, since it's also iPhone X related?

[2021-01-08 16:52] ikosovec commented on #809
I'm moving it back to icebox.

[2021-01-08 17:51] Watson-B commented on #836
Looks great @vedmant !
<img width="351" alt="IMG-9765" src="https://user-images.githubusercontent.com/65913664/104047445-81d38780-5196-11eb-9cca-592929ce968e.png">
<img width="351" alt="IMG-9766" src="https://user-images.githubusercontent.com/65913664/104047448-826c1e00-5196-11eb-8d22-dd1e891b482f.png">
<img width="352" alt="IMG-9767" src="https://user-images.githubusercontent.com/65913664/1040474

[2021-01-11 11:59] vedmant commented on #852
Ok, I increased timeouts, last deploy worked ok, I'll be watching if next deploys fails

[2021-01-11 17:17] #836 closed

[2021-01-11 17:21] ikosovec commented on #847
This looks good to me.
@ezl if you want you can also check and confirm it. I'm closing this ticket.

[2021-01-11 17:21] #847 closed

[2021-01-12 09:43] vedmant commented on #835
@Watson-B Yes at least to have mobile layout for tall and short screens will help, there can be up to 2x difference in height.

[2021-01-12 18:41] Watson-B commented on #835
@vedmant Sounds good, I'll work on those layouts.

[2021-01-14 17:00] #845 closed

[2021-01-14 17:46] Watson-B opened #859 "Updating the login/signup copy - Like"
@ikosovec This ticket references [this Figma page](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292). The goal is to better guide an unauthorized user when they click on something that requires authorization. I'm breaking the tickets based on action taken, but the flow is similar for Like, Save, Comment (just with specific copy for the action).

When an unauthorized

[2021-01-14 17:50] Watson-B opened #860 "Updating the login/signup copy - Save"
This ticket references [this Figma page](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292). The flow for unauthorized users clicking the Save icon is the same as the flow for clicking Like (referenced in ticket #859) with the difference being the copy and illustrations used.

[2021-01-14 17:55] Watson-B opened #861 "Updating the login/signup copy - Comment"
This ticket references [this Figma page](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292). The flow for unauthorized users commenting is almost the same as the flow for clicking Like (referenced in ticket #859) with the difference being what happens if the user closes the first modal, the copy, and illustrations used.

If the user closes the first modal, we have an

[2021-01-14 18:06] Watson-B opened #862 "Updating the login/signup copy - Share"
See [this Figma page](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292) for reference.

Due to confusion with the current share modal, we're breaking apart the input fields for entering the friend's email address and entering the user's own name.

![image](https://user-images.githubusercontent.com/65913664/104630276-7200eb00-564f-11eb-9123-90479ab53da8.png)

If the u

[2021-01-14 18:16] Watson-B opened #863 "Updating the login/signup copy - click the Post tab"
See [this Figma page](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292) for reference.

When an unauthorized user clicks on the Post tab. We're updating the card displayed to the following.
![image](https://user-images.githubusercontent.com/65913664/104631461-20f1f680-5651-11eb-929a-a39758b65901.png)

When the user enters their email address, they are then launched i

[2021-01-14 18:32] Watson-B opened #864 "Updating the login/signup copy - clicking the My Ideas tab"
See [this Figma page](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292) for reference.

When an unauthorized clicks on the My Ideas tab. They see the following card prompting them to signup/login
![image](https://user-images.githubusercontent.com/65913664/104632736-01f46400-5653-11eb-8d83-b053dc8a937d.png)

Clicking this button opens an enter email modal with specifi

[2021-01-14 18:35] Watson-B commented on #850
The referenced banner.

![image](https://user-images.githubusercontent.com/65913664/104633379-e63d8d80-5653-11eb-8b59-36b0402372d2.png)

Tickets #859 #860 #861 #862 #863 show where in each respective flow this banner appears.

[2021-01-19 18:51] ikosovec opened #865 "Remove the explainer card and make it as a 4th card on the landing page"
Agreed with @ezl:

Remove the explainer card:
![image](https://user-images.githubusercontent.com/16639403/105079353-94e83080-5a8f-11eb-9062-cffdc75f1757.png)

Make it as the 4th card on the homepage onboarding process:
![image](https://user-images.githubusercontent.com/16639403/105079399-a6313d00-5a8f-11eb-8201-3211807ab884.png)

[2021-01-19 18:51] ezl commented on #850
Closed in favor of #865 for clarity.

[2021-01-19 18:51] #850 closed

[2021-01-19 20:00] Watson-B commented on #835
@ikosovec @vedmant [This Figma](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=385%3A2) page has sample layouts for iPhone SE (320 x 568), Android 5 (360 x 640), iPhone 11 Pro (375 x 812), and iPhone 11 Pro Max samples (414 x 896). Let me know if there is anything else I can do.

[2021-01-20 13:34] vedmant commented on #835
@Watson-B Cool, no need for all the intermediate sizes, jsut smallest and largest mobile size. I just need to understand what elements are stretched.

[2021-01-20 23:01] Watson-B opened #867 "Unsaving an idea on profile"
I think I found a bug/potential point of confusion on the "Saved Ideas" tab of the "Profile Page".

1. If I click the bookmark icon to unsave an idea, I get the banner saying it is unsaved and the idea stays on the page now with the unfilled icon.

![unsave-1](https://user-images.githubusercontent.com/65913664/105251405-4474df80-5b30-11eb-880d-7c69beefde9b.png)

2. When I refresh the page, the ide

[2021-01-20 23:03] Watson-B commented on #867
Had it happen twice, and now it's not happening. Can anyone replicate this? @vedmant @ikosovec

First time, I went to settings and then back to saved ideas, and the second time just refreshed. Just tried both again and it is working as intended.

[2021-01-20 23:42] Watson-B opened #868 "Update to "Request a new link" modal"
See [this Figma](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292) page for reference.

Updated the illustration, copy, and modal design to be consistent with the rest of the login flows.

![image](https://user-images.githubusercontent.com/65913664/105252966-62900f00-5b33-11eb-8903-508007cf4c39.png)

[2021-01-21 00:17] Watson-B opened #869 "UI Update - Welcome Cards (Text Weight/Color, Button text, background color, top nav shadow, next arrow vertical alignment, active top nav state)"
I want to document some UI items to eventually update that I've noticed throughout the site. None of these are critical priority, but would be "nice-to-have updates" at some point. If there is a better way to organize these, just let me know.

Current:

![Ui-color](https://user-images.githubusercontent.com/65913664/105255728-00d2a380-5b39-11eb-865a-21285de1331d.png)

Design:

![ui+color2](https://

[2021-01-21 00:21] Watson-B opened #870 "UI Update - Post Settings Dropdown going off the screen on Mobile"
On mobile, the dropdown for post settings currently goes off the screen. ![dropdown](https://user-images.githubusercontent.com/65913664/105256871-73dd1980-5b3b-11eb-9fad-2afe5a235c70.png)

[2021-01-23 10:03] vedmant commented on #859
@Watson-B Very cool, I like logical tree you created in Figma!

[2021-01-23 10:25] vedmant commented on #859
@Watson-B Also noticed that I can now export SVG from Figma, so no need to attach images.

[2021-01-23 12:17] vedmant commented on #859
There are some issues with adding custom icons to be used in Vuetify buttons, I'll need to move Vuetify into es module to make it able to compile required vue components. For now I can skip this and use Material Design Icons, they are a bit different.

[2021-01-23 12:51] vedmant commented on #859
@ikosovec I'll need to do all this modals together, they interdependent (https://github.com/ezl/dailyidea.com/issues/862 https://github.com/ezl/dailyidea.com/issues/861 https://github.com/ezl/dailyidea.com/issues/860)

[2021-01-23 13:17] vedmant commented on #859
@ezl Can I also do a bit of refactoring here, there are things that could be done better.

[2021-01-23 13:30] vedmant commented on #859
@Watson-B Also noticed that in the flow we are missing ask name dialog, this is when user doesn't exists.

@ezl @ikosovec Also I'll create another issue where I can list all the actual work I need to do for this list of issues.

[2021-01-23 13:40] vedmant opened #871 "New auth flow dialogs"
Here I'll add list of subtasks I need to do to complete #859 #860 #861

https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=340%3A1955&viewport=-1980%2C8906%2C0.5412866473197937

- [x] Update default dialog to new style
- [x] Update ask email dialog
- [x] Update ask name dialog
- [ ] ??? Move ask name dialog to after user returned and logged in to the site
- [x] Change appsync to

[2021-01-23 15:46] ikosovec commented on #835
Does this ticket need any more work @vedmant ?
If so, can we move it from "merged" to "up next"?
If everything's completed - we should move towards testing and closing it.

[2021-01-23 15:47] ikosovec commented on #865
This now looks good from my perspective.

[2021-01-23 15:47] #865 closed

[2021-01-23 15:49] vedmant commented on #835
I think this all done

[2021-01-23 15:51] ikosovec commented on #867
@Watson-B did this happen on the beta or on the production website?

[2021-01-23 15:54] ikosovec commented on #869
I think these cosmetical updates can be put to be worked on next. These do make the whole look & feel better.

[2021-01-23 16:13] ikosovec opened #872 "Remove image title/description from idea card"
Screenshot:
![image](https://user-images.githubusercontent.com/16639403/105607327-58be1400-5d9e-11eb-855c-bf9075a9e96b.png)

Let's remove this data.

[2021-01-23 16:18] ikosovec commented on #835
Thanks! :)

@Watson-B can we get one final approval from your end before we can close this ticket?

[2021-01-23 18:48] ezl commented on #867
@ikosovec -- in general, the best place to check bugs is beta -- beta is the most recent code. if it's in prod but not in beta, then it means it'll get fixed in the next release.

I haven't checked this, but overall, I can imagine this happening -- originally, we had like AND save as separate functions. Then we merged them into just a single thing. Then we separated them again.

Therefore it's ver

[2021-01-23 18:49] ezl commented on #868
@Watson-B - I just want to say I really love the illustrations you've done. :)

[2021-01-23 18:50] ezl commented on #869
i support it.

[2021-01-23 20:27] ezl commented on #859
re: refactoring -- sounds good, @vedmant - I trust your judgment on these decisions, so if you think it makes sense to do, let's do it.

[2021-01-24 11:47] vedmant commented on #859
@ezl Refactoring makes sense for project quality, especially when things were changed few times, without refactoring it's the way to the full mess in code.

[2021-01-25 02:02] ezl opened #873 "turn off card swiping during "edit" mode of an idea"
## Problem:

Device: Desktop

When editing the title of an idea, pressing the left or right arrow on the keyboard to move the cursor results in the card swiping action and the URL changing to the next/previous idea.

This is not the intended behavior.

## How to reproduce

Log in on desktop, find an idea that you can edit, try to edit the title. While your cursor is in the title field to edit it,

[2021-01-25 02:04] ezl opened #874 "Rethink UX for editing an idea"
Currently, we "edit in place".

I don't think this is the best. The "save" button is at the bottom and off screen. I believe the current "create new idea" UX is superior to this.

Not married to that, but I think it's at least an improvement. Leaving this card here as a placeholder for us to rethink this in the future.

This is the future step of the fix requested in #873

[2021-01-25 02:22] ezl opened #875 "Rethink scrolling / full screen view for ideas on desktop"
Currently, our desktop view for an idea shows VERY little actual content.

The idea is the star, but it currently only takes up about 20% of the total screen area:

<img width="1437" alt="Xnip2021-01-24_20-09-24" src="https://user-images.githubusercontent.com/157627/105653584-c8f19600-5e81-11eb-9453-e30b725fbd80.png">

This ticket is currently not ready for execution. Placeholder for discussion fo

[2021-01-25 09:30] vedmant commented on #871
@ezl There is another a bit complicated thing with moving ask name dialog after user returned to the site. To make this work properly I'll need to make this dialog global, for example in case user will not fill the name and close site then open main page for example, it must make sure that user has some name.

Alternatively I can add default name like "Anonymous" and if user skipped filling the na

[2021-01-25 09:44] vedmant commented on #871
@ezl Also as I understand we now remove dialogs like "You saved your first idea!", "You liked your first idea!", "We saved that idea for you!", "We liked that idea for you!" ?

[2021-01-25 18:00] Watson-B commented on #859
Hey @vedmant, apologies, I'm not sure I understand. We have this modal further on in the flow.
![image](https://user-images.githubusercontent.com/65913664/105746092-de9fa380-5ef3-11eb-8897-c7dddb3083e1.png)
Do you have something else in mind?

[2021-01-25 18:03] Watson-B commented on #859
In regards to the Material Design Icons, would that be a short-term solution until further down the road? I'm asking because the design language they use on that set is different than the language we use on ours, so mixing will create inconsistencies. Not a massive deal, but definitely not ideal.

[2021-01-25 18:13] Watson-B commented on #867
@ikosovec The prod site, but I just had it happen on the beta site too. When I refresh on the beta site though then it disappears, so I only get the first half of the issue.
![image](https://user-images.githubusercontent.com/65913664/105747517-b6b13f80-5ef5-11eb-903f-82a2745fd01f.png)

[2021-01-25 18:31] vedmant commented on #859
@Watson-B About name dialog, I also added comments here https://github.com/ezl/dailyidea.com/issues/871 this create quite some technical issues, so need to consult with @ezl if we should spend time on this.

Actually I just found a way to do this, so disregard this please.

[2021-01-26 18:37] ikosovec commented on #875
I was thinking about this for the last few weeks as well. Maybe we can keep the UX that has been present on internet threads for decades - and pull the comments down below the content?

Also, on this topic - thinking out loud - maybe we can adjust the currently existing design slightly, and use the cards as a _preview_ of the whole ticket? A pattern that can be found on news articles, forums, redd

[2021-01-26 18:41] ikosovec commented on #867
Thanks for the info @Watson-B - moved it to prioritize development

[2021-02-01 18:26] vedmant commented on #871
@Watson-B  I see there is "Back to login" button on resend dialog, what it should do?

[2021-02-01 18:55] Watson-B commented on #871
@vedmant Great call out, that was a relic from the previous flows we had, that slipped redesign. I think changing it to "close" might make more sense. My thought process here is that if the user is resending the link, it means they already have their inbox open, so they don't need to go back to "send me to inbox" modal. @ezl @ikosovec thoughts?

![image](https://user-images.githubusercontent.com/6

[2021-02-01 19:22] vedmant commented on #871
I tested it and looks like it's working good, this affects like / save / comment actions. I'll merge this for testing to proceed faster with this task, also waiting on questions.

[2021-02-01 19:25] vedmant commented on #868
Also covered this in https://github.com/ezl/dailyidea.com/issues/871 , for like / save / comment flow, other login flows have to be redone to use resend dialog.

[2021-02-02 15:36] ezl commented on #871
Regarding this name thing -- Don't make it global. I understand the problem. Let me discuss with @Watson-B. As I understand it, the options (if we don't make global) are:

(A) just don't ask for it before the email -- use a placeholder name (empty string or "Anonymous"). Then when the user clicks confirmation email link and returns to the site, we can force the user to enter a name
(B) ask for the

[2021-02-02 17:02] vedmant commented on #871
@ezl

Yes, the simplest option will be ` (B) ask for the name BEFORE the email (so we can populate it before sending)` to keep it as is.

Yes, lets create a ticket for that, I'd like to close this one faster. @ikosovec could you create one?

[2021-02-02 17:33] vedmant commented on #871
@ikosovec Could you also create a ticket for "Update global loader to include appropriate message for the action (like / save / comment)". Then this issue can be closed.

[2021-02-02 17:38] vedmant commented on #862
@Watson-B @ezl  Is it important to have slider implementation in the modal? Cause it will take quite some additional time to create simple swiper (I can't reuse cards swiper in the modal). It will save hour or two if I just use separate modals instead of slider.

[2021-02-02 18:42] vedmant commented on #863
@ezl I see this also has a new email for creating post, we didn't have that email before, this will require also some edits on backend to make it redirect to create idea, not sure if it should be done in this ticket or we create a new one?

[2021-02-02 19:45] ikosovec opened #878 "Remove dialogues and use banners instead"
Original discussion here: #871

I think the title is self explanatory. Please let me know if you need more help @vedmant! :)

[2021-02-02 19:45] ezl commented on #862
@vedmant - I'm not sure I understand the question. I want to make sure we're on the same page before we implement anything.

1. By "slider" do you mean the card flipping transition?

If so, then I'm willing to forgo the flipping, provided you close the original one and show the new one. Then at a future time, we can consider if we want to add some sort of transition.

2. You mention the "swiper" a

[2021-02-02 19:46] ikosovec opened #879 "Update global loader to include appropriate message for the action (like / save / comment)"
Original discussion here: #871

[2021-02-02 19:47] ikosovec commented on #871
On it! :)

Dialogues -> banners: #878
Update global loader to include appropriate message for the action (like / save / comment): #879

Closing this ticket!

[2021-02-02 19:50] ikosovec opened #880 "Create a new email for new post"
Figma design here: https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292
Original discussion thread: #863

[2021-02-02 19:51] ikosovec commented on #863
Opened it here: #880

[2021-02-02 19:55] ezl commented on #871
@ikosovec I re-opened this just for the final question around when to ask for the name.

@vedmant I understand the simplest is to just ask for the name before.

What if we just don't ask for the name -- but leave it `null` before the interaction. Then when the user comes back to the site, if the name is null, we force the dialog that asks them for the name?

[2021-02-02 23:15] vedmant commented on #862
@ezl I meant swiper analog, as it had dots below so I assumed, the first image when first modal has active dot on the left, and next active on the right, are those two different modals?

Missed in description that modal should flip to show copy to clipboard version, I think it should not be hard to implement unless there are some issues with vuetify as we use their modal. It makes it harder to imp

[2021-02-02 23:24] vedmant commented on #871
@ezl

One problem here is that before user typed his name his profile page will just not work, it has user name in the route (like /profile/sam), this might create issues. Generally should be ok if to prevent user do anything on the site unless he typed his name, but for this I'll need to create another page and middleware and redirect user there if it has no name. This still can create more issue

[2021-02-02 23:28] Watson-B commented on #862
@vedmant so the dots are just to convey to the user that they should expect a 2nd step (addressing who it's from) after they've completed the first step (where it's being sent). If the user clicks "copy to clipboard instead" that's when the modal would flip. Otherwise, if they enter the email address and click next, then it goes to the second step (asking who to say the idea is from), no flip need

[2021-02-02 23:31] vedmant commented on #862
@Watson-B So no sliding effect, it just opens new modal? Or replaces content in the current one?

[2021-02-02 23:42] Watson-B commented on #862
@vedmant correct, no sliding.

Since I'm unsure of the technical side of opening v. replacing, I have a couple of questions before I can answer those.
If it opened a new modal:
- Would it open on-top of the previous modal?
- Would there be a transition time as the first one closes and the second one opens?

Visually, I think it would look best to just have the next step instantly appear after they

[2021-02-02 23:56] vedmant commented on #862
@Watson-B You can see how it's done now on https://beta.dailyidea.com/i/o82uln/top-of-new-ideas-stack?category=new when you like idea and type not registered user modal, this is how it opens new modal.

Then I just replace content, it's also simpler than two modals.

[2021-02-03 17:05] ezl commented on #871
@vedmant ok understood -- in that case, let's just keep the flow where we ask for the name BEFORE the email, as is. But can you still use the styles that @Watson-B created? (so I think we'll just move the screen that asks for name from after the email to before the email).

[2021-02-08 16:56] vedmant commented on #869
@Watson-B  Few questions.

Ok, but it might be confusing, cause home page and explore pages are different pages, this cards we have on home page with url "/", and explore urls are "/i/sdfs/some-idea", that represent ideas swiper. If I set explore active on home page then it may appear that Explore link is not clickable, but it is and leads on explore page. What do you think about this @ezl ?

What

[2021-02-08 16:57] vedmant commented on #869
TODO

- [ ] Set alignment for the next/previous arrows to be centered vertically to the card
- [ ] Add drop shadow to the top nav.
- [ ] Different paddings?
- [ ] Explore menu item active?

[2021-02-09 19:28] Watson-B commented on #869
@vedmant re: Active Explore state; The point you make about making the explore link active makes it seem like it's not clickable to skip the welcome is a good point. I guess the confusion I'm having then stems from me conceptualizing the Welcome cards as a conditional state to put at the front of the explore flow when the user isn't logged in rather than the Welcome Cards being the "Home". So afte

[2021-02-09 19:38] Watson-B commented on #869
Re: the inactive states
It looks like it's been updated already on the beta site, I was referring to how on some pages the inactive states are black links and others gray.

[2021-02-09 19:40] Watson-B commented on #869
@vedmant Just want to clarify before I work on this, I'm going to take the screenshots you sent and using the respective card size in each, show how the design scales, correct?

[2021-02-09 20:03] vedmant commented on #869
@Watson-B

It looks like it's been updated already on the beta site, I was referring to how on some pages the inactive states are black links and others gray.

They are grey when user logged out.

Yes, to understand how it scales and also how it looks in different aspect ratios (like 2 to 1 or 1 to 1), as card can be wide and short in height (content can be scrollable also if needed) or can be alm

[2021-02-09 20:04] Watson-B commented on #869
@vedmant Sounds good, I will do that this afternoon.

[2021-02-09 20:10] vedmant commented on #869
@Watson-B  It was a task previously to make them gray when logged out, I think @ezl asked for this.

[2021-02-09 21:53] Watson-B commented on #869
@vedmant Mocked each [in Figma](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=576%3A2). Guessing the linked images were downloading at 2x, so did 1x on the left and 2x on the right. The first two linked images look good, it's really just the "very-large screen"; where the headline, subheader, and button move away from the top left, the arrows away from the bottom right, and

[2021-02-12 17:25] vedmant commented on #878
- [ ] Idea Liked!
- [ ] HOORAY! First Idea Liked!
- [ ] Idea Saved!
- [ ] HOORAY! First Idea Saved!
- [ ] Comment Posted!
- [ ] HOORAY! First Comment Posted!

- [ ] WELCOME! Use your arrow keys to browse ideas. ???
- [ ] WELCOME User Name! Use your arrow keys to browse ideas. ???

[2021-02-12 17:27] vedmant commented on #878
@Watson-B I see also new notifications like "WELCOME! Use your arrow keys to browse ideas. " and "WELCOME User Name! Use your arrow keys to browse ideas. " when they should appear and in what case "User Name" should be added?

[2021-02-12 18:05] vedmant opened #885 ""Check your gmail" button should search correct title depending on if it's new user or existing "Magic link" vs "Log in link""

[2021-02-13 11:44] vedmant commented on #869
@Watson-B I merged changes to dev, please check if it's correct now.

[2021-02-14 14:59] #872 closed

[2021-02-14 15:01] ikosovec commented on #870
This looks good on my device.
@watson-b since you reported the ticket, could you please check if this is fine on your device now?

I checked on both Samsung Note10+ and iPhone 12.

[2021-02-14 15:01] #870 closed

[2021-02-14 15:03] ikosovec opened #890 "Images not showing on "Saved Ideas" on profile"
Steps to reproduce:
- Save any idea
- Go to My Profile
- Go to Saved Ideas
Saved Idea:
![image](https://user-images.githubusercontent.com/16639403/107880292-2788bd80-6ede-11eb-8eb1-7cee843c053b.png)

Original idea:
![image](https://user-images.githubusercontent.com/16639403/107880300-2fe0f880-6ede-11eb-90c9-18564e9e52ee.png)

@Watson-B from a design perspective - is this the expected behaviour?

[2021-02-14 15:04] #867 closed

[2021-02-14 15:05] #862 closed

[2021-02-14 15:06] #863 closed

[2021-02-14 15:06] #868 closed

[2021-02-14 15:06] #860 closed

[2021-02-14 15:18] #861 closed

[2021-02-15 18:15] Watson-B commented on #878
@vedmant as reference the screenshots I'm linking here are from the [Messaging Tree](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292).

The "WELCOME! Use your arrow keys to browse ideas" & "WELCOME User Name! Use your arrow keys to browse ideas" texts are displayed on the banners after the action banner shows the confirmation of the initial intended action (idea lik

[2021-02-15 19:43] Watson-B commented on #890
@ikosovec Short answer, if we are showing preview text, I would also expect to see a preview image. I think there are arguments to be made for not showing an image though or if showing an image then having a formatted version (see bottom half of comment). One additional thing, if we don't include images in the preview though, is it possible to show preview text that comes after the image? Currentl

[2021-02-15 23:12] ezl commented on #890
@ikosovec -- I chatted with @Watson-B

We aren't sure what we want to do with this yet, so we want to discuss and think about it more thoroughly. For now let's leave it in icebox and Watson and I will address later and define a course of action.

[2021-02-16 09:37] vedmant commented on #879
- [ ] liking the idea...
- [ ] saving idea...
- [ ] posting your comment...
- [ ] going to Post...
- [ ] going to My Ideas...

[2021-02-16 10:26] vedmant commented on #879
@ikosovec @ezl

I see this section in Figma is also quite different from what we have now, there is new "Oops you’re not logged in." screen (on actual my ideas page? I see menu is active).

Also the same auth flow applied there, but currently it just redirects on separate login page. So before I can implement loading message "going to My Ideas..." I'll need to redo how authentication on my ideas p

[2021-02-16 14:32] vedmant commented on #878
@Watson-B

So just add another notification with this text every time after (idea liked, idea saved, comment posted, etc) notifications are displayed?

Ok, we previously actually had an explainer card for first time users, then we removed it and added to home page. So now we add a notification instead? Also then it means this notifications should show every time user opens Explore page?

[2021-02-16 22:00] ezl commented on #879
ok, sounds good, @vedmant. I see this issue is already merged, so we dont need to discuss the remaining "going to my ideas" issue.

@ikosovec can you ticket that separately please? After it's ticketed, please tag me. I'd like to discuss with @vedmant about what rewriting is required before we proceed on it. It's possible that we won't execute this if it's a significant change.

[2021-02-17 08:38] vedmant commented on #880
@Watson-B For the email, I'll reuse current email templates for login, they look a bit different from what you added to Figma, also they have light / dark modes.

[2021-02-18 22:23] #880 closed

[2021-02-18 22:23] #835 closed

[2021-02-18 22:24] ikosovec commented on #852
@vedmant could we close this ticket? Did we fix it?

[2021-02-18 22:24] #846 closed

[2021-02-18 22:24] #885 closed

[2021-02-18 22:24] #859 closed

[2021-02-18 22:26] #873 closed

[2021-02-18 22:32] ikosovec opened #894 "Design update - going to "My ideas""
Original thread: #879

@vedmant wrote:

@ezl I'm tagging you as we agreed - to continue the discussion here.

[2021-02-18 22:32] ikosovec commented on #879
Separate ticket: #894

[2021-02-19 08:35] vedmant commented on #852
@ikosovec Yes, it works ok now

[2021-02-19 08:44] vedmant commented on #894
There are following subtasks:

- [ ] My ideas page should open for not logged in user, and show "Oops you’re not logged in." card
- [ ] User new AuthFlow to authentication on my ideas page
- [ ] New separate email "Looks like you tried to visit My Ideas ..." ??

@Watson-B @ezl One question, do we really need separate email for almost each type of login? We already have 8 different emails just to l

[2021-02-22 17:17] Watson-B opened #895 "Missing arrow key text next to gif on beta site"
On the beta site, the cards are missing the "Use arrow keys to see next idea" text next to the gif in the bottom right.

Beta Site:
![image](https://user-images.githubusercontent.com/65913664/108744177-7e018780-74ee-11eb-8787-16a97a5f496e.png)
Design:
<img width="1480" alt="card-arrow-text" src="https://user-images.githubusercontent.com/65913664/108744303-a4272780-74ee-11eb-9fc7-6787c6d20e07.png">

[2021-02-22 17:20] Watson-B commented on #878
@vedmant Let me sync up with @ezl on this.
My thoughts currently though: Is there a way to structure it so that it doesn't display every time after the action notification is displayed? Since most actions require the user to be logged in, can we base showing the second set of text on if it is the first action taken since logging in? If a user is liking multiple posts, having a banner at the top we

[2021-02-22 20:02] ezl opened #896 "Implement welcome + instructions banner/notifications"
subtasks separated from larger ticket https://github.com/ezl/dailyidea.com/issues/878 to address separately.

in #878 @vedmant has already implemented (or will implement) the success confirmation banner notification and streamers.

This issue is for us to address the specific criteria and timing for firing the "press keys to view other ideas" banners.

In [Figma designs, page "Messaging Tree"](htt

[2021-02-22 20:04] ezl commented on #878
@Watson-B and @vedmant I have read your comments and I think the questions make sense and require us to think a bit more about it.

@vedmant -- you are correct, we previously had an explainer card, but we changed that from being the FIRST card when viewing ideas to being the LAST card in the "homepage" sequence. The consequence of this is that:

(A) in the "user visits home page and goes to view i

[2021-02-22 20:13] ezl opened #897 "What should happen if user cancels entering email address to post new idea?"
to replicate situation:
1. go to daily idea, not logged in
2. click on "post" - should be directed to enter email
3. try to cancel.

behavior i see:
(A) nothing happens if pressing cancel
(B) nothing happens if pressing "X" in upper right
(C) if clicking outside modal, goes to a blank page

objective:
define the intended behavior from this screen in the "sad paths"

<img width="971" alt="Xnip2021-

[2021-02-22 20:19] ezl commented on #894
@vedmant for now, please take no action on this flow. Based on your feedback, I'd like to review it with @Watson-B again first, then we will likely come back to discuss with you.

@Watson-B  I reviewed the CURRENT flow we have already, and to be honest, it already feels very close (from the USER experience, maybe not the actual code though).

Right now, in both the new Figma design and the current

[2021-02-22 23:20] #717 closed

[2021-02-22 23:54] Watson-B commented on #52
Thoughts - No search in site, search would be cool, searching by keyword would be great. Need search results page. Should results be a bunch, single? Does it enter swipe interface when they click on a result, pop into full idea.

[2021-02-23 08:35] vedmant commented on #52
@ezl I see you moved this to Up Next, I then Implement search without interface, just a simple page. For the proper text search I'll need to use something like Cloud Search, it will index DynamoDd data https://docs.aws.amazon.com/cloudsearch/latest/developerguide/searching-dynamodb-data.html . I'll spend some time to see how to connect this things.

[2021-02-23 09:15] vedmant commented on #52
@ezl I can't find proper example where everything is connected together, I think it's better if someone with good Appsync / Serverless knowledge will do this. For now I can just make simple DynamoDb scan if title or content contains exact query.

[2021-02-23 09:21] vedmant commented on #878
@ezl Ok, then I move this to Merged and work on #896 when it's ready for me to implement.

[2021-02-23 23:04] Watson-B commented on #878
@vedmant after talking with Eric yesterday, I updated the page [in Figma](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A1292) to include the different flows and banners.
For instances where it is the first time a user is taking a specific action (like, save, share) on their account we will show the follow up banner. Demo of how I'm envisioning the transition, I don't t

[2021-02-24 00:34] Watson-B commented on #875
@ezl @ikosovec I did some mocks exploring how to get more of the initial idea above the fold and different ways the comments can live "inside" the idea. One thing I stayed away from though was making the cards wider, and moving past optimal line length for readability.

**Full Idea / No comments**
<img width="1480" alt="full idea" src="https://user-images.githubusercontent.com/65913664/108926727-d

[2021-02-24 00:36] Watson-B opened #898 "Bug (beta site): Clicking Edit Idea on My Ideas Page does not do anything."
Steps to reproduce:
1. Log In
2. Go to My Ideas
3. Click options for an idea
![image](https://user-images.githubusercontent.com/65913664/108927493-3d406600-75f5-11eb-8c4f-ec39d2342f30.png)

4. Click edit idea

Nothing is happening when Edit Idea is clicked; however, delete and make private both work.

[2021-02-24 19:47] #852 closed

[2021-02-24 20:10] Watson-B commented on #896
Reposting my reply to #878 here.

For instances where it is the first time a user is taking a specific action (like, save, share) on their account we will show the follow up banner. Demo of how I'm envisioning the transition, I don't think it needs to be anything too extra. The key is to give the first message extra screen time since it will appear at the same time as the confetti. In total, this

[2021-02-24 20:35] ikosovec commented on #875
I prefer the full page display instead of the popup display.

The other propositions look good to me, and I don't really like the comments being on the right side (last image). Not sure if I've seen that position in any websites (I might be wrong!).

I think what we're leaning towards is similar experience which our target users are already getting on other non-idea-niche social media (Reddit, Fac

[2021-02-24 21:03] Watson-B commented on #897
@ezl I looked through how we are using all of our modals, "x", and cancel; and I propose the following change:
![image](https://user-images.githubusercontent.com/65913664/109065044-083d1d80-76a0-11eb-98e7-985850bdb6cd.png)
When the user clicks "Go Back" they are taken back to the Explore page, since that is the only path they have available when unauthorized. Everywhere else on the platform we are

[2021-02-24 21:08] Watson-B opened #899 "Update modal after posting an idea"
Current modal on the beta site:
![image](https://user-images.githubusercontent.com/65913664/109064346-28b8a800-769f-11eb-9d30-b4eee22f3267.png)

I updated the design [here] so that it matches the illustration style and share pattern that we are using elsewhere. (https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=687%3A2)
![image](https://user-images.githubusercontent.com/65913664

[2021-02-24 21:10] Watson-B opened #900 "Update delete idea modal"
Current implementation on the beta site:
![image](https://user-images.githubusercontent.com/65913664/109066139-79310500-76a1-11eb-807b-58d7c338e72a.png)

Updated the design [here ](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=687%3A2)to match our illustration style.
![image](https://user-images.githubusercontent.com/65913664/109066221-9b2a8780-76a1-11eb-90ca-353e9e1d6845.pn

[2021-02-24 21:48] vedmant commented on #898
@ikosovec Btw, what it should do, open a lightbox in edit mode?

[2021-02-24 21:55] Watson-B commented on #898
@vedmant @ezl wants to revisit the edit an idea flow. I'm finishing up the mocks for it and will post later today.

[2021-02-24 23:01] Watson-B commented on #745
@ikosovec Just wanted to check and see if this can marked as done? Tested by clicking explore on the beta site and since we've changed how we treat the explainer, this doesn't seem like it's an issue anymore, correct?

[2021-02-24 23:22] Watson-B opened #901 "Improving Post Experience"

[2021-02-24 23:25] Watson-B commented on #901
@ezl looked at removing noise from the UI while the user is typing out their idea. First example, shows the formatting options fading out while the user types, with the post button remaining.
![post-stays](https://user-images.githubusercontent.com/65913664/109079685-24e35080-76b4-11eb-9c93-8519a5b18e77.gif)
The second example explores what it would look like if post fades too, and what the automat

[2021-02-25 00:31] Watson-B commented on #874
Looked at some different ways we can improve the UX here. Tried the same popout v. full-page layouts used in #875.
User clicks edit idea...
![my ideas](https://user-images.githubusercontent.com/65913664/109080780-02523700-76b6-11eb-8518-62e0ccb7253b.png)
 ...and is taken to a new page to edit their idea;
![full screen edit](https://user-images.githubusercontent.com/65913664/109080262-18132c80-76b5

[2021-02-25 00:53] Watson-B commented on #844
![image](https://user-images.githubusercontent.com/65913664/109086522-91fce300-76c0-11eb-8afb-14d949d69d91.png)
Can you clarify @ikosovec? I think I'm misunderstanding the problem. I tried clicking the comment icon in the action bar when looking at My Ideas and leaving a comment once the idea was opened, both worked.

[2021-02-25 10:19] vedmant commented on #895
@Watson-B This text instruction was removed by @ezl https://prnt.sc/106fsr3 not sure if I should put them back?

[2021-02-25 19:12] Watson-B commented on #895
@vedmant Okay, I didn't know that. Let me check with him then.

[2021-02-28 20:28] ikosovec commented on #745
That is correct. I'm closing this.

[2021-02-28 20:28] #745 closed

[2021-02-28 20:29] ikosovec commented on #898
This is done through #874

[2021-02-28 20:33] ikosovec commented on #844
Looks like this has been fixed in the meantime. I'm closing this ticket.

[2021-02-28 20:33] #844 closed

[2021-02-28 20:53] Watson-B commented on #869
@vedmant @ikosovec Yes, the changes look good!  Apologies for the slow reply.

[2021-03-01 05:18] ezl commented on #895
@Watson-B  I removed that when I was working on the landing page.

I just made a snap judgment while working on it and decided:
(A)  icon itself would be sufficient
(B) the words take up a lot of room

I'm not married to it, so if you disagree, we can add it back. If it's not clear enough, we could try highlighting it more or putting an animation on it (though there are already a lot of moving ele

[2021-03-01 05:21] ezl commented on #874
For now, I DO want to move towards the editing happening in a full screen experience.

Regarding:
(A) hotkeys for power users
(B) photo placement

While those are within the edit screen, those are quite big and we need to break those into separate tickets. For those though, I'd like to hold off on executing them until later. @Watson-B can you create separate tickets for those issues please?

[2021-03-01 05:22] ezl commented on #901
👍

[2021-03-01 05:24] ezl commented on #897
agreed with your proposal.

lets not do the alternate proposal though:

[2021-03-01 21:26] ezl commented on #875
@ikosovec I will discuss this in my weekly meeting with @Watson-B

My gut feel on the full screen vs popup display though is that I prefer the popup display.

Since this is opposite of your intuition, I wanted to explain my perspective.

(A) Aesthetically, and as a STANDALONE screen, I prefer the full screen as well. However:
(B) In the context of the scrolling/swiping/browing pattern, I think it'

[2021-03-01 21:30] ezl commented on #52
@vedmant let me think about this as well. I will discuss with @shchoi22.

Personally, I do NOT want us to invest ANY more time into building this dynamodb/appsync stuff unless absolutely necessary. Right now I've started focusing on user acquisition.

However, I DO feel that search is important.

So one possible path is to create a separate service for search (possibly elastic search), which can b

[2021-03-02 02:46] ezl opened #902 "hover states on desktop left/right buttons on browse"
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/157627/109588861-070c5600-7acf-11eb-84ed-01cdb0a5f0d6.png">

cc @Watson-B

[2021-03-02 08:34] vedmant commented on #52
@ezl Sure, however integration with Elasticsearch on Django and AWS are totally different things, the most work is for configuring database indexing, so even if we do this in AWS, in will need total rewrite when moved to Django.

[2021-03-02 20:07] #869 closed

[2021-03-02 20:16] ikosovec opened #903 "Comment entry on full screen idea view"
Original ticket: #875

Separating this into a new ticket focused only on comment entries with "full screen" idea views.

[2021-03-02 20:17] ikosovec commented on #875
Created a new ticket as proposed here: #903

[2021-03-03 14:01] ezl commented on #52
understood. for now lets do nothing on idea search then.

i've asked @shchoi22 to help me consider approaches for the rewrite so I may execute that sooner than originally intended.

[2021-03-04 15:23] ezl opened #904 "Standalone comment entry pages"
Separated from multi-issue discussion https://github.com/ezl/dailyidea.com/issues/875

In the above issue we are changing the idea detail display. This will require us to update the comment entry style, but since this is not yet decided how we will do it, creating a separate ticket for the screens/flows required for that.

[2021-03-04 15:23] ezl opened #905 "Resizing images within ideas"
In #875 @Watson-B discussed potentially allowing image resizing.

Created this separate ticket for discussion since it is a separate issue.

This isn't fully formed, nor have we decided to execute it. It may be tied in with ticket of using a different WSYWIG editor: #485

[2021-03-04 15:25] ezl commented on #903
oops, i didn't see that ~ikosovec created this idea. I duped it in #904

[2021-03-04 15:25] ezl commented on #875
Thank you for creating the new ticket regarding the full screen view, @ikosovec.

I've discussed this with @Watson-B and I no longer feel strongly about my initial gut choice of having the overlay (style "pop out" from above.

After discussion with @Watson-B we decided on "Full Page Idea", which is more in line with @ikosovec original thoughts. Rationale: Reddit and basically all "forum" sites ess

[2021-03-04 15:35] ezl opened #906 "when editing idea text, left/right is paginating ideas"
# Problem

When entering "edit an idea" from idea scrolling ("explore mode") left/right keypress is still causing the idea card below it to swipe left/right (and the idea url is changing).

# To Replicate

You must go to "explore ideas" then find an idea that you have permission to edit, then edit it. It does NOT occur, if you enter the idea edit mode from your own profile (this is a separate issu

[2021-03-04 15:36] ezl opened #907 "tech debt - remove ideas/all endpoint"
I typed dailyidea.com/ideas/all in to the browser, and an empty page loaded.

I believe this is a legacy endpoint (page) that is deprecated now that we have our "one idea at a time" scroll pattern.

Remove deprecated page.

[2021-03-04 23:25] Watson-B commented on #895
I think those are fair arguments, I'm okay with leaving it out. Going to close this then.

[2021-03-04 23:25] #895 closed

[2021-03-04 23:44] Watson-B commented on #902
Good catch, it was in the prototype but hadn't caught that it was on live. The default state is on the left and uses #A7A7E7. On hover, it fades to the icon on the right which uses #5A41BA for the stroke and #E8E8F4 for the fill.
<img width="189" alt="hover-sample" src="https://user-images.githubusercontent.com/65913664/110045722-f7278880-7cff-11eb-9147-e9bda67e3cb9.png">

[2021-03-04 23:50] Watson-B opened #908 "Hotkeys when creating and editing an idea"
Originally referenced in #874, currently holding off on implementing these until a later date.

<img width="1480" alt="quote-hover" src="https://user-images.githubusercontent.com/65913664/110046493-f8a58080-7d00-11eb-8002-88c2e460e713.png">

[2021-03-05 00:02] Watson-B opened #909 "Image Placement"
Originally referenced in #874 and ties into issue #905, creating a breaking it into a smaller issue just focusing on how the images move.

image. I have two approaches in mind. First, take a page out of Google Docs, and allow images to be resized and to have text wrap.

<img width="1480" alt="wrap" src="https://user-images.githubusercontent.com/65913664/110047520-e3315600-7d02-11eb-866f-1c37a91422

[2021-03-05 00:13] Watson-B commented on #894
@vedmant I spoke with @ezl about the emails and "Oops you're not logged in" flow for My Ideas, and we decided to add this last email. Regarding future changes, now that we have the redesigned flow and the messaging is in line with what we're looking for in a guided experience there shouldn't be any changes to these anytime soon.

[2021-03-05 00:17] Watson-B commented on #897
@ikosovec we got the go ahead to move forward with this.

[2021-03-05 00:22] Watson-B opened #910 "End of stack: User's Ideas"
Future issue once tags and follow have been implented. Discussed with @ezl in reference to #710 Will explore again at a later date.
<img width="1480" alt="card3" src="https://user-images.githubusercontent.com/65913664/110049016-d4986e00-7d05-11eb-988d-280992e8c2c1.png">

[2021-03-05 00:23] Watson-B opened #911 "End of Stack: Tags"
Future issue once tags and follow have been implemented. Will explore again at a later date.
<img width="1480" alt="card4" src="https://user-images.githubusercontent.com/65913664/110049093-fe519500-7d05-11eb-9551-1da8586954eb.png">

[2021-03-05 16:45] Watson-B opened #912 "Reference other users when posting and idea or comment"
Allow users to reference other users when posting using the "@" pattern
<img width="1480" alt="full screen edit" src="https://user-images.githubusercontent.com/65913664/110146041-f2f67c00-7d8e-11eb-8a2a-0e5a27d77988.png">

[2021-03-05 16:46] Watson-B opened #913 "Allow users to reference other ideas when posting/commenting"
Similar to #912, using {} to allow users to link other ideas when posting an idea or commenting.
<img width="1480" alt="full screen edit-2" src="https://user-images.githubusercontent.com/65913664/110146322-4799f700-7d8f-11eb-8f9d-ff561574e5a8.png">

[2021-03-05 16:48] Watson-B opened #914 "Allow users to tag their ideas and comments using "#""
Similar to #912 & #913, allow users to use "#" pattern to tag their comments and ideas.
<img width="1480" alt="full screen edit-1" src="https://user-images.githubusercontent.com/65913664/110146598-9e9fcc00-7d8f-11eb-99ca-7cabfa5e5519.png">

[2021-03-05 17:40] Watson-B opened #915 "Quoting when replying to comments/posts"
Not ready for implementation now, saving for the future when we can see how users are interacting with the site.
<img width="1480" alt="quote-hover" src="https://user-images.githubusercontent.com/65913664/110152529-b9c20a00-7d96-11eb-98da-4075ab68ec79.png">
<img width="1480" alt="idea full page" src="https://user-images.githubusercontent.com/65913664/110152531-ba5aa080-7d96-11eb-9ca2-c11dd60d0f4a.

[2021-03-05 17:53] Watson-B opened #916 "Full screen edit Idea page"
Originally referenced in #874 along with other topics. Closing that and opening this for clarity's sake. @ezl gave the go ahead on doing a full screen design for the edit page. The edit page/experience should resemble the post page, with an update to the button text (changing from Post to Update)
![full screen edit](https://user-images.githubusercontent.com/65913664/110153924-82ecf380-7d98-11eb-9f

[2021-03-06 17:20] ezl commented on #564
closing. this is very old and it's not clear to me we have an issue with cookie age.

[2021-03-06 17:20] #564 closed

[2021-03-08 15:14] ezl commented on #912
to clarify, this is an idea for the future -- not ready for execution yet (as of 3/8/2021)

[2021-03-09 09:16] vedmant commented on #899
@ikosovec @ikosovec So this is basically a share idea modal, but with "Idea Posted" text instead?

[2021-03-09 10:12] vedmant commented on #779
Ok, I edited css property. Not sure if I need to do anything else in scope of this issue, moving to merged.

[2021-03-09 10:40] vedmant commented on #906
@ezl This is a bit complicated, I already stoped left, right keys propagation, but it only works when some editable field is in the focus. Otherwise left, right keys events are fired only on top window level. So to prevent this I'll need to add a global switch to vuex to switch off/on swiper. It's not hard to do, but will require additional time and I'm not sure if it's necessary as left, right wh

[2021-03-09 14:24] ezl commented on #898
the idea was that edit should lead to editing the idea. Currently, clicking on it doesn't nothing at all.

@vedmant I believe this will be resolved by https://github.com/ezl/dailyidea.com/issues/916 if we move this to a full screen.

[2021-03-09 21:11] ikosovec commented on #899
Yes, I'd say so.

[2021-03-09 21:13] ikosovec commented on #906
I guess we can then deprioritize this ticket and close it? Since the logic and layout will change in #916

[2021-03-09 21:13] #906 closed

[2021-03-09 21:14] ikosovec commented on #898
We can probably deprioritize this as well since #916 will change the logic and layout.

[2021-03-09 21:14] #898 closed

[2021-03-10 10:36] vedmant commented on #916
@ezl I agree, it's simpler to do a separate page and less possible bugs.

[2021-03-10 13:43] vedmant commented on #916
Subtasks:

- [ ] Refactor idea page into a reusable component
- [ ] Create edit idea page, load idea by ID with fetch
- [ ] Update all edit links to navigate to edit page
- [ ] Clean up old edit idea components

[2021-03-12 18:03] ikosovec commented on #679
I think we can close this one with all the new flows. Right?

[2021-03-12 18:04] #755 closed

[2021-03-13 09:29] vedmant commented on #894
@ikosovec @ezl There is another issue here, user own profile page is basically on the same URL as any other profile. Means the same page like http://localhost:3000/profile/vedmant works as other user profile preview as well as own user profile page. If I require user to authorize to open this page means user will not be able to view any other user profile page.

There are two options how to solve

[2021-03-13 09:31] vedmant commented on #790
@ikosovec I think this makes sense to do only after backend rewrite, this is mostly backend work.

[2021-03-13 09:34] vedmant commented on #807
@ikosovec @ezl I think not it's easier to implement as I added global loading message to Vuex, I can also add an option to replace image for next page load the same way.

[2021-03-13 09:37] vedmant commented on #509
@ezl Currently since we use Wercker most of the variables added globally for all environments, also there is no point to spend time on this if we going to rewrite backend.

[2021-03-13 09:38] vedmant commented on #485
@ezl @ikosovec Also mentioned about this here #909

[2021-03-13 09:38] vedmant commented on #909
vedmant  12:50 AM
@Ivan Kosovec @ezl It will require to replace editor with something like https://tiptap.dev/ and create custom component for images, rewrite images / files uploading, not sure how much time it can take, maybe around 5-10 hours

vedmant  12:57 AM
Maybe it’s also possible with trix, but I have experience with tiptap, plus I think it’s better in general, also it’s written in Vue and

[2021-03-13 09:58] vedmant commented on #415
@ikosovec I can work on this.

Some info for myself: https://github.com/vuetifyjs/vuetify/issues/9994

[2021-03-13 10:01] vedmant commented on #679
@ikosovec @ezl It just redirects to old login page, new auth flow is not used here. To do the same as with like/save it will require quite some work, plus probably new email templates for every action.
If we do the same auth flow everywhere, maybe it makes sense to create a simple email template where just message replaced.

[2021-03-14 18:40] ikosovec commented on #807
Let's move it up on the priority list then. :)

[2021-03-14 18:40] ikosovec commented on #509
Moving back to Icebox.

[2021-03-14 18:42] ikosovec commented on #909
I suggest going with tiptap since @vedmant has experience in it already and from technical perspective he suggest we move forward with it.

[2021-03-14 18:42] ikosovec commented on #485
I suggest going with tiptap since @vedmant has experience in it already and from technical perspective he suggest we move forward with it.

[2021-03-14 18:45] ikosovec commented on #894
I'd go with the one option you think would be best.

[2021-03-15 02:47] ezl commented on #807
agreed, let's do it. 👍

[2021-03-15 02:49] ezl commented on #790
Agreed with @vedmant -- this will be after a backend rewrite (soon).

This will be rolled into a future design card, so for now I'm moving this out of the Dev kanban completely and into Design since it is now a topic of discussion for @Watson-B  and I

[2021-03-15 03:09] ezl commented on #894
i think we have some miscommunication on this issue now, so please do not take any action.

@vedmant my goal is to make as few changes to [this particular "branch" ("User Clicks My Ideas") in the Messaging Tree page of Figma](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=202%3A3978) as possible.

To help me with that, can you get some information for me please?

(A) From wha

[2021-03-15 03:40] ezl commented on #485
closing this as it will be resolved by #909

[2021-03-15 03:48] ezl commented on #909
I'm personally a little bit wary of the tiptap rewrite. While I think we'll likely do it eventually (if so, maybe just do it now), what I'm worried about is **"what are we solving, what are we risking?"**

So first, let's be clear about what we're GAINING:

1. Image sizing / placement as per @Watson-B's screenshots
2. ctrl-z problem that we ignored from #452
3. more control over the toolbar
4. eas

[2021-03-15 03:54] ezl commented on #679
agreed. not ready for execution. @Watson-B and I have discussed "Follow" functionality, and we realize a lot more work is required. Removing this from dev kanban and reopening it in design kanban where it will be a placeholder for discussion.

this will eventually be closed and replaced by more thoughtful and direct instructions for execution.

[2021-03-15 03:55] ezl commented on #415
perfect. when you create the PR, can you please tag @aldarund on this PR since he created the original ticket?

[2021-03-15 08:21] vedmant commented on #894
@ezl

(A) Yes, currently it redirects to /auth/unauthorized and this is a generic page, from the screen on Figma I understood that not logged in screen is specific to My ideas page, and so is located on /profile/{username} page (and to make specific authentication for My ideas this have to be specific not logged in screen for  /profile/{username} page only). And this is where the issue arises,  /p

[2021-03-15 08:35] vedmant commented on #909
Potentially we can add any feature, like people mentions, other ideas mentions (https://tiptap.dev/suggestions), markdown shortcuts (https://tiptap.dev/markdown-shortcuts, something like Slack has) any custom elements like todo or checklists, embeds, etc...

For me it's much simpler to work with Tiptap than with any other editor, especially when it should be fully customized.

Yes, I already worke

[2021-03-15 09:46] vedmant commented on #415
@ezl @aldarund  OK, done, I used a bit simpler option, just mapped vuetify vars to our vars to avoid updating all media queries.

Also added extract css option as we have quite large vuetify styles > 300kb, it will work better with separate css files instead of including all css in js files.

[2021-03-15 16:24] ezl commented on #909
ok, this is a no brainer. I'm ready to execute this. Let's go for it.

In that case, I believe there are several components to this:

1. replace trix with tip tap
2. make images controllable as described by watson
3. then also fix #452 which we originally closed because we don't think it's feasible with trix

[2021-03-15 16:33] ezl opened #926 "?next get args?"
Should we consider allowing for get args like `?next=/profile/me` or `?next=/idea/blah-blah`

or do we have that?

for after redirects on auth events?

example of this in django: https://stackoverflow.com/questions/3441436/the-next-parameter-redirect-django-contrib-auth-login

[2021-03-15 16:34] ezl commented on #894
ok, thanks for updating me here. based on your responses, I am going to close this issue in favor of:

1. NOT changing the actual entire **FLOW** for an unauthenticated user clicking on "my ideas" button in nav -- I believe the current flow is sufficient for now without a custom flow for this use case.
2. Creating just a single custom **PAGE** for an unauthenticated user that clicks the "my ideas"

[2021-03-15 16:34] #894 closed

[2021-03-15 16:38] ezl opened #927 "Update default "unauthorized" page"
## Problem

currently we have this in production
<img width="534" alt="image" src="https://user-images.githubusercontent.com/157627/111187986-8cd5da00-8582-11eb-8409-7df98ba51e66.png">

This style doesn't seem consistent with our other images.

## How to replicate

one way to access this page is to go to dailyidea.com while NOT authenticated, then click on "my ideas" in the top nav. in general you

[2021-03-15 16:47] ezl opened #928 "Create separate single page for if unauthorized user clicks on "My Ideas" in top nav"
(Replacement for trying to replace the entire FLOW for if an unauth user clicks on My Ideas, from https://github.com/ezl/dailyidea.com/issues/894)

Currently, in the top nav, if the user is not authenticated, the "My Ideas" link destination is hard coded to the generic "not authetnicated page" : https://github.com/ezl/dailyidea.com/blob/045b928510bd50d1c0b640341ba83470cff756a9/front/components/lay

[2021-03-15 16:50] ezl opened #929 "Share in FB messenger / Twitter"
Add share on FB + twitter functionality

<img width="858" alt="image" src="https://user-images.githubusercontent.com/157627/111192961-a4639180-8587-11eb-92d6-f4d9131786a1.png">

@vedmant you can start working on the functionality?

@Watson-B can you mock up this screen for desktop with the FB and Twitter buttons added? (i don't think we need this for mobile, because on mobile we're already trigger

[2021-03-15 16:51] ezl opened #930 "Change url on idea focus view"

[2021-03-16 07:52] vedmant commented on #928
@Watson-B A question about size and vertical alignment of this cards when screen size changes. For example right now it has fixed padding from the top and width is 70% of the screen (https://prnt.sc/10mzz66 https://prnt.sc/10mzzgo). But this might be not what you intended in the design, could you describe this more detailed?

[2021-03-16 08:15] vedmant commented on #930
@ezl Makes sense, should be quite simple to implement.

[2021-03-16 09:19] vedmant commented on #485
@ezl I'll work on integrating Tiptap in this issue, then in #909 I'll add image resize function.

[2021-03-16 11:25] vedmant commented on #485
Todo list:

- [ ] Create a wrapper component for Tiptap, add menu bar according to design
- [ ] Fix content scroll with top/bottom fade
- [ ] Images / attachment uploading, deleting

[2021-03-16 13:28] vedmant commented on #929
@ezl There is no much I can do before I see how it looks in the design, adding share popup is simple.

[2021-03-16 22:33] Watson-B commented on #929
@ezl a couple of passes on how this could work.

First, would be the pattern sites like giphy, pinterest, and techcrunch use.
Pros: This is a common pattern, and doesn't make assumptions about how a user prefers to share.
Cons: Requires an extra click to share via email.

![image](https://user-images.githubusercontent.com/65913664/111388328-4ceb2180-866c-11eb-87fb-38d21eeea5bb.png)

The second wou

[2021-03-17 00:21] Watson-B commented on #928
@ezl I don't think it's too much, I think we just need to find the right copy. I took a few stabs at it, but I don't think I've found the right tone yet.
![why-1](https://user-images.githubusercontent.com/65913664/111395004-1a93f100-8679-11eb-902e-b656312e95f3.png)
![why-2](https://user-images.githubusercontent.com/65913664/111395006-1b2c8780-8679-11eb-856f-16be6e739f54.png)
![save](https://user-i

[2021-03-17 00:33] Watson-B commented on #927
@ezl How about this? That way it keeps the pattern the same as the unauthenticated My Ideas page, but uses generic copy. I'm happy to do a custom illustration for this, but I felt like this one fit.
<img width="1480" alt="generic" src="https://user-images.githubusercontent.com/65913664/111396995-7eb8b400-867d-11eb-8445-8dfca41b48ee.png">

<img width="130" alt="lightbulb-unlock" src="https://user-i

[2021-03-17 10:56] vedmant commented on #909
Images resize example https://glitch.com/edit/#!/toothsome-shoemaker?path=README.md%3A1%3A0

[2021-03-17 14:10] vedmant opened #933 "Tiptap image extension: uploading progress bar"
Implement uploading progress bar for tiptap images uploading

[2021-03-17 14:40] ezl commented on #929
let's go with the first pattern (all 3 in line, require extra click for email).

[2021-03-17 14:58] ezl commented on #928
Let's not let the copy stop us from allowing @vedmant to have a "My Ideas" specific unauthorized page.

@vedmant please proceed with:

main: Oops you're not logged in.
subtext: Save the best ideas on the internet to read later with an account

[2021-03-17 15:15] vedmant commented on #926
@ezl Yes we use next query param for redirects: https://github.com/ezl/dailyidea.com/blob/012aa5dfc8cd2208f9b1c71b2ea6cf6fe0de7e5e/front/pages/auth/verify.vue#L82

[2021-03-17 15:17] ikosovec commented on #926
Awesome, thanks for the quick reply. Closing!

[2021-03-17 15:17] #926 closed

[2021-03-17 15:22] #903 closed

[2021-03-17 15:22] ikosovec commented on #903
Closing this one in favour of #904

[2021-03-17 15:27] ikosovec commented on #929
I also really like the 1st option the best. :)

[2021-03-17 15:35] ikosovec commented on #927
Are we sure we want that?
From a psychological perspective (which is part of my expertise), crying is an overwhelmingly negative emotion. Something that's so negative that it takes over a physical form. It's not like anger, which sometimes can be hidden - crying usually represents something very bad.

When trying to reach out to users' emotions, it's usually like this:
- Make a positive emotion wh

[2021-03-17 16:19] ezl commented on #875
(A) the original purpose of #875 based on the screenshot I posted in the original ticket creation is to make it so while SWIPING/SCROLLING through ideas on desktop, you can see MORE of the idea content.

(B) Watson created a bunch of really nice screen options, but I failed to understand that there were two TYPES of screens. the first 3 he proposed are for the "swiping" view. Then the rest are for

[2021-03-18 09:33] vedmant commented on #485
@ezl Some thoughts about adding / removing images while editing. I think deleting attachment and ctl-z issue have to be rethought.

Previously ctl-z issue was solved by re-uploading image again after it deleted, but the problem here is that it works only for uploaded images during current editing session, if idea is edited next time, it can't reupload image as it didn't upload it during that editi

[2021-03-18 14:11] ezl commented on #927
@ikosovec interesting perspective. for me, the crying emoji is kind of funny. but everyone has different preferencs and i don't others to feel negatively about DI.

@Watson-B do you have a perspective on this?

[2021-03-18 15:58] Watson-B commented on #927
@ezl While I don't see the crying emoji as a genuinely sad emotion (I feel like I end up using it when I'm joking) I agree with @ikosovec that I don't think we should use something that could be perceived as a negative emotion. I'll make the edits you suggest, but I'll also go back to the drawing board and see if I can sketch something out that is bespoke for this page, and captures the feel of wa

[2021-03-18 19:52] ikosovec opened #934 "Behaviour when undoing adding attachments."
Original discussion ticket: #485

@vedmant 's comment:

[2021-03-18 19:52] ikosovec commented on #485
I have created a new ticket for this - #934

[2021-03-20 16:09] Watson-B commented on #904
@ikosovec I talked with @ezl about this, and we are going to go with the following comment style.
We are going to remove comments from the swiping view and the full page view. On the full page view, the comments and "join the conversation" input will be replaced by a link "view all X comments" or "start the conversation" if there are no comments. When the user clicks the comment icon it will open

[2021-03-21 14:58] ikosovec commented on #904
Thanks for the info @Watson-B!

[2021-03-22 14:13] vedmant opened #935 "Creating idea: AWS backend doesn't save HTML as it's passed from editor"
Here is what passed to backend:

[code]

Here is what then idea has in database:

[code]

`figure` tags are taken out of paragraphs (probably done by sanitizer?)

Following https://github.com/ezl/dailyidea.com/issues/485

[2021-03-22 14:14] vedmant commented on #935
@ezl @ikosovec Noticed this issue

[2021-03-22 14:28] vedmant opened #936 "Tiptap editor bugs and improvements"
Following https://github.com/ezl/dailyidea.com/issues/485

- [x] Fix issue with placeholder when only image added
- [ ] Support images and attachments added by trix ?
- [ ] Support for multiple files selection from attachment button ?
- [ ] Support copy-paste for images / files ?

[2021-03-22 14:30] vedmant commented on #936
@ezl Few questions, is it important to make new editor support editing older ideas? Specifically this is images and attachments added by trix, I'll need to create custom prosemirror nodes for them.

[2021-03-22 14:43] vedmant commented on #935
Looks like figure element supposed to be block only https://stackoverflow.com/a/5163443/1753349 so I can fix this by replacing figure with span.

[2021-03-23 03:58] ezl commented on #936
@vedmant will the older images still be DISPLAYED in the ideas, even if the new editor can't access or edit it?

[2021-03-23 07:47] vedmant commented on #936
@ezl Yes, ideas are ok, only editor is not reading that images, so if to edit older idea it renders image from trix this way https://prnt.sc/10t7mhz . It's not that hard to add support for trix images, maybe an hour of work.

[2021-03-23 08:58] vedmant commented on #894
I'll remove this from project since it's closed

[2021-03-23 13:33] ezl commented on #936
@vedmant no need to add support for previous images still. Very small corner case, and once we change, it will end up being legacy code

For the case of users needing to edit old ones, they can still just download it since it's being displayed then reupload it using the new editor.

Thanks for being thoughtful and thinking about this though.

[2021-03-23 13:33] #936 closed

[2021-03-24 01:01] Watson-B commented on #710
@ikosovec Card design for the end of a deck. Clicking the "Back to the top" button will take the user back to the first card in the stack.
<img width="1480" alt="end of stack" src="https://user-images.githubusercontent.com/65913664/112238349-b5547880-8c01-11eb-9442-4b2047bfa39f.png">

Illustration PNG
<img width="320" alt="illustration" src="https://user-images.githubusercontent.com/65913664/11223

[2021-03-24 01:07] Watson-B commented on #843
@ikosovec I tried a few things here; when I was first working on an update for this pre-social sharing for DI, I did an illustration of to pair with the email input. Adding it to the social share modal is making things feel busy though.
**busy social share**
![idea posted- illustration](https://user-images.githubusercontent.com/65913664/112238707-6824d680-8c02-11eb-9b2e-c26f57171895.png)

**origin

[2021-03-24 01:43] Watson-B opened #943 "Rotating quotes in emails"
**Issue:** @ezl pointed out that the quote in the Week in Numbers and log in email (from beta site) stays the same. "Daring ideas are like chessmen moved forward. They may be beaten, but they may start a winning game." Can we update this to rotate and feature a random quote from [this spreadsheet](https://docs.google.com/spreadsheets/d/1tB4AQWBD3zACNq8RauMWDFLnHf5chKOQ-PU28IJYlEE/edit#gid=0)
**Wee

[2021-03-24 02:15] Watson-B opened #944 "Slow loading time when logging in"
@vedmant, @ezl and I were discussing the load times and potentially using them as a time to show users tips about tagging or quotes on ideas. Talking about it though, we realized the macro issue was that load times are a bit slow when logging in. I ran a rough test logging in from the "don't worry it's me" magic link 10 times and clocked an average of 4.93 seconds. I ran the test without clearing

[2021-03-24 09:07] vedmant commented on #944
@Watson-B Yes it loads quite slow and the bottleneck is AWS Cognito here, this will work much faster when we switch to Django backend.

Here is more details about steps for AWS signin:

cognito/signInUser 2021-03-24T09:02:57.915Z
cognito/answerCustomChallenge 2021-03-24T09:03:02.307Z
userData/fetchUserData 2021-03-24T09:03:03.419Z
finished login 2021-03-24T09:03:03.420Z

So it's like 6 seconds to

[2021-03-24 11:41] vedmant commented on #909
Ok, it took a bit more time, I had to rewrite that example completely as I couldn't figure out hot to pass prosemirror nodeView to tiptap, there were issues with selection as well, but not this looks much cleaner and I made is as a Vue component.

There is one issue, looks like backend html sanitizer removes width style from images. I'll need fo fix this as well.

[2021-03-24 12:21] vedmant commented on #909
There is one thing left, I see in examples image floating is also can be changed, it will be another task that also may take significant time. Should we create another ticket for this?

[2021-03-24 14:36] ezl commented on #909
what do you mean about "floating" -- can you create a separate ticket for that please @vedmant ?

[2021-03-24 14:39] vedmant commented on #909
@ezl I mean this:
<img width="359" alt="Screenshot at Mar 24 16-38-42" src="https://user-images.githubusercontent.com/5052406/112328967-738a0780-8cbf-11eb-993b-fee4616a82bc.png">
<img width="602" alt="Screenshot at Mar 24 16-38-53" src="https://user-images.githubusercontent.com/5052406/112328982-74bb3480-8cbf-11eb-9a1c-e753d1e23a9f.png">

Also it has floating menu, tiptap has support for this, but

[2021-03-24 14:56] ezl commented on #843
agree that it feels busy.

idea:  can you try reducing size of the icons (40%) and removing labels for the icons in the "busy" (first one with light bulb heads AND icons)? I think the size is competing with the images.

Also, can you invert the email icon so it's a dark circle with a light stroke to mirror the fb/twitter ones? @Watson-B

[2021-03-24 15:32] ikosovec commented on #710
@Watson-B is this approved for development?

[2021-03-24 15:33] ikosovec commented on #943
@vedmant can you look into this please?

[2021-03-24 15:34] Watson-B commented on #843
Like this? @ezl ![post-share](https://user-images.githubusercontent.com/65913664/112337947-9eeb0300-8c7b-11eb-8226-073e14878bfb.png)

[2021-03-24 15:37] ikosovec commented on #909
From Slack discussions - we have concluded that we do not need a text wrapper.

[2021-03-24 15:39] ikosovec commented on #843
This looks better imho, but still feels 'busy'.

I personally prefer the approach without the illustration - it looks cleanest to me.

[2021-03-24 16:34] ezl commented on #710
Approved!

[2021-03-25 08:09] vedmant commented on #929
@Watson-B There is one issue, this dialog is flippable, means other side have to be the same size as front side, you made it much taller other side will be half empty.

[2021-03-25 23:14] ezl commented on #843
i'll defer to @ikosovec's decision. :) you choose.

[2021-03-26 03:27] Watson-B commented on #944
Okay, in that case until we do the backend rewrite, can we add rotating quotes to the loading screen without slowing things down even more?

Something like this:
<img width="1480" alt="quote on load" src="https://user-images.githubusercontent.com/65913664/112572890-6dbc2100-8da8-11eb-9c73-96debef7e5dd.png">

[2021-03-26 03:38] Watson-B opened #949 "Update to idea focus view and comment placement"
Discussed the changes to the placement of comments and the full screen idea view with @ezl and we settled on the following. For reference, there is a basic click-through [here](https://www.figma.com/proto/TQDE3BG42EBzwupE1FLAtK/full-idea-comment?node-id=8%3A0&viewport=673%2C319%2C0.1138617992401123&scaling=min-zoom&page-id=0%3A1). In the default swipe view, we will remove comments and the idea wil

[2021-03-26 03:46] Watson-B opened #950 "Unintended behavior: Saving an idea as an unauthorized user"
Encountered some unintended behavior with the confirmation/take me to my inbox modal not showing as an unauthenticated user on the beta site. When you click on the bookmark to save an idea, the modal asking for you email address pops up. After you enter your email address and click submit, the modal closes without any confirmation of the [next modal ](https://www.figma.com/file/VTAWAu8G6jtzpWYulfp

[2021-03-26 08:50] vedmant commented on #944
@Watson-B Sure, I can add random quote from the list, where to I get list of quotes?

[2021-03-26 15:26] Watson-B commented on #944
@vedmant Awesome, thanks! We can use [this list](https://docs.google.com/spreadsheets/d/1tB4AQWBD3zACNq8RauMWDFLnHf5chKOQ-PU28IJYlEE/edit#gid=0).

[2021-03-26 17:16] Watson-B commented on #904
Updated and broken apart in #949

[2021-03-26 17:16] #904 closed

[2021-03-26 17:17] ezl commented on #875
no longer necessary. since #949 supercedes

[2021-03-26 17:17] #875 closed

[2021-03-26 17:20] ikosovec commented on #949
@vedmant you can start implementing this. @Watson-B will think of a microtransition animation between fullscreen and popup modes and will add it additionally. The microtransition shouldn't block the functional part of this, right?

[2021-03-26 17:23] #574 closed

[2021-03-26 17:25] #170 closed

[2021-03-26 17:25] #5 closed

[2021-03-26 17:26] #349 closed

[2021-03-26 17:26] Watson-B commented on #927
Updated illustration for this card
<img width="1480" alt="card" src="https://user-images.githubusercontent.com/65913664/112670061-ab0ec600-8e1d-11eb-8f93-55e8f67f979c.png">
<img width="65" alt="illustration" src="https://user-images.githubusercontent.com/65913664/112670064-aba75c80-8e1d-11eb-9b1e-c8ab64bc4ff1.png">

[2021-03-26 17:27] #359 closed

[2021-03-26 17:27] #289 closed

[2021-03-26 17:27] #290 closed

[2021-03-26 17:27] #575 closed

[2021-03-26 17:27] #337 closed

[2021-03-26 17:27] #576 closed

[2021-03-26 17:28] #310 closed

[2021-03-26 17:28] #182 closed

[2021-03-26 17:29] #184 closed

[2021-03-26 17:29] #171 closed

[2021-03-26 17:29] #4 closed

[2021-03-26 17:29] #8 closed

[2021-03-26 17:30] #99 closed

[2021-03-26 17:31] #538 closed

[2021-03-26 17:31] #577 closed

[2021-03-26 17:31] #360 closed

[2021-03-26 17:31] #655 closed

[2021-03-26 17:31] #720 closed

[2021-03-26 17:35] #806 closed

[2021-03-26 17:38] #871 closed

[2021-03-26 17:39] #52 closed

[2021-03-26 17:45] ikosovec commented on #915
According to our meeting, I'll add additional explanation:
- Quote selection
- Twitter share selection (like on medium.com)

[2021-03-26 17:46] #509 closed

[2021-03-27 14:05] vedmant commented on #949
@ezl  Ok, so as I understand this will be a full screen dialog, it will still stay on the same page without url change?

@Watson-B What about clicking on comments button on explore screen, will it just show dialog on top?

[2021-03-27 14:15] vedmant commented on #710
@ezl Reaching the end is so unlikely, we have 1200 ideas on prod right now, swiping them all will take like 2 hours. I can implement this page, it will take about an hour but I think actual users will never see it.

[2021-03-27 14:17] vedmant commented on #729
@ikosovec This will be fixed after backend rewrite, we will use much shorter token, there is unlikely an easy fix with Cognito right now.

[2021-03-28 06:26] ezl commented on #729
@vedmant - Agreed that we can't probably fix cognito auth. Is there a potential hack like deleting cookies occasionally?

[2021-03-28 06:28] ezl commented on #710
In the long run, there will be different sequences of cards: all, searches, for one user, etc -- so it'll make sense then. but agreed that for now it might not be visible, so let's put it on hold until we have those ideas implemented.

[2021-03-28 06:42] ezl commented on #949
@vedmant:

(A) isn't it posisble to have the modal with a url change?
(B) what would be the pros/cons of doing so?
(C) will there be a url change between viewing the idea in swiping mode (currently has the direct link to the idea) vs clicking into it (where it has `<- back` in the upper left and it is not swipeable anymore?)

[2021-03-28 12:04] vedmant commented on #729
@ezl I can try removing all cookies, however what conditions to use for this, we use some tracking cookies also, that needs to stay for proper analytics. Main problem is that I can't reproduce this issue on my mobile, also as I can see that usual header size limit is about 4k-8k and this is about backend servers, chrome and other browsers for example can handle 256k headers. So the question here i

[2021-03-28 12:22] vedmant commented on #949
@ezl

The question was more not about changing URL but if it should stay on the same page or go to separate one. Having separate page means faster loading when it's opened from url (it will not load all the swiper functionality and next ideas to swipe). This however means some separate url for full idea page so we may have two sets of urls for the same idea then, something like `https://www.dailyi

[2021-03-28 13:02] vedmant commented on #927
Pushed to dev directly by mistake.

[2021-03-28 13:08] vedmant commented on #710
@ezl Ok, we also have a notification when reaching end of stack (with card going back from where it swiped, the same as with first card in stack)

[2021-03-28 13:57] ezl commented on #927
:) no problem.

[2021-03-28 14:03] ezl commented on #710
hmmm -- good point regarding the FIRST card in a stack. Given this, I need to discuss with @Watson-B.

This card as designed by @Watson-B functions as a *replacement* for the "last card" notification at the end, but it's not clear to me what we should do at the beginning. As such, this card needs further discussion before considering implementation. Will discuss with @Watson-B before we proceed.

[2021-03-28 14:42] ezl commented on #729
Let's forget about it. I think this is too complicated to be worth it for now.

Closing. ;)

[2021-03-28 14:42] ezl commented on #729
Well, reopened just so we have the documentation about it and we won't try to revisit it in the future.

[2021-04-01 03:58] ezl commented on #949
Ah I see. I'm not 100% sure I'm understanding, so I will try to respond, and if I say anything that doesn't make complete sense, please point it out.

1. I think the way you are describing it, `https://www.dailyidea.com/i/4hvfl3/idea-for-daily-idea?full` and `https://www.dailyidea.com/i/4hvfl3/idea-for-daily-idea` are considered "same URL" but one has query string, is that correct? This is also th

[2021-04-01 08:15] vedmant commented on #949
@ezl Ok, then I'll proceed with full size dialog on top of explorer, and use query string `?full` to open it on page load.

I meant that for me it looks cleaner to have separate page for single idea as well as it's more optimized. But generally it's not a big difference.

[2021-04-01 08:28] vedmant commented on #928
@ikosovec The page was already created, I just updated text to `Save the best ideas on the internet to read later with an account.`

[2021-04-02 05:52] ezl commented on #949
got it, ok.

for now, let's do the dialog on top of explorer. I THINK I'm understanding it, at least enough for us to proceed.

I'll know for sure once we have it in production, and I think that will be the best way to see at this point.

[2021-04-02 05:53] ezl commented on #928
beautiful.

[2021-04-02 17:22] Watson-B opened #954 "Top Nav: Explore Update"
This idea continues on the conversation in #790 and encompasses some future functionality that isn't finalized yet (following/searching/tagging). After discussing with @ezl how users will navigate top/new in consideration of how they will also be able to navigate decks of specific tags, user's ideas, and search results, we came up with the following solution that is more in line with how Reddit is

[2021-04-02 17:24] Watson-B opened #955 "Transition from Idea in swipe view to full page idea"
@ikosovec suggested an animated transition from the swipe view idea to the full screen idea. Here is a mock of that transition.
![idea-transition](https://user-images.githubusercontent.com/65913664/113438500-8b3b4d00-939d-11eb-9576-23279fa8cf47.gif)

[2021-04-02 17:29] Watson-B commented on #377
Here are mocks of what this might look like on 'My Ideas' and in the general 'All Ideas' deck. Would the user be able to see a list of who has viewed the idea? If so, I would change the color of both the icon and the text to purple.
![idea count (my ideas)](https://user-images.githubusercontent.com/65913664/113438879-57145c00-939e-11eb-9b82-4017bd4a4048.png)
![idea count (stack)](https://user-imag

[2021-04-02 17:34] Watson-B commented on #915
I mocked up the highlight to quote and twitter share based on your suggestions @ikosovec . Thoughts?
<img width="1480" alt="selection for quoting + sharing" src="https://user-images.githubusercontent.com/65913664/113439226-018c7f00-939f-11eb-9809-2617807f490e.png">

[2021-04-02 21:31] Watson-B commented on #790
Updated approach covered in #954

[2021-04-02 21:31] #790 closed

[2021-04-02 22:03] ezl commented on #710
@vedmant you're right -- this ticket is incomplete as it is written. @Watson-B and I have discussed and we're going back to the drawing board.

@Watson-B + @ezl - note to our future selves: There are 2 points to consider here:
(A) this won't be seen anyways until https://github.com/ezl/dailyidea.com/issues/954 is executed so there are multiple card sets (shorter ones) where users WILL actually rea

[2021-04-04 17:03] #928 closed

[2021-04-04 17:07] ikosovec commented on #955
Love it! :)
Moving to dev.

[2021-04-04 17:08] ikosovec commented on #377
@Watson-B @ezl can we move this to the dev kanban and move up the priority list?

[2021-04-04 17:09] ikosovec commented on #915
@ezl do we move this up on the priority list or are we leaving it in Icebox for now?

[2021-04-04 18:47] vedmant commented on #955
To make this animation possible I'll need to do #949 differently, not in a dialog, but using the same card state and disabling swiper. @ikosovec It's good that you added this task before I completed #949, otherwise I had to redo that one almost completely.

[2021-04-05 05:24] ezl commented on #915
icebox for now @ikosovec, unless we run out of other tickets for @vedmant

[2021-04-05 05:46] ezl commented on #377
yep -- @ikosovec please chat with @vedmant first about feasiblity. If this can be done without any backend changes, lets do it. I believe we are already storing this data.

[2021-04-05 07:48] vedmant commented on #377
@ezl Yes, we already track views, but just a total count, also I see some errors there. So it will be a some backend work, but not a lot. Also I see it's not tracking views on explorer swipes, so I'll need to fix this.

[2021-04-05 08:00] vedmant commented on #949
@Watson-B Also let me know how it will look on mobile.

[2021-04-05 11:09] vedmant commented on #949
- [ ] New expand style and animation
- [ ] Remove comments section
- [ ] Set / remove `full` query string in the URL
- [ ] When page opened check for `full` query string
- [ ] New modal for comments
- [ ] How will expanded state look on mobile?
- [ ] Expanded states on user ideas pages?

[2021-04-06 09:10] vedmant commented on #949
@ezl @ikosovec Ok, I'm merging this issue, for mobile and my ideas pages I just used simplest way to keep it look appropriate. I kept lightbox in my ideas pages, maybe it has to be done similar to explore page now.

I also think it will require some refactoring now, since we removed in-place editing, comments and lightbox, there are now not really needed components hanging.

[2021-04-06 09:21] vedmant commented on #949
@ezl @ikosovec  I'm merging this task, for mobile and my ideas pages I kept the simplest to implement option, no sure if this is what designer intended however as there were no mobile example.

I think it needs some refactoring since we removed in-place editing, comments and lightbox there are now not needed components and some extra data / events passed around due to this.

[2021-04-06 11:03] ikosovec commented on #949
@Watson-B can you also please make a design review on this to see whether this is fine from your perspective?

[2021-04-06 11:07] ikosovec commented on #377
I guess we can move it forward then if it's only a small bit of backend adjustments.

[2021-04-07 05:41] ezl opened #958 "Animate going away from full screen card"
I really love the "going to full screen" animation:
https://www.loom.com/share/2b4cf7fffe07433fb5754c81e9e633df

[2021-04-07 05:52] ezl opened #959 "Make "comment attempt by unauth account" flow post comment at end"
@vedmant I tried this yesterday on beta.dailyidea.com (currently at [this commit](https://github.com/ezl/dailyidea.com/commit/0d3d03db90b8b0c51a5e48919ff13bb2a0ec0ec5)).

It it didn't work as I expected.

The behavior I observed is

1. From an unauthenticated account, attempt to post a comment
2. This will result in being asked for an email address to complete posting
3. I entered an EXISTING user

[2021-04-07 06:34] vedmant commented on #959
@ezl I see, I think #949 broke the comments functionality as comments are not loaded anymore when page is opened, I'll check this.

[2021-04-07 06:43] vedmant commented on #958
Sure, I can add backwards animation (will need some additional coding)

[2021-04-07 07:36] vedmant commented on #377
@Watson-B Could you send me link in Figma for this images, I can't find them

[2021-04-07 08:06] vedmant opened #961 "Unsubscribe from all page: settings link doesn't work"
Just noticed that link doesn't work. As I understand it should navigate to login page if user is not authenticated?

[2021-04-07 18:46] Watson-B commented on #377
@vedmant here[https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=396%3A20](url). I am also tagging you in a comment on the screens

[2021-04-07 19:14] Watson-B commented on #961
Can you expand upon the question @vedmant? I thought you were referring to the unsubscribe from all link in emails, however that is working for me
![image](https://user-images.githubusercontent.com/65913664/113921183-8958fb80-979a-11eb-9847-37657d61cc23.png)

![image](https://user-images.githubusercontent.com/65913664/113921141-7e9e6680-979a-11eb-9e83-44ed049ab5ee.png)

The toggle on the settings

[2021-04-08 11:00] vedmant commented on #961
@Watson-B When I click "email preferences." it's going to 404

[2021-04-08 18:00] ikosovec opened #964 ""Go to Post" copy in email while trying to create a Post as a non-logged in user"
- I go to beta.dailyidea.com, I am not logged in
- I click on "Post"
- Login Email dialogue opens up, I enter my email
- I receive the email:
![image](https://user-images.githubusercontent.com/16639403/114074656-e50fab80-98a4-11eb-953a-94a995702d32.png)

I have a feeling that "Go to Post" is a bit confusing. At first I thought it's mistakenly sent the wrong email flow.
I would suggest switching th

[2021-04-08 18:03] ikosovec opened #965 ""The only way anybody can log in to your account is via links sent to your email.""
This is the copy we're sending out with the authorization emails:
![image](https://user-images.githubusercontent.com/16639403/114075010-564f5e80-98a5-11eb-8843-dd67e7a8aac9.png)

I would change the copy to: "The only way to can log in to your account is via links sent to your email."

The above copy is telling me that someone else can log in to my account. I find that a bit confusing and would lik

[2021-04-08 18:04] #933 closed

[2021-04-08 18:10] ikosovec opened #966 ""No comments" empty state"
Clicking the comment button on an idea that has no comments opens the following modal:
![image](https://user-images.githubusercontent.com/16639403/114075882-5308a280-98a6-11eb-95d8-2650734c7d3b.png)

I couldn't find this in the Figma designs. Is this by design?
I think we could work a little bit more on this empty state. Maybe even include an illustration here.

[2021-04-08 18:14] ikosovec commented on #959
The comment was posted in step 8.
When I clicked on the "Post comment" button in the email it went through all the steps 1-6 as explained by @ezl . But I was not prompted to post. It posted automatically.

@Watson-B should there be a step before posting the comment automatically?

[2021-04-08 18:18] ikosovec opened #967 "I get locked in by a "welcome back" dialogue"
Steps to reproduce:
- I arrive at beta.dailyidea.com as a non-logged-in user
- I click on "Post"
- A "welcome back" dialogue opens up, as seen here:
![image](https://user-images.githubusercontent.com/16639403/114076712-48024200-98a7-11eb-801f-2e1167c14ee0.png)
- I can't exit the dialogue in any way

Expected:
- I need an unblocking action as a user. I'm stuck

Any idea what we should do here @Wats

[2021-04-08 18:22] ikosovec opened #968 "Should the "full idea" screen on my profile look like this?"
Steps:
- As a logged in user, I open up my profile
- I click on "Read all" on any of my ideas:
![image](https://user-images.githubusercontent.com/16639403/114077373-058d3500-98a8-11eb-9f7d-d25e9ab029bb.png)

This is a different user experience than full-screening an idea from the "explore" part.

[2021-04-08 18:25] ikosovec opened #969 "While on my profile, clicking on my name will take me to https://beta.dailyidea.com/profile/undefined"
Steps:
- As a logged in user, I go to my Profile, in this example: https://beta.dailyidea.com/profile/ivan
- On idea cards, I click on my nickname, as seen here:
![image](https://user-images.githubusercontent.com/16639403/114077763-6fa5da00-98a8-11eb-8c82-1ca7d3122f0f.png)
- I am taken to https://beta.dailyidea.com/profile/undefined

Expected: It should leave me on the same page.

Bonus: Tested on

[2021-04-08 18:28] ikosovec commented on #377
Can I get more info about how this feature works please?
Like, what is the criteria of the counter going up?

@Watson-B are all users supposed to see the counter? Or just the user who created the idea?

[2021-04-08 18:31] ikosovec opened #970 "Comments are not scrollable"
Steps:
- I'm logged in, go to beta.dailyidea.com
- Navigate to an idea which has a lot of comments, for example: https://beta.dailyidea.com/i/4a4jbm/test?category=new
- By clicking either the comment button, or going full screen and then opening all the comments, I get a dialogue screen which is not scrollable:
![image](https://user-images.githubusercontent.com/16639403/114078548-5e110200-98a9-11e

[2021-04-08 18:32] #955 closed

[2021-04-08 18:32] #944 closed

[2021-04-08 18:33] #950 closed

[2021-04-09 08:21] vedmant commented on #970
@ikosovec Hm, weird, I had that issue and fixed it, it's scrollable in my case: https://monosnap.com/file/bKO2n5kTBLG0s2WQ8n4bBtyEfOpm3u

[2021-04-09 08:25] vedmant commented on #377
Currently it just increments every time idea is viewed without any criteria. So if you swipe back and forth it will increment both ideas views. If we need some more complex criteria for this, it will make sense to add it after rewrite, as it's most likely will be a backend work (if to count unique views using ip or cookies).

[2021-04-09 09:57] vedmant commented on #959
Yes it should post automatically, this is how it worked before.

[2021-04-09 16:35] ikosovec commented on #970
I have tested this on another computer.
It is scrollable on my Mac, using the same browser (Google Chrome, latest build).

On my Windows machine, it is not.

What OS are you using @vedmant ?

[2021-04-10 08:31] vedmant commented on #970
@ikosovec I'm on Mac, that's weird that it's not scrollable on Windows, I can install windows virtual machine and test it again

[2021-04-11 11:14] ikosovec opened #974 "Discussion: Criteria of increasing the views count on idea card"
Original discussion: #377

Current implementation:

I'm opening this ticket to discuss whether we need to implement any other criteria of increasing the view count in the future.

[2021-04-11 11:14] ikosovec commented on #377
I think this is good for now so I'm closing it. I will be opening a new ticket and putting it in Maybe to discuss whether we need any different criteria on the views in the future (#974 ). Thanks for the explanation. :)

[2021-04-11 11:14] #377 closed

[2021-04-11 11:20] ikosovec opened #975 "When trying to "comment attempt by unauth account" do we need a dialogue before posting the idea?"
Original discussion thread can be found here: #959

Here are the steps (as described by @ezl and edited by myself on step 8):

1. From an unauthenticated account, attempt to post a comment
2. This will result in being asked for an email address to complete posting
3. I entered an EXISTING user email address (my own gmail)
4. I was directed to click the link in my email.
5. I clicked the link
6. I

[2021-04-11 11:20] ikosovec commented on #959
Okay, this ticket is then finished from my perspective.
Although I do think that we should maybe implement a dialogue between steps 7 and 8 so I'll open a ticket for @Watson-B to review this: #975

[2021-04-11 11:20] #959 closed

[2021-04-11 11:24] ikosovec commented on #970
@vedmant I actually tried several browsers before going back to Chrome and it looked good in any combination of Windows <> browser.

So I decided to reinstall Chrome on my Windows machine and it works as intended now:
![image](https://user-images.githubusercontent.com/16639403/114302434-49ab5000-9ac9-11eb-805f-03eacf9b79d8.png)

That's really weird.

[2021-04-11 11:24] #970 closed

[2021-04-11 12:15] #943 closed

[2021-04-11 12:15] #927 closed

[2021-04-11 12:15] #929 closed

[2021-04-11 12:26] #909 closed

[2021-04-11 12:26] ikosovec commented on #935
Is there a way for me to test this @vedmant ?
Otherwise we can just close it.

[2021-04-11 12:27] #485 closed

[2021-04-11 12:27] #879 closed

[2021-04-11 12:27] #878 closed

[2021-04-11 18:37] Watson-B commented on #975
Interesting question. I think your point about them bouncing twice before the action is taken is a good one, and so a refocus of the original intent is needed. What if rather than a question asking if it is okay to post the comment though, there is a visual indicator (banner/streamers) that the comment has been posted? My logic here is that if they stuck through the whole process of leaving to go

[2021-04-11 18:38] Watson-B commented on #377
@ikosovec Just the user who created the idea

[2021-04-11 18:43] Watson-B commented on #968
@ezl thoughts? My instinct would be to treat it the same as an 'explore' idea, and take them to the full screen idea so that it is consistent throughout.

[2021-04-11 18:50] ikosovec commented on #975
Got it.
Maybe another angle - what if we just made a draft of their comment? Like, return them to the point where they left off before opening the email.

Leave the comment in draft mode, let them read through it one more time, maybe edit something, correct their grammar, etc.

I think we already have the data for that since the comment is being posted when being authorized. Right, @vedmant?

[2021-04-11 19:01] Watson-B commented on #967
Is this the first modal that opened for you, or did you enter your email and then go to this screen?

![image](https://user-images.githubusercontent.com/65913664/114317416-d7cd0980-9abc-11eb-8bd4-15128bb5e7ae.png)

In the original designs, the cancel text was updated to "Go Back' for the first step, and then there was an 'x' on the second step, the modal you posted (and also a different illustrati

[2021-04-11 19:58] ikosovec commented on #967
I think the "Back" suggestion is good.
Moving it up on the dev priority list.

[2021-04-11 20:00] ikosovec opened #976 ""Idea views" should be shown only to the poster"
Current implementation: all users can see the views counter.

Expected: only the poster of the idea can see the views counter.

[2021-04-11 20:00] ikosovec commented on #377
@Watson-B then we need to adjust this as well. I'm opening a new ticket: #976

I also agree that this is the best solution - to show the counter only to the poster of the idea.

[2021-04-11 20:01] ikosovec commented on #968
I would agree with @Watson-B as well.

[2021-04-11 20:29] Watson-B commented on #965
I agree, I'm working on an email overhaul and will update this.

[2021-04-11 20:30] Watson-B commented on #964
Agreed, will make the updates with the new email designs.

[2021-04-11 20:32] Watson-B commented on #961
@vedmant Ah I understand now. Since presumably the user would be coming from their email when they hit the 'unsubscribed' screen with that link, can we also treat it as a authentication and take them directly to their settings?

[2021-04-11 20:38] Watson-B commented on #958
The backwards animation looks great @vedmant . The only not I have is that the text seems to be moving on an arc
![image](https://user-images.githubusercontent.com/65913664/114320531-0fdb4900-9acb-11eb-9b41-b86e5289c77a.png)

Is it possible to keep it moving in a straight vertical line throughout the transition?

[2021-04-11 21:24] Watson-B commented on #949
@vedmant I took a pass at the mobile design, and @ikosovec and @ezl I'd love some input here.
The first two are inspired by how Instagram is handling the focus on a post into the comments, ditching the bottom nav and moving the interaction points (emojis + comment input field) for comments down into that space.
**Option 1**
<img width="360" alt="full idea 1" src="https://user-images.githubusercont

[2021-04-12 13:32] vedmant commented on #949
@Watson-B How it will animate from the card we have now:

<img width="462" alt="Test - Daily Idea 2021-04-12 16-28-49" src="https://user-images.githubusercontent.com/5052406/114402112-31603180-9bac-11eb-94b1-56ed062706cd.png">

to the example you added above?
Right now it just scales, but layout is different on your example, can you show example of both, mobile swiper view, expanded card and rules

[2021-04-12 14:01] vedmant commented on #961
@Watson-B We can, but that's a piece of work, let @ezl or @ikosovec create a ticket if this task should be done.

[2021-04-12 14:05] vedmant commented on #935
Yes, close it.

[2021-04-12 14:05] #935 closed

[2021-04-12 14:22] vedmant commented on #967
@Watson-B So what back button will do, navigate to previous page, where user came from?

I also see on design dialogs don't have backdrops, while they have them on modal. I generally can disable it so user can click on menu for example. In this case modal can't be closed on backdrop click, also I'll need to hide idea form then.

[2021-04-12 14:22] ezl commented on #975
@vedmant my preference is NOT to add an extra confirmation step.

@ikosovec I hear your POV, but IMO, the fact that they clicked through from their email *IS* a sufficient confirmation from the user of their intent to post. I see your point that between the event (step 5) when they click the "confirm post" in their email and (step 8) when the comment officially posts, there are 2 apps and 3 screen

[2021-04-12 14:27] ezl commented on #961
@vedmant the "email preferences" link in the email SHOULD authenticate the user and take them to the email preferences part of their settings.

I will be happy to create a separate ticket for this, but before we do, I think some more discussion is in order.

(A) in general, we are considering email to be a valid form of authentication. So a link from within an email should not direct a user to aut

[2021-04-12 14:31] ezl commented on #958
ugh, @vedmant you are so fast!!!

[2021-04-12 14:31] vedmant commented on #975
@ezl I'm not really sure what do you mean by "streamers flair"?

About comments, I think it's more important to add edit comment function.

[2021-04-12 14:34] ezl commented on #949
@vedmant @Watson-B - I vote to move this into a separate, future potential ticket.

I believe the original ticket scope is already completed and a significant improvement.

@vedmant if you agree, feel free to close this ticket.

@Watson-B I'll add this discussion to a weekly sync for us, if that's ok.

[2021-04-12 14:40] vedmant commented on #949
Sure, closing this then.

[2021-04-12 14:40] #949 closed

[2021-04-12 14:41] ezl commented on #975
@vedmant I apologize!  😇 -- I also didn't know the best way to describe what I was talking about. I see that it has been described in other tickets as "confetti". I was referring to this animation of the ribbons coming down:

https://user-images.githubusercontent.com/65913664/108918753-b97f7d00-75e6-11eb-8955-40a68ecda6a8.gif

You mean that this is a separate issue, but important for us to add, co

[2021-04-12 14:42] ezl commented on #968
agree -- consistency. 👍 to proceed

[2021-04-12 14:53] vedmant commented on #975
@ezl Oh, I see, I've seen this animation but there were not specific ticket to implement this. Also not sure how to implement this with JS, gif overlay is also a bad idea.

[2021-04-12 14:57] ezl opened #979 "add steamers/confetti flair"
define the pages/cases where it goes.

[2021-04-12 15:00] ezl commented on #975
ok, no problem. the streamers are "extra" -- no need to implement this for now. adding to future ticket for execution (#979)

for now then i believe there is no need to add the extra dialog as originally proposed, so I think we should close this ticket.

@vedmant can you just create a separate ticket to add edit comment functionality and close this?

[2021-04-12 15:03] vedmant commented on #975
@ezl Sure

[2021-04-12 15:03] #975 closed

[2021-04-12 15:03] vedmant opened #980 "Edit comment"
Add comment editing function

[2021-04-12 15:14] vedmant commented on #961
@ezl Sure, I see currently token expiration set to 7 days

[2021-04-12 16:06] ezl commented on #961
ok, that's great.

then for the purposes of this ticket, can we just make it so that clicking the email preferences button in emails authenticates the user and takes them to the email settings of the settings page please?

if you prefer a separate ticket be created for this, lmk.

[2021-04-12 16:27] vedmant commented on #961
@ezl Yes, I think it's out of this ticket scope, new issues makes sense.

[2021-04-12 16:44] ezl commented on #961
@ikosovec please create a new ticket for this and close the original

[2021-04-16 13:59] ezl opened #984 "hide scroll bar on post new idea"
for long ideas

<img width="773" alt="image" src="https://user-images.githubusercontent.com/157627/115035315-12a2b900-9e92-11eb-8090-74b20fb393e8.png">

[2021-04-20 22:14] Watson-B commented on #979
Adding it to the to do list for this week

[2021-04-21 18:24] Watson-B commented on #967
@vedmant yes, it should take them back to the page they came from. If there will be issues with that, then it should take them back to 'explore' since as an unauthorized user that is the only section of the site they can use.

In regards to the backdrop, @ezl raised a good point when we were doing the redesign; that since unauthorized users will not be able to access "Post" or "My Ideas" until the

[2021-04-22 11:52] vedmant commented on #967
Ok, I added back button as in example

[2021-04-23 05:20] Watson-B opened #987 "Daily Idea Email Update"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
 This is the current Daily Idea email:
![image](https://user-images.githubusercontent.com/65913664/115821894-76f4d980-a

[2021-04-23 05:22] Watson-B opened #988 "Weekly Stats Email Update"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
 This is the current Weekly Stats email:
![image](https://user-images.githubusercontent.com/65913664/115822225-08644b80

[2021-04-23 05:24] Watson-B opened #989 "Finish Liking Idea Email"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
This is the current email:
![image](https://user-images.githubusercontent.com/65913664/115822428-62fda780-a3b9-11eb-8b5

[2021-04-23 05:25] Watson-B opened #990 "Finishing Saving Email Update"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
 This is the current email:
![image](https://user-images.githubusercontent.com/65913664/115822537-8fb1bf00-a3b9-11eb-96

[2021-04-23 05:26] Watson-B opened #991 "General catch-all auth email update"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
 This is the current email:
![image](https://user-images.githubusercontent.com/65913664/115822599-aa843380-a3b9-11eb-92

[2021-04-23 05:27] Watson-B opened #992 "Finish commenting email update"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
 This is the current email:
![image](https://user-images.githubusercontent.com/65913664/115822705-d3a4c400-a3b9-11eb-96

[2021-04-23 05:28] Watson-B opened #993 "Finish Posting Email Update"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
 This is the current email:
![image](https://user-images.githubusercontent.com/65913664/115822803-ffc04500-a3b9-11eb-96

[2021-04-23 05:29] Watson-B opened #994 "My Idea Auth Email Update"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
 This is the current email:
![image](https://user-images.githubusercontent.com/65913664/115822904-2f6f4d00-a3ba-11eb-82

[2021-04-23 05:32] Watson-B opened #995 "Login code auth email update"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
 This is the current email:
![image](https://user-images.githubusercontent.com/65913664/115823142-a278c380-a3ba-11eb-8f

[2021-04-23 05:33] Watson-B opened #996 "Welcome email update"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
This is the new Welcome email
![image](https://user-images.githubusercontent.com/65913664/115823201-c20fec00-a3ba-11eb-

[2021-04-23 05:34] Watson-B opened #997 "Idea share email update"
This email design is a part of the email overhaul to update email designs to match the branding and aesthetics with the rest of the site. The referenced designs can be found in [this Figma file](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=394%3A2)
 This is the updated email for when an idea is shared
![image](https://user-images.githubusercontent.com/65913664/11582

[2021-04-23 05:36] Watson-B commented on #965
This is updated in #987 - #997

[2021-04-23 05:36] #965 closed

[2021-04-23 05:37] Watson-B commented on #964
This is updated in #993

[2021-04-23 05:37] #964 closed

[2021-04-23 05:39] Watson-B commented on #966
Good call, I will work on an updated empty state

[2021-04-23 16:25] Watson-B opened #999 "Wrong Illustration"
When a user goes to post, it is using the Like illustration rather than the post illustration. Not urgent, will address down the road.

[2021-04-23 16:27] #967 closed

[2021-04-23 16:37] Watson-B commented on #987
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 16:39] Watson-B commented on #988
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 16:48] Watson-B commented on #989
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 16:48] Watson-B commented on #990
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 16:48] Watson-B commented on #991
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 16:48] Watson-B commented on #992
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 16:49] Watson-B commented on #993
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 16:49] Watson-B commented on #994
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 16:49] Watson-B commented on #995
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 16:49] Watson-B commented on #996
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 16:49] Watson-B commented on #997
After discussing more with @ezl we will be updating the script font used for the quote. Design incoming.

[2021-04-23 20:45] Watson-B opened #1000 "Bug - Exiting comment modal"
@ikosovec I found a bug on the mobile beta site in my meeting with @ezl that I could replicate, but it did not happen on his device. After closing a comment modal, the idea is locked half off-screen and cannot be scrolled back fully into view. Can you see if you can replicate it?
![image](https://user-images.githubusercontent.com/65913664/115927913-11e1c800-a43a-11eb-91b4-99445f8aca90.png)

Steps:

[2021-04-23 20:50] Watson-B opened #1001 "Mobile Loading Screen"
On mobile, the quote and author in the loading screen don't have any left padding. Can we update this to have left and right padding match?

![image](https://user-images.githubusercontent.com/65913664/115928337-cbd93400-a43a-11eb-85f4-fcc5f6da5ff9.png)

[2021-04-23 20:54] Watson-B opened #1002 "Yellow post button when commenting"
The comment button currently uses the yellow from the old UI designs, instead of the primary purple that we are using on all other buttons.
![image](https://user-images.githubusercontent.com/65913664/115928667-5a4db580-a43b-11eb-996e-aab1b13a9976.png)

[2021-04-23 20:59] Watson-B opened #1003 "Comment input field"
When typing a comment on mobile, when the comment reaches the maximum width of the input field it scrolls horizontally rather than the input field growing vertically to show the whole comment. Having the input field grow vertically is preferred.
What is the limit that the field can grow? 100% of modal? 50%? @ikosovec thoughts?

[2021-04-23 21:00] Watson-B commented on #968
Is anything else needed design-wise to proceed with this?

[2021-04-23 21:04] Watson-B opened #1004 "Mobile comment button placement"
When a user clicks into the comment input field, and starts typing, the comment botton spawns below the input field. Depending on the screen size, this can appear off screen. Regardless of screen size, the preferred outcome would be to have the button appear on screen.
This is an issue @ezl had during our meeting on his iPhone SE.
![image](https://user-images.githubusercontent.com/65913664/1159294

[2021-04-25 00:40] ikosovec opened #1005 "Clicking the email preferences button in emails authenticates the user and takes them to the email settings of the settings page"
Original ticket discussion: #961

[2021-04-26 17:35] ikosovec opened #1006 ""About us" page"
Hey @Watson-B , we have decided to move forward with a new feature called "About us" page.
The goal of this feature is to have a "pillar" page which would describe the founders, the mission and the vision of what DailyIdea is and where it's going.

This ticket will have 3 deliverables:
- The text for the page (we have discussed that @ezl will write it),
- The design of the static page (use Lorem I

[2021-04-26 17:39] ikosovec opened #1007 "Create a template for social media posts"
Hey @Watson-B, one of the ideas to grow DailyIdea is to regularly post content on social media.
To do that, I would kindly ask you think of a Facebook post and Instagram post templates.
The scope:
- The templates should be simple, editable files
- Fixed background and GFX, easily to edit the content
- The content would be the title of the idea and the poster name
- Include "dailyidea.com" somewher

[2021-04-28 17:37] Watson-B commented on #1007
Sounds good, I will work on it.

[2021-05-07 06:47] Watson-B opened #1008 "Update to back button design (mobile: focused idea)"
![image](https://user-images.githubusercontent.com/65913664/117408428-c7922980-aec4-11eb-8afa-6f51d5cd2060.png)
@ezl We had discussed the back button for the focused view on mobile, and how you'd like it styled differently. Thoughts on the x in the top right? We use x's in the top right elsewhere on the platform, so it would be consistent. Additionally, we had discussed tapping as a means to also

[2021-05-07 06:51] Watson-B opened #1009 "Mobile: Comment interactions"
@ezl We discussed how currently the 'x' on mobile is in it's own row, and how if there are too many comments, you have to scroll all the way to the top in order to exit. This [click through](https://www.figma.com/proto/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?page-id=982%3A532&node-id=1079%3A5974&viewport=535%2C-1592%2C0.7322244048118591&scaling=min-zoom) shows what it would be like to have the '

[2021-05-07 06:54] Watson-B opened #1010 "Beta Site: Using old comments design"
On the beta site, we are currently still using the old comments modal when a user clicks the comment icon on the focused idea view.

![image](https://user-images.githubusercontent.com/65913664/117409545-23a97d80-aec6-11eb-9af5-8e954acdc012.png)

We have a new design, that uses the same full page pattern.
![image](https://user-images.githubusercontent.com/65913664/117409654-4471d300-aec6-11eb-9bc4-

[2021-05-07 06:58] Watson-B opened #1011 "Mobile: Choppy exit focused view animation"
Currently on mobile when you exit out of the focused view for an idea on mobile, it seems like the card and content shrink before springing back. It is not a very smooth interaction, can we have it reverse the animation used when entering focused view?
![image](https://user-images.githubusercontent.com/65913664/117410091-d083fa80-aec6-11eb-9290-016c584d66dd.png)

[2021-05-07 07:00] Watson-B commented on #966
![image](https://user-images.githubusercontent.com/65913664/117410373-2f497400-aec7-11eb-90cb-caf83f5abc02.png)
Thoughts @ikosovec ? The designs/illustrations are [here](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=982%3A532)

[2021-05-07 07:03] Watson-B commented on #968
@ikosovec this is ready for dev, correct?

[2021-05-07 07:05] Watson-B opened #1012 "Mobile: Action bar moving to the bottom"
@ezl We discussed how if we move the action bar to the bottom of the screen on mobile when clicking into an idea that we'd need an animation for how that works. I mocked it up, what do you think?
![idea_vertical-scale](https://user-images.githubusercontent.com/65913664/117411011-f8c02900-aec7-11eb-81e8-316084457dc3.gif)

[2021-05-07 07:11] Watson-B opened #1013 "Desktop: unauth Post page back button layout"
@ezl We discussed the placement of the back button on the current unauth flow for the Post page.
![image](https://user-images.githubusercontent.com/65913664/117411369-58b6cf80-aec8-11eb-94aa-d965b39fedbb.png)

Here is a mock with the link placed below the request a new link
![image](https://user-images.githubusercontent.com/65913664/117411760-ce22a000-aec8-11eb-9ab3-d98fa5effbde.png)

[2021-05-07 07:15] Watson-B opened #1014 "Add conditionals for weekly stats email"
Currently we send out the weekly activity regardless of if the user has liked/posted/commented.  When a user has not taken any action during the week, I think we should send an email to promote action instead.

Two ideas:

1. A digest of the most popular (commented/liked) ideas from the week.
2. As we add in prompts, send them a prompt and a CTA to start writing an idea, letting them know that the

[2021-05-07 07:20] Watson-B opened #1015 "Prompts & Group Writes"
Thinking along the ideas of design challenges (50 days of product - get sent a vague topic/need, and come up with an idea for it everyday); DI can have prompts on loading screens/cards/emails asking users how they would solve 'x' JTBD/need. Maybe post responses to the comments rather than individual ideas.

Could also email users, asking them what problems/needs they have, and then turn around and

[2021-05-07 07:22] Watson-B opened #1016 "Gradual nature of creating ideas"
How can we better enable the gradual creation of an idea? Is there a work-in-progress tab/tag? Seeking feedback/half-baked?

What about ramping emails?
Day 1: Email and ask for a single sentence idea (low commitment)
Day 2: Ask to expand on it, who would it serve/why do it/what does it solve
Day 3: ???

[2021-05-08 13:09] ikosovec commented on #968
Indeed.

[2021-05-11 04:54] ezl commented on #1012
❤️

I love this. I am a teeny bit concerned about implementation difficulty or added complexity. Before considering pulling the trigger on this, can we get @vedmant to weigh in on complexity added and implementation estimate?

[2021-05-11 05:00] ezl commented on #1009
Personally, I think the click through looks *really* good.

@Watson-B what are your thoughts on the click through? Are you not happy with it?

Asking because I don't understand what After Effects will give us that we're not already getting from the Figma clickthrough.

Re: the typing input receding more -- Can you explain more? Does it get smaller? Does it disappear? If so how does it come back? I

[2021-05-11 06:12] vedmant commented on #1012
@ezl That's doable, maybe I'll spend an extra hour or two for this.

[2021-05-11 06:13] ezl commented on #1012
not bad at all -- Then, if @Watson-B thinks it's ready, @Watson-B give a thumbs up and @vedmant you can execute.

[2021-05-13 04:09] ezl opened #1017 "share screen -social icons seem really big - intentional?"
<img width="917" alt="Best Sushi Content Site - Daily Idea 2021-05-12 23-05-56" src="https://user-images.githubusercontent.com/157627/118076114-10d7f280-b377-11eb-8e84-1f4031c19b92.png">

[2021-05-13 19:18] ezl opened #1018 "idea detail view: ideas don't scroll on full screen mode on mobile in safari"

[2021-05-16 17:12] ikosovec opened #1020 ""About" page"
Hey @watson-b we need to create a static About page. It would be optimal if we could add some kind of a picture or graphic to it as well.

Here's the text:

[2021-05-17 16:33] Watson-B commented on #1020
@ikosovec do you have something in mind for the visual? It doesn't have to be specific, but a tone/idea you want to convey.

[2021-05-17 19:07] ikosovec commented on #1020
Not from the top of my mind...
I'd like it to be themed with the current illustrations of lightbulb characters we have going on right now. Let me think a bit more.

[2021-05-19 10:50] ikosovec opened #1021 "/auth/signup/success image is broken on Safari"
Steps:
- Use Safari on Mac
- I register a new user
- Get to baseurl/auth/signup/success
- Image is broken as seen on this screen:
![image](https://user-images.githubusercontent.com/16639403/118801007-d43d5700-b8a0-11eb-8bbd-316fc8f42a5e.png)

[2021-05-19 11:00] ikosovec commented on #1006
Duplicate of #1020 so I'm closing this.

[2021-05-19 11:00] #1006 closed

[2021-05-19 15:32] Watson-B opened #1022 "Create a design + flow for notifying users when someone comments on their ideas"
Needs to be done, but low priority.

[2021-05-22 16:23] ikosovec opened #1023 "Links to static pages"
Since we discussed this on several places, I'm creating this ticket for final discussion and approval.
@Watson-B could you please create a design proposal? IIRC, we concluded that the static pages links will be on the bottom of every page, but we never got to a solution on mobile.
Static pages in question:
- About
- ToS
- Blog

[2021-05-22 16:27] ikosovec opened #1024 "Community Guidelines / ToS static page"
Hey @Watson-B, we need a design for one of our static pages which will be Community Guidelines / Terms of Service.

Here's a draft of the text it will include for now, but we will evolve it over time:

Do:
- Each post must contain an idea
- Be welcoming and open-minded
- Be respectable to other users. Treat them as you would treat them in real life
- Be tolerant towards other’s viewpoints; respect

[2021-05-22 16:30] ikosovec opened #1025 ""Blog" static page which will link to all "famous profile" pages"
This is something that came to my mind. We will need a page which will link to all other posts about famous people. Basically a list of articles with excerpts.

[2021-05-24 15:30] ezl commented on #1013
(considering in progress until we evaluate the more muted "back to explore". after we agree on one, then clean up the ticket to just have one clear directive and queue for execution)

[2021-05-24 15:31] ezl commented on #1012
given that ~vedmant thinks this is doable, lets JDFI

[2021-05-24 15:32] ezl commented on #1011
@Watson-B is this still an issue?

[2021-05-24 15:42] ezl commented on #1004
@ikosovec does this require any further info or design before we queue for implementation?

[2021-05-24 15:43] ezl commented on #1002
please link to correct design in figma, @Watson-B

[2021-05-24 15:43] ezl commented on #1001
putting in up next, since this is relatively easy fix.

[2021-05-24 15:44] ezl commented on #1000
QA ticket for @ikosovec to try to replicate/document this problem.

[2021-05-24 15:45] ezl commented on #999
do we already have a correct design for this? if so, let's just link to it and we can move it out of design and in the backlog for execution.

[2021-05-24 15:46] vedmant commented on #1012
@ezl Ok, I'll work on this next

[2021-05-24 15:50] ezl opened #1026 "update "back" on full idea view on mobile"
did we settle on an alternative to the "back" text?

1. an X
2. clicking on card exits full screen

[2021-05-24 15:53] ezl commented on #1012
@vedmant can we pause on this one to let @Watson-B check first and confirm? I'll prioritize the board a bit and move a few fronten drelated issues to the top first.

[2021-05-24 15:55] Watson-B commented on #1012
@ezl @vedmant design-wise I think it's ready.

[2021-05-24 15:58] ezl commented on #1026
closing. duplicate of #1008

[2021-05-24 15:58] #1026 closed

[2021-05-27 16:26] ikosovec opened #1027 "User awards"

[2021-05-27 16:26] ikosovec commented on #1027
I'll refine this a bit later

[2021-05-28 18:06] #897 closed

[2021-05-28 18:07] #902 closed

[2021-05-28 18:09] ezl commented on #896
lets re-review this @Watson-B to see if it's consistent with our most recent thinking

[2021-05-28 18:13] ezl commented on #678
@Watson-B can you audit this to see if (A) this is even accurate anymore (B) if we need to do anything with the unauth flow for follow? (remember you should always audit on beta.dailyidea

[2021-05-28 18:13] #779 closed

[2021-05-28 18:18] ezl commented on #710
related to #910 and #911

we probably need to close this one out and create a new one with the air traffic controller stuff.

[2021-05-28 18:26] #1007 closed

[2021-05-28 18:30] ezl commented on #1002
@Watson-B please link to correct screen in figma

[2021-06-01 14:34] ikosovec opened #1028 "Privacy policy static page"
Hey @Watson-B, we'll need the design for our privacy policy static page. The text for the page is pending (I'll have it ready in a day or two), but I think from ther design perspective this is pretty straightforward.

[2021-06-02 19:12] Watson-B commented on #1022
After discussing this with @ezl, we have decided to go with an email notification that someone has commented on a user's idea for the time being. [The design can be found in Figma here.](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=1132%3A5908)
![image](https://user-images.githubusercontent.com/65913664/120538508-767a3600-c39b-11eb-9746-900a6f332027.png)

In instanc

[2021-06-02 19:18] Watson-B commented on #1020
Here is the illustration for the About Us page. It can be [found in Figma](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=840%3A0) here as well.
![aboutUs](https://user-images.githubusercontent.com/65913664/120539482-7af31e80-c39c-11eb-8398-6c6710131772.png)
I'm thinking it can live here on the page, to break up the text. What do you think @ikosovec ?
![image](https:/

[2021-06-02 19:24] Watson-B opened #1029 "Update Open Graph share illustration"
Our current Open Graph share image does not match the updated aesthetic of the site.
 ![image](https://user-images.githubusercontent.com/65913664/120540108-256b4180-c39d-11eb-9b13-89229f902bdb.png)
I updated the image to match the characters we have elsewhere on the site.
<img width="664" alt="openGraph" src="https://user-images.githubusercontent.com/65913664/120540285-5cd9ee00-c39d-11eb-819f-3eb3

[2021-06-02 20:29] Watson-B commented on #896
@ezl After reviewing, I think this is still in line with our current thinking.

- I think showing the second banner, as seen in the gif above holds value for new users who take an action after landing on a page other than the landing, and informs them how to navigate. The only update I would make here is to change the color of the second banner, to make it visually clearer that there is a transiti

[2021-06-02 22:39] Watson-B commented on #678
This is still accurate, this is what currently happens when an unauthorized user clicks follow:
![image](https://user-images.githubusercontent.com/65913664/120548240-f8bc2780-c3a6-11eb-9c12-4110054af19c.png)
I think you have the right proposal, and we should use the same pattern we've designed for other actions taken by unauthed users: welcome them to the site, ask their name, have them verify the

[2021-06-02 22:55] Watson-B opened #1030 "Swipe bumper for end of stack"
This idea was discussed originally in #710, after discussion with @ezl we have a solution to move forward with. For clarity's sake, I am closing that issue to make things clearer.

When the user is at the beginning of the stack, and swipes to go previous, we will show a swipe bumper telling them to go the other way (seen below). The toast will enter from the bottom of the screen, and swipe away wh

[2021-06-02 22:56] Watson-B commented on #710
Posting the solution to the beginning of stack bumper in #1030. Closing this for clarity's sake.

[2021-06-02 22:56] #710 closed

[2021-06-02 23:02] Watson-B commented on #1013
@ezl here is a mock with muted gray. What do you think? I think it's working better.

<img width="1480" alt="mutedGray" src="https://user-images.githubusercontent.com/65913664/120562707-c79a2200-c3bb-11eb-8c52-79301fc14740.png">

I also did one with muted purple as well.
<img width="1480" alt="mutedPurp" src="https://user-images.githubusercontent.com/65913664/120562733-da145b80-c3bb-11eb-809f-1176

[2021-06-03 02:03] Watson-B commented on #1024
![image](https://user-images.githubusercontent.com/65913664/120574956-143e2700-c3d5-11eb-8e55-899f1f7c76e6.png)
@ikosovec here is the mock of the community guidelines and ToS, the design can be found [here](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=1249%3A0)

[2021-06-03 02:22] Watson-B commented on #1023
@ikosovec Here is the desktop design for static page links that I was mentioning in Slack last week. They can be found in [Figma here.](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=1249%3A0)
Desktop Design: The links will only show on the 3 welcome pages, to maintain the core idea of keeping users focused on one idea at a time, and removing noise when browsing ideas

[2021-06-03 02:28] Watson-B commented on #1028
@ikosovec For the privacy policy, I'm thinking of using the same layout that we use for About and Community Guidelines, so that we create clear pattern for all static pages distinct from the main functions of the site. When I have a better idea of the copy, I can make more edits to cater to that. Design can be [found here](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-i

[2021-06-03 03:52] Watson-B commented on #1017
For the share modal after posting an idea, let's use the modal without the illustration. It can be found in [here in the Figma](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=806%3A1) file.
![image](https://user-images.githubusercontent.com/65913664/120584249-73effe80-c3e4-11eb-8677-c3a17482a63e.png)

[2021-06-03 03:56] Watson-B commented on #999
We are currently using the like illustration:
![image](https://user-images.githubusercontent.com/65913664/120584389-c16c6b80-c3e4-11eb-9606-4567f5a56a56.png)
This is the correct illustration: it can be found in the [Figma file here.](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=202%3A1292)
<img width="110" alt="post" src="https://user-images.githubusercontent.com/65

[2021-06-04 16:47] Watson-B opened #1031 "Revisit 4th Welcome Card"
When backend rewrite is done, we will revisit the value of the 4th welcome card

[2021-06-04 16:49] Watson-B commented on #1013
I spoke to @ezl, he wants to go with the light gray "Back to Explore"

[2021-06-04 16:56] Watson-B commented on #1023
After talking to @ezl we are going to have the links for the static pages continue to live in "My Ideas: Settings", and not display links under the welcome cards.

[2021-06-05 08:32] ikosovec commented on #1020
I like it, it's cool!

Let's go with this. :)

[2021-06-07 13:34] ikosovec opened #1032 "Cookie policy"
Hey @vedmant, we have decided we'll need a cookie policy to adapt DI to GDPR and other privacy rulesets.
First - do you have any experience with implementing a cookie policy. Preferably from an open source library?

If not, this is something I ran into: https://brainsum.github.io/cookieconsent/
Could you please check it out and let me know if this would work?

Maybe give an estimate on how much ef

[2021-06-07 13:36] ikosovec commented on #1028
Hey @Watson-B, here's the text: https://www.notion.so/ezl/Privacy-policy-85b77d82443745a6b0c662cc6d655878

I agree that we shouldn't overengineer/overdesign this. If you agree, let's just move it to dev.

[2021-06-17 17:28] vedmant commented on #1032
@ikosovec I added this package you mentioned, one thing, when user wants to update this settings, where he can find them? I'll need to add some button somewhere to open this modal again. @Watson-B

[2021-06-21 17:13] Watson-B commented on #1032
@ikosovec @vedmant To clarify, we need to add to the design a link to reopen the cookie settings, correct? The modal for the settings does not need to be designed?

[2021-06-23 12:27] ikosovec commented on #1032
If I understood correctly - yes. @vedmant please confirm. :)

[2021-06-23 14:28] vedmant commented on #1032
@vedmant Yes, I mean a button to open modal.

[2021-06-23 15:07] ikosovec opened #1034 "FB and IG branding"
Hey @Watson-B , we need:
- FB banner
- FB profile picture
- IG profile picture

[2021-06-26 10:39] #1025 closed

[2021-06-29 12:05] vedmant opened #1035 "Integrate FB Pixel"
https://mail.google.com/mail/u/0/#inbox/FMfcgzGkXwMRnnvBjRLVwtfXVGvqLVSG

[2021-06-29 12:11] vedmant commented on #1035
Don't start until @ezl approval

[2021-06-29 12:39] ezl commented on #1035
pause -- don't execute

[2021-06-29 12:43] #1035 closed

[2021-06-29 23:28] Watson-B commented on #1032
@ikosovec @vedmant Okay, thank you for clarifying. I will take care of this tomorrow.

[2021-07-07 09:34] vedmant commented on #1024
@ezl @ikosovec Few main questions:
1. Under what urls this pages should be added?
2. How user will navigate to this pages (where to add links)?

[2021-07-07 17:50] ezl commented on #1024
1. /community-guidelines, /terms-of-service

2. /privacy, /about

[2021-07-09 13:01] vedmant commented on #1028
We already had this page, fixed static pages styles.

[2021-07-09 13:03] vedmant commented on #1032
@Watson-B Let me know when you can check this task.

[2021-07-09 13:09] vedmant commented on #1024
@ezl @ikosovec @Watson-B Ok, I updated static pages, but it lack of links to this static pages.

[2021-07-09 17:38] Watson-B commented on #1032
![image](https://user-images.githubusercontent.com/65913664/125116494-a5be4a00-e0a1-11eb-9c09-c2b31b406d88.png)
Apologies for the delay, [here is the design for the cookie link](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=1249%3A0).

[2021-07-12 19:22] vedmant commented on #1032
@Watson-B One issue with this design, user can select cookies without logging in, so and he should be able to update setting without login, but profile page is available only for logged in users.

[2021-07-21 09:53] ikosovec opened #1036 "Verify domain for Pixel"
We'll need to verify our domain for FB pixel. There are 3 methods to do so:

![image](https://user-images.githubusercontent.com/16639403/126470031-e179aa74-91d2-4298-9cc2-768e9560c24d.png)

Please let me know which one of the 3 works best for you @vedmant and I'll share the implementation details.

[2021-07-21 09:54] vedmant commented on #1036
@ikosovec Could you copy paste the tag itself?

[2021-07-21 09:57] ikosovec opened #1037 "404 when creating a private idea on production"
Creating a private idea will result in a 404 every time.

[2021-07-21 10:03] ikosovec opened #1038 "Posting an idea from email cuts off the headline"
Reported by Martina:

![image (1)](https://user-images.githubusercontent.com/16639403/126471458-730c08a8-ccf9-4c6d-a9df-a5980413dd94.png)

[2021-07-21 10:06] ikosovec opened #1039 "Idea counter working incorrectly again"
Apparently the idea counter is not working correctly when you submit the idea through email.

Reported by Martina:

![image (2)](https://user-images.githubusercontent.com/16639403/126471839-faf39fec-58a6-430b-ba51-70d32496195a.png)

[2021-07-21 10:07] ikosovec opened #1040 "Inserting links in text doesn't work"
While using the text editor and linking part of the text to somewhere else, it doesn't work correctly.

It just attaches the URL to the already existing URL of the currently open page.

[2021-07-21 10:08] ikosovec opened #1041 "Incorrect copy at sharing ideas over email"
The copy is just copy/pasted from the previous step. I think it should be something else.
Maybe just remove "or copy the link below"?

![image](https://user-images.githubusercontent.com/16639403/126472126-84def1e5-2c44-408a-942d-e87477410d33.png)

[2021-07-21 10:10] ikosovec opened #1042 "Email copy when sharing an idea with a friend"
Replace "he" with "they"

![image](https://user-images.githubusercontent.com/16639403/126472371-ad665900-13c6-48a4-9ffb-b30662f04067.png)

[2021-07-21 10:11] ikosovec opened #1043 "Copy change: Looks like this link expired"
![image](https://user-images.githubusercontent.com/16639403/126472497-ebf17aa8-9219-437d-b777-e7244e384a98.png)

Just remove "is".

[2021-07-21 10:13] ikosovec opened #1044 "Copy change on modal when posting an idea as an anonymous user"
Try posting an idea as an anonymous user.
Modal shows up for the user to register or login.
![image](https://user-images.githubusercontent.com/16639403/126472692-592d58d4-d8d4-48be-93c7-d560ca0bcda0.png)
Copy change: replace "commenting" with "posting".

[2021-07-21 10:35] ikosovec commented on #1036
Yes, if we decide to implement it via the meta tag. I was asking which one of these 3 you would like ^^.
Here's the meta tag:
For dailyidea.com:
`<meta name="facebook-domain-verification" content="8081vtbrutquxkbvp533v5wq1wumar" />`

For profiles.dailyidea.com
`<meta name="facebook-domain-verification" content="am2mk1ows1xtcs1a5aqm8d3a3ohb7w" />`

And the instructions (in case you need them):
![im

[2021-07-21 10:38] ikosovec opened #1045 "Additional visual improvements on Profiles emails"
Hey @Watson-B , I've been working on the Profiles email campaigns. You can see an example of an email here:
![image](https://user-images.githubusercontent.com/16639403/126475544-8a374573-3450-48e1-a347-9213678c27e0.png)

I was thinking about adding DI branding to these emails here:
![image](https://user-images.githubusercontent.com/16639403/126475601-ddebe1da-e4e2-454e-8c64-499869f9ceef.png)
Unive

[2021-07-21 13:06] vedmant commented on #1036
@ikosovec I never worked with profiles.dailyidea.com domain. @ezl what it's built on, is it also on AWS?

[2021-07-21 13:19] vedmant commented on #1036
@ikosovec I published update, it should be deployed to production soon.

[2021-07-21 15:16] vedmant commented on #1037
@ikosovec Should be fixed now, published on beta.

[2021-07-21 18:44] ikosovec commented on #1036
@vedmant this is working now for dailyidea.com

We'll set it up on profiles through Webflow.

[2021-07-21 18:44] #1036 closed

[2021-07-22 19:26] ezl opened #1049 "login email isn't immediately available in gmail"
when trying to log in, we give a button that searches your gmail.

however, the email usually hasn't arrived by the time i get to my inbox.

instead, let's pause on that screen before letting the user click the button. we can add an animation or something to entertain them while they wait for 2 seconds.

[2021-07-26 22:28] saadmanrafat commented on #1049
Why not limit how the responses to 10-15 data points per window? That would decrease the response time. Once API responses are stored, make use of Django's Lazy Loading ORM. It would show previous emails and giving sufficient time to retrieve new emails in the background.

I contribute to open-source software all the time. You can feel free to assign me to this ticket if you agree with the impleme

[2021-08-15 10:14] ikosovec opened #1050 "GFX assets for the email - Profiles campagin"
Hey @Watson-B, as we discussed, we'll need some additional GFX assets for the Profiles email campaign. We already discussed some options on Slack, here's the screenshot for us to both to remind us since it's been a few weeks. :)
![image](https://user-images.githubusercontent.com/16639403/129474846-6dce3bff-68fe-43fd-a614-0feb0cebd7b8.png)

I promised I'll provide you the image sizes needed for thi

[2021-08-15 10:18] ikosovec opened #1051 "Add dataLayer.push() for GTM on dailyidea.com when opening ideas"
Hey @vedmant , here's the issue we're having with GTM explained. What we would like to achieve here is to track each even when users view an idea (each time).

**Issue: Only the first page is tracked.**

**Why is this happening?** The website is basically a Single Page Application (SPA). These complications occur whether you’re using Angular, React, Backbone, or any other front-end framework or co

[2021-08-15 10:20] ikosovec opened #1052 "What is "Get Started" supposed to do"
This is the button in question:
![image](https://user-images.githubusercontent.com/16639403/129475197-9c4593cc-3a3b-4ac0-8609-75c7f823dd4c.png)

Currently it does the same as clicking on the "Explore" button, going to the first idea.
Is it supposed to do something else?
Maybe redirect to the register or login pages?

What do you think?

[2021-08-15 10:21] ikosovec opened #1053 "Style the cookie banner in our brand colours"
Hey @vedmant, could you please change the CSS of the cookie banner to include our brand colours instead of the blue/white it's currently using?

Thanks.

[2021-08-15 15:56] ikosovec opened #1054 "Copying an idea URL from the "Top" category makes the URL direct to the 1st idea"
Steps to reproduce:
- Go to Dailyidea, start browsing top ideas
- Select a random idea I like
- Copy the URL and send it over to my friend (https://www.dailyidea.com/i/kdtvbj/tiktok-but-for-scientists-and-experts-in-a-specific-field?category=top)
- The URL opens up the first Idea instead of the one I linked (even the URL redirect is happening)

[2021-08-15 15:57] ikosovec commented on #1054
Additionally: this is happening only for the "Top" category, for the "New" category the URLs are working fine.

[2021-08-18 17:38] Watson-B commented on #1053
![image](https://user-images.githubusercontent.com/65913664/129945675-e6acd672-70b1-47ae-90fe-368e9c0d9478.png)
I have a [mock ](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=929%3A27947)of what this could look like.

[2021-08-18 17:47] Watson-B commented on #1050
@ikosovec I'm attaching updated email header, it can be found [in Figma here](https://www.figma.com/file/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea-Primary?node-id=1614%3A6017). It is the recommended width from the article, but shorter than the recommended height. Can you check and see if it scales it up or if it will reduce the header size. If it ends up scaling it, I can do a redesign that will make bett

[2021-08-23 13:50] ikosovec commented on #1050
@Watson-B let's do 600px width. I experimented and it would look best like that.
Could you please make a new export for me?

[2021-08-24 01:09] Watson-B commented on #1050
![email banner](https://user-images.githubusercontent.com/65913664/130539304-dd626196-a232-4554-8f6c-d7b3078f388e.png)
@ikosovec here is the updated 600px banner. Let me know if you need any other adjustments.

[2021-08-24 01:51] Watson-B opened #1055 "New Logo Update"
@ikosovec following up on the Notion to-do; below is a list of all the places where we currently have our old logo being used. I will update this post with replacement exports for each respective logo use.

Instagram profile photo

Facebook profile photo

Facebook banner

Twitter banner

Twitter profile photo

Update IG social media template

di.com top nav logo

di.com favicon

challenge.di.com f

[2021-08-24 10:21] vedmant commented on #1051
@ikosovec Ok, actually looks like we had a different issue, we use nuxt module `@nuxtjs/gtm` for this, and it was put in a wrong place in the config, I just moved it, so it should track all pages.

[2021-08-24 10:32] vedmant commented on #1051
@ikosovec The only place it may not work is when swiping between ideas, I'll add manual push for this.

[2021-08-24 11:33] ikosovec commented on #1050
![image](https://user-images.githubusercontent.com/16639403/130609436-7ec7d2d5-64a7-4120-a0bc-29157a884b5c.png)
I have a feeling it's a bit small in correlation with the rest of the content.
What do you think?

[2021-08-24 14:24] Watson-B commented on #1050
![email banner  + height](https://user-images.githubusercontent.com/65913664/130634248-10a7c29e-c2ab-48a9-83d8-0343d4bdb0fd.png)
@ikosovec I think you're right, I scaled up the logo size and increased the banner's height

[2021-08-24 15:08] ikosovec commented on #1050
Logo is fine now - todo: add bottom section.

[2021-08-28 21:40] vedmant commented on #1055
@ikosovec @ezl  I can work on this in a new frontend https://github.com/ezl/dailyidea-frontend

[2021-08-30 14:09] ikosovec commented on #1051
Hey!
It looks like the virtual pageview event is not set up right.

Now it is being pushed to the data layer, but not for all the pages of Daily Idea website, but only for the https://www.dailyidea.com/ideas-cards (which can be accessed via "Explore" in the main navigation, and "Get started" button on the homepage).

The event is supposed to be pushed in to the data layer on all the URL-s of the w

[2021-08-30 15:18] vedmant commented on #1051
@ikosovec I made edits, it should be deployed in 20 mins

[2021-09-06 22:47] vedmant commented on #1053
@Watson-B The lib we use doesn't really allow much of customizations, configs don't support html, so I can't add 3 lines text with first line bold. I changed colors for the bar, but what about modal?

<img width="640" alt="Screenshot at Sep 07 01-45-56" src="https://user-images.githubusercontent.com/5052406/132264091-f3bfc759-4d4a-4ac3-a54f-3c2373876b6c.png">
<img width="669" alt="Screenshot at Se

[2021-09-06 23:46] Watson-B commented on #1053
@vedmant The text formatting is a big deal, the only comment I have is that the text needs more of a left margin.
![image](https://user-images.githubusercontent.com/65913664/132264559-cbb238a1-bfdb-4564-b796-bfcbf4ab8c1d.png)

Also, can we match the border radius of the two buttons? The left one has rounded corners (preferred), while the right does not.
![image](https://user-images.githubuserconte

[2021-09-07 00:04] Watson-B opened #1061 "First Mile: Landing on di.com"
@ezl and I discussed a refocus on the first mile of the user experience. This [video](https://vimeo.com/596723324) explores the experience for a new user being shared a link to dailyidea.com, swiping through the tutorial, browsing ideas, and then signing up.

Changes included in video:

- Welcome Cards condensed
- Swipe prompt
- Loading wipe
- Authorization for sign up/login

[2021-09-07 00:11] Watson-B opened #1062 "First Mile: Landing on an idea"
Continuing off of issue #1061. We discussed how to encourage users to swipe through ideas when a new user was landing directly on an idea. This was explored in [this video](https://vimeo.com/596723377).

Key changes:

- Updated OpenGraph image
- Swipe prompt drawer
- Top as the default deck
- Card flip from top to new
- Contextual prompts/tutorials (pulling to refresh when tapping to new)

[2021-09-07 00:24] Watson-B opened #1063 "Cornerstone: Exploring ideas"
Stemming from the conversation in issue #1061, @ezl and I discussed the layout of DI and making sure that the interaction of browsing ideas was made to be the primary focus. The exploration of this discussion can be [seen here](https://vimeo.com/596723379/3d853dffbf).

This exploration looked at focusing the user on the idea in front of them and the interactions associated with that idea. It moves

[2021-09-16 15:22] vedmant commented on #1053
@Watson-B

The problem is that I can't pass html to this text blocks, it's escaped by the package, I need to study and edit the package code to fix this. What I mean is that there is one line of text in the bar, I can only change text in this line, change appearance of whole line, I can't add another line on top with different style.

I added margin (it might not be published yet).

Ok, edited.

Y

[2021-09-23 08:59] vedmant commented on #1053
@Watson-B Ok, cool, I'll move this issue to the new frontend repo and new org board

[2021-09-29 01:31] Watson-B commented on #1061
Explained in more depth in #1064
Closing for clarity

[2021-09-29 01:31] #1061 closed, assigned to nobody

[2021-09-29 01:31] Watson-B commented on #1062
Explained in more depth in #1064
Closing for clarity

[2021-09-29 01:31] #1062 closed, assigned to nobody

[2021-09-29 01:36] Watson-B commented on #1063
Further exploration to iterate on bringing the quill to the surface while still keeping the focus on browsing and reacting
default
![default](https://user-images.githubusercontent.com/65913664/135188153-a785ac81-2367-483a-ae97-24e41b4478a7.png)
reaction pressed
![on press](https://user-images.githubusercontent.com/65913664/135188154-106853e8-e603-4335-81f0-e933cbf8e02a.png)
![pressed](https://user

[2021-12-16 15:57] ezl opened #1065 "Add a stats page that we can easily see/access from the admin"

[2021-12-22 09:57] vedmant commented on #1065
@ezl So we need first to create admin area, will it be on the same frontend or some separate app and domain?

[2021-12-22 13:34] ezl commented on #1065
@vedmant all django implementations have an admin area by default. This default URL should be /admin on the actual django instance. So whatever the current API url is + path = "admin" should render something.

From there, it is fairly straightforward to create a single page that has direct access to the models.

I'd recommend setting up a pair programming session with @danleyb2 or @aldarund on thi

[2021-12-22 13:48] vedmant commented on #1065
@ezl There is no admin panel right now, I removed it cause I couldn't make it work with the way I coded. Sure I can try to do a live session with someone, but maybe it will be just much less effort and save time if someone experienced with Django can make admin panel work and don't break current API structure.