[2020-07-21 19:28] alisonuxdesign commented on #487
### DESKTOP

![unauthorized_myIdeas_Post_desktop](https://user-images.githubusercontent.com/63747360/88097742-dede7100-cb55-11ea-8431-d5b766719582.png)
![unauthorized_explore_desktop](https://user-images.githubusercontent.com/63747360/88097745-df770780-cb55-11ea-8a92-9a5057fbf359.png)
![landingPg3_desktop](https://user-images.githubusercontent.com/63747360/88097749-e0a83480-cb55-11ea-8d14-94d802f2

[2020-07-21 19:28] alisonuxdesign commented on #487
![landingPg1_desktop](https://user-images.githubusercontent.com/63747360/88097866-16e5b400-cb56-11ea-9484-32245d686dc2.png)
![landingPg2_desktop](https://user-images.githubusercontent.com/63747360/88097867-1816e100-cb56-11ea-8396-dd496f93f9e4.png)
![landingPg3_desktop](https://user-images.githubusercontent.com/63747360/88097870-18af7780-cb56-11ea-8749-12b055345cb9.png)
![unauthorized_explore_deskt

[2020-07-21 19:39] alisonuxdesign commented on #487
@vedmant here are the assets let me know if you are missing anything. Also going to copy the button specifications for you in so you have the specs in the next comment
[New Swipe Pattern Landing Pages assets.zip](https://github.com/ezl/dailyidea.com/files/4955789/New.Swipe.Pattern.Landing.Pages.assets.zip)

[2020-07-21 19:45] alisonuxdesign commented on #487
### Button Guide:

### Default Button:

![default button (1)](https://user-images.githubusercontent.com/63747360/87587778-c840a180-c69f-11ea-9383-3ba12b8dd646.png)

[code]

### On Hover:

![On hover](https://user-images.githubusercontent.com/63747360/87588968-c4158380-c6a1-11ea-8fce-a1c6f866f1ce.png)

[code]

### Clicked:

![Clicked](https://user-images.githubusercontent.com/63747360/87588289-9e3b

[2020-07-23 00:17] Watson-B commented on #483
### Explore Category Top Nav - Mobile Portrait
<img width="415" alt="mobile_portrait_top" src="https://user-images.githubusercontent.com/65913664/88241359-bf6f4300-cc3e-11ea-80f0-99f55280962f.png">
`Horizontal scroll browse box
Length: 375px
Height: 52px
Background-color: #FFFFFF
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
32px spacing between items.

Gradient selection to indicate scroll (far righ

[2020-07-23 02:44] alisonuxdesign opened #493 "Lightbox Comments Mobile Only"
This ticket is related to the original lightbox ticket #479 and we are splitting it up to keep things manageable.

**Use case**: When a user taps on the comment icon on the icon bar OR taps on comments at the bottom of a mobile idea card, the lightbox view opens and auto scrolls the user to the comment section. Screens are attached in order to show the user flow.  Please note that to achieve an at

[2020-07-23 02:45] alisonuxdesign commented on #493
here is also the delete icon in SVG but It might have so much padding. Sorry in advance @f-prime  [delete icon.svg.zip](https://github.com/ezl/dailyidea.com/files/4963607/delete.icon.svg.zip)

[2020-07-23 21:42] Watson-B commented on #483
### Mobile Bottom Nav - Portrait
<img width="375" alt="mobile_bottom_nav" src="https://user-images.githubusercontent.com/65913664/88341101-d15dee00-ccf1-11ea-904e-bfa4f5555230.png">

[code]

### Mobile Bottom Nav - Landscape
<img width="812" alt="mobile_bottom_nav_landscape" src="https://user-images.githubusercontent.com/65913664/88341162-f18dad00-ccf1-11ea-9259-b26f1cc55b17.png">

[code]

### Des

[2020-07-23 21:54] Watson-B commented on #483
### Clicked In Top Nav - Portrait
<img width="415" alt="clickedIn_portrait" src="https://user-images.githubusercontent.com/65913664/88341857-36661380-ccf3-11ea-8e2b-f30af103872a.png">

[code]

### Clicked In Top Nav - Landscape
<img width="852" alt="clickedIn_landscape" src="https://user-images.githubusercontent.com/65913664/88341869-39f99a80-ccf3-11ea-95b9-fffef4088662.png">

[code]

### Clicked

[2020-07-23 22:17] Watson-B commented on #483
### My Profile - Portrait
<img width="411" alt="myProfile_portrait" src="https://user-images.githubusercontent.com/65913664/88343787-0882ce00-ccf7-11ea-851c-7f94417b2fc9.png">

[code]

### My Profile - Landscape
<img width="845" alt="myProfile_landscape" src="https://user-images.githubusercontent.com/65913664/88343790-0a4c9180-ccf7-11ea-8647-deccf1551437.png">

[code]

### My Profile - Desktop
<im

[2020-07-23 22:24] Watson-B commented on #483
### Other's Profile - Portrait
<img width="411" alt="othersProfile_portrait" src="https://user-images.githubusercontent.com/65913664/88344350-3b799180-ccf8-11ea-8e37-022b15511ce9.png">

[code]

### Other's Profile - Landscape
<img width="872" alt="othersProfile_landscape" src="https://user-images.githubusercontent.com/65913664/88344366-43d1cc80-ccf8-11ea-8825-64750e2f1b51.png">

[code]

### Other'

[2020-07-23 22:33] Watson-B commented on #483
### Tag Explore - Portrait
<img width="415" alt="tag_portrait" src="https://user-images.githubusercontent.com/65913664/88344779-43860100-ccf9-11ea-9296-5f0307c52f4c.png">

[code]

### Tag Explore - Landscape
<img width="852" alt="tag_landscpae" src="https://user-images.githubusercontent.com/65913664/88344796-4c76d280-ccf9-11ea-8355-13bc56c4a572.png">

[code]

### Tag Explore - Desktop
<img width="

[2020-07-23 22:35] Watson-B commented on #483
@ezl @alisonuxdesign @f-prime Here are the different nav styles for portrait, landscape, and desktop. Let me know if there is any missing info that is needed or any changes I can make to help handoff.

[2020-07-24 10:50] vedmant commented on #487
@ezl To actually make it work properly I'd suggest doing it the way images carousels do this with preloading data for next / previous slides and pre-rendering them, then swipe gesture will feel more slick. Maybe using third party slider for this, I like this one https://github.surmon.me/vue-awesome-swiper/ it should save time and it has tons of features. I can try it first and check if it does wha

[2020-07-24 13:31] f-prime commented on #487
@vedmant I looked into vue-awesome-swiper when implementing swipe. It seemed to have too many features for what exactly we needed here. I generally have an aversion to third party dependencies especially for specific features like this that need fine tuning. When something like this has so many features it adds a lot of bloat for very little gain. Unless we're going to have many different kinds of

[2020-07-24 16:25] vedmant commented on #487
@f-prime OK, I'll go with custom solution. About preloading next prev slides I was thinking to do this not right after swipe but before, so next slide appears immediately without API request first. Also for front page we actually will have whole list of slides already loaded and will need to swipe between all them faster, and it makes sense to pre-prender at least next / prev slides before animati

[2020-07-24 17:01] alisonuxdesign opened #495 "My Ideas Page"
This Ticket is related to ticket #497  (implementing new Navigation). To implement the new Navigation we will simultaneously need to implement the new My ideas structure.

### _**Mobile**_

### My ideas is broken up into three sections: My Ideas, Saved Ideas, and Settings/edit profile. My ideas and Saved Ideas utilizes a miniature stacked card structure that opens into lightboxes.

**My Ideas**

!

[2020-07-24 17:33] alisonuxdesign commented on #495
### Assets

Collapsed Mini-card:

![Mini-card](https://user-images.githubusercontent.com/63747360/88418487-d8900500-cda0-11ea-9202-7cdb0601c1ab.png)

[code]
Settings Card:
![Settings Card](https://user-images.githubusercontent.com/63747360/88418565-fb221e00-cda0-11ea-8f87-cc5369ceaee6.png)

[code]

### Icons here:
[Settings Icon.zip](https://github.com/ezl/dailyidea.com/files/4973472/Settings.Icon

[2020-07-25 00:42] f-prime commented on #483
@Watson-B @alisonuxdesign I think what would help is a picture of these nav bars in context. If you have a screenshot or something with the nav bars on the screen that you could include here that'd help. Even with the title I am finding it hard to visualize where it goes on the page.

[2020-07-25 13:07] #480 closed

[2020-07-25 13:07] #466 closed

[2020-07-25 13:07] #467 closed

[2020-07-25 13:07] #396 closed

[2020-07-27 15:05] alisonuxdesign commented on #483
@f-prime thank you for this feedback! I will work on breaking this down into smaller issues.

[2020-07-27 15:53] alisonuxdesign commented on #495
My Profile - Portrait
myProfile_portrait

profile nav Portrait
Box:
/* Style for "Rectangle" */
width: 375px;
height: 52px;
background-color: #ffffff;

Selection highlight:
width: variable
height: 8px;
background-color: rgba(91, 65, 187, 0.15);

Selection Underline:
width: variable
height: 2px;
background-color: #ffc61e;

Selected text:
color: #5b41bb;
font-family: "Avenir LT Std";
font-size: 16px

[2020-07-27 16:01] ezl opened #496 "dark mode for emails"

[2020-07-27 16:03] #235 closed

[2020-07-27 16:03] #236 closed

[2020-07-27 16:03] #237 closed

[2020-07-27 16:03] #244 closed

[2020-07-27 16:03] #240 closed

[2020-07-27 16:03] #243 closed

[2020-07-27 16:03] #238 closed

[2020-07-27 16:03] #241 closed

[2020-07-27 16:03] #242 closed

[2020-07-27 16:03] #239 closed

[2020-07-27 16:09] #211 closed

[2020-07-27 16:09] #209 closed

[2020-07-27 16:09] #212 closed

[2020-07-27 16:09] #213 closed

[2020-07-27 16:10] #230 closed

[2020-07-27 16:10] #224 closed

[2020-07-27 16:10] #223 closed

[2020-07-27 16:10] #232 closed

[2020-07-27 16:18] alisonuxdesign opened #497 "Update Universal Nav"
### **Mobile:**
Fixed Bottom Nav

![navigation](https://user-images.githubusercontent.com/63747360/88564657-b2f93a80-cff0-11ea-9447-104b08b7ee37.png)

![shortIdea_img_landscape](https://user-images.githubusercontent.com/63747360/88566673-96aacd00-cff3-11ea-984d-1f43c683c7d5.png)

**_Elements:_**
<img width="375" alt="Portrait Bottom Nav" src="https://user-images.githubusercontent.com/63747360/8856

[2020-07-27 16:27] alisonuxdesign commented on #497
### **Desktop**

![ideaView_desktop](https://user-images.githubusercontent.com/63747360/88566759-b3470500-cff3-11ea-8b9e-61a003381e46.png)

**_Elements:_**

<img width="1483" alt="Desktop Top nav" src="https://user-images.githubusercontent.com/63747360/88566781-bf32c700-cff3-11ea-991d-68390e9d90bf.png">

[code]

[2020-07-27 16:34] alisonuxdesign commented on #497
Assets in ZIP here:

[Universal.zip](https://github.com/ezl/dailyidea.com/files/4983203/Universal.zip)

[2020-07-27 17:00] alisonuxdesign commented on #495
### **Desktop**

**_My Ideas main section_**
Please note that this is the only section that has a lightbox for Desktop In the form of an expanded mini-card.

![myIdeas_desktop](https://user-images.githubusercontent.com/63747360/88569586-de335800-cff7-11ea-8063-b23f116c4adc.png)
![myIdeas_edit_desktop](https://user-images.githubusercontent.com/63747360/88569591-df648500-cff7-11ea-9b79-7bf6a9690c66.

[2020-07-27 17:20] alisonuxdesign commented on #393
@ezl & @Watson-B I think this might be a really fun opportunity to have a custom illustration. I know we had chatted about it and decided against doing it for every single illustration on the site but this one might be a nice touch

[2020-07-27 22:12] alisonuxdesign commented on #399
@ezl  thinking something like this:

![Get new Code](https://user-images.githubusercontent.com/63747360/88597095-bb1e9d80-d023-11ea-8375-88c5ad581e28.png)

Let's have it expire

1) after a few (thinking 2-4)  hours of being requested
2) If another link or code is sent to the same email

[2020-07-28 01:05] alisonuxdesign opened #498 "Skeleton Card Browse Swipe interaction"
We are implementing a skeleton card to live underneath any given card so that when the user swipes one direction or another, they are given a visual queue that another card is behind it.

![skeleton_matte](https://user-images.githubusercontent.com/63747360/88608553-3ccff480-d03f-11ea-823c-7f428e0cb4db.gif)

![Skelton Card Portrait](https://user-images.githubusercontent.com/63747360/88608158-502e90

[2020-07-28 15:57] ezl commented on #399
(A) please include screens for both expired code and for expired link (mobile v desktop)
(B) no need to take action by user -- ASSUME they want the code, let them know we already sent it to them and they should just check their inbox: "oops your ___ expired, we sent you a new one to alison@site.com -- go check it."

cc @alisonuxdesign

[2020-07-28 17:58] Watson-B opened #499 "test"

[2020-07-28 18:47] Watson-B opened #500 "Desktop entry form for mobile login request"
<img width="1646" alt="desktop_codeEntry_filled" src="https://user-images.githubusercontent.com/65913664/88708638-ced00f80-d0c8-11ea-830e-2f7fa82d4549.png">
<img width="1670" alt="desktop_codeEntry_empty" src="https://user-images.githubusercontent.com/65913664/88708640-ced00f80-d0c8-11ea-81d2-49ea18b6762f.png">

[code]

[2020-07-28 19:19] Watson-B commented on #358
<img width="415" alt="ideaPost_confirm_modal" src="https://user-images.githubusercontent.com/65913664/88711075-769b0c80-d0cc-11ea-9d29-804860b6c19a.png">
@ezl Is this what you were thinking?

[2020-07-28 20:17] Watson-B commented on #496
Is this what you were thinking @ezl @alisonuxdesign

<img width="375" alt="lightCode" src="https://user-images.githubusercontent.com/65913664/88716843-8a4a7100-d0d4-11ea-87a1-be27f052826a.png">
<img width="375" alt="lightMagic" src="https://user-images.githubusercontent.com/65913664/88716847-8ae30780-d0d4-11ea-9a1a-64daff8d366c.png">
<img width="375" alt="darkCode" src="https://user-images.githubu

[2020-07-29 14:33] alisonuxdesign commented on #493
@f-prime just wanted to make a note here that the pattern with the little delete icon should also be present on desktop. see screenshot.

![Screen Shot 2020-07-29 at 8 27 38 AM](https://user-images.githubusercontent.com/63747360/88813437-28dade80-d176-11ea-9be7-5b5dcc0f2533.png)

[2020-07-30 14:53] f-prime commented on #478
This issue seems to be redundant considering #497.

[2020-07-31 11:22] ezl commented on #478
@f-prime agreed. closing.

[2020-07-31 11:22] #478 closed

[2020-07-31 15:45] alisonuxdesign commented on #469
hey @ezl and @vedmant I'm having trouble with this flow. I tried it on the live production site and few things need to be changed:

1. I am not able to submit my code. The "Okay" button just doesn't submit anything and I'm stuck on the screen.
2. when I go back to try to edit my code I need to select every single text input instead of it jumping backwards.

[2020-07-31 16:34] alisonuxdesign commented on #399
### **Mobile**

**For expired Code**
![Code expired_mobile](https://user-images.githubusercontent.com/63747360/89056391-2bc20480-d319-11ea-82d1-5a3f3a34e8bb.png)

**For expired Link**
![Link expired_mobile](https://user-images.githubusercontent.com/63747360/89056431-3bd9e400-d319-11ea-8a8a-c3e88a17cc7d.png)

### **Desktop**

**For expired Code**
![Code expired_desktop](https://user-images.githubus

[2020-07-31 16:42] alisonuxdesign commented on #496
yeah i think this looks good @ezl ?

[2020-07-31 16:42] alisonuxdesign commented on #358
Yeah love this! lets implement

[2020-07-31 16:47] alisonuxdesign commented on #435
hey @f-prime I'm not sure what to do with this ticket.... do you want me to design screens or just direct the proper flow?

[2020-07-31 16:55] alisonuxdesign commented on #358
Assets for this idea here:
[Idea Created Assets.zip](https://github.com/ezl/dailyidea.com/files/5008105/Idea.Created.Assets.zip)

[2020-07-31 16:57] alisonuxdesign commented on #399
![Bird Illustration](https://user-images.githubusercontent.com/63747360/89058459-90cb2980-d31c-11ea-8862-e336d5b5ec95.png)

[2020-08-01 05:35] ezl commented on #469
@vedmant tagging you. i reopened this issue since @alisonuxdesign reported that it didn't work as she expected.

if you feel this works as you thought it was supposed to, then the 2 of you need to discuss to make sure you are on the same page about the expected outcome.

[2020-08-01 05:36] ezl commented on #358
agreed. gorgeous. love it, @Watson-B

adding to dev pipeline for execution.

[2020-08-01 05:38] ezl commented on #496
i think this looks good. assigning this to @vedmant since he's done the most email work recently.

@vedmant this ticket is to update the styles so that it renders in dark mode better.

[2020-08-01 05:39] ezl commented on #399
teehee. ❤️ the chosen image.

[2020-08-01 05:51] ezl commented on #435
@alisonuxdesign can you just do an audit and check out if you think we should have a different onboarding flow or different messaging if a user is "signing up" to the site via a comment/like/share?

specifically, i think this means:

if an unauthenticated user who is NOT a user of the site tries one of these actions, say for example "comment" - then we say "oh hi there, give me your email so i can

[2020-08-02 14:23] ezl commented on #393
i'm on board with custom illustration here

[2020-08-03 03:58] vedmant commented on #469
@ezl
Hm, this looks like broken only on https://beta.dailyidea.com/ but words perfectly on my local. I'll try to re-deploy and investigate it.

@alisonuxdesign

What do you mean by jumping backwards?
Currently it allows to use delete button and it automatically goes between inputs: https://drive.google.com/file/d/1a1jfdp2LQ8IU9rxjP6P6tE3zp-aIZfSL/view?usp=sharing

[2020-08-03 04:15] vedmant commented on #469
@ezl It works ok after I deployed it manually, not sure how it was deployed previous time.

[2020-08-03 04:15] vedmant opened #502 "on weekly email -- image at top should be different based on the number of ideas the user submitted."
there should be different images that are identical except the number in the balloon

[2020-08-03 13:18] f-prime opened #504 "Not able to continue after entering mobile code."
@vedmant I am not sure if this is a known issue, but pressing "Okay" does not seem to do anything when logging in with the mobile code. It keeps me stuck on the "Check your Inbox!" page.

I tested this live (dailyidea.com) and locally with latest dev and it does not seem to work.

[2020-08-03 20:08] Watson-B commented on #393
![Frame 2](https://user-images.githubusercontent.com/65913664/89222461-f2440000-d589-11ea-881a-4ca0eb45c505.png)
@alisonuxdesign and I did some brainstorming this morning. This is just a quick mock and would need some polish, but what about something like this @ezl ?

As I was exploring this idea this morning, I had an idea about reusing the bulb if we go this direction.
<img width="415" alt="logI

[2020-08-04 22:34] #502 closed

[2020-08-05 00:44] Watson-B commented on #393
![solid](https://user-images.githubusercontent.com/65913664/89359175-049d6700-d67a-11ea-87bc-24a112af8a90.png)
![gradient](https://user-images.githubusercontent.com/65913664/89359178-0535fd80-d67a-11ea-9c2a-5b8d21426a7f.png)
![no_blush](https://user-images.githubusercontent.com/65913664/89359179-0535fd80-d67a-11ea-95c2-5177dbca6b18.png)
@alisonuxdesign this is all you needed, right?

[2020-08-05 05:24] ezl commented on #482
@danleyb2 are you up for this?

[2020-08-05 06:31] danleyb2 commented on #482
@ezl Yes i am

[2020-08-05 16:31] alisonuxdesign commented on #393
@Watson-B Yeah lets go with this last one! I'm going to go-ahead and delete our trail to make it easier to implement for Dev

[2020-08-05 16:32] alisonuxdesign opened #505 "Preview Image for sharing an idea"
We can explicitly set the "Preview image" that is displayed when someone posts a link on facebook or how it renders in slack/sms.

1. IIf a user INCLUDES an image, we should use their image, e.g. https://www.dailyidea.com/i/8ve2gd/finnish-spa
2. If there is no attached image we should share this graphic:

![no_blush](https://user-images.githubusercontent.com/63747360/89439838-fdbd3580-d707-11ea-93

[2020-08-05 16:41] #393 closed

[2020-08-05 17:27] alisonuxdesign commented on #435
### The modals for these are created and detailed below.

A. In the case of comment/save/share: If the user is the middle of the interaction, we verify their email and drop them back into the action they wanted to complete and show a toast message that their action was completed. As soon as they click into any other navigation tab (other than Explore) they are brought into the onboarding flow.

##

[2020-08-05 17:51] alisonuxdesign opened #506 "Unauthorized User states"
This ticket is to address What the site looks like to authorized users and what kind of experience they having during these crucial first touchpoints.

1. Users will only be able to access Explore during their pre-logged in session when trying to navigate to Post or My Ideas the yare taken to this page:

![My Ideas 21](https://user-images.githubusercontent.com/63747360/89446137-6230c280-d711-11ea-

[2020-08-05 17:56] alisonuxdesign commented on #506
Assets here:
[Assets Unauthorized User states.zip](https://github.com/ezl/dailyidea.com/files/5030277/Assets.Unauthorized.User.states.zip)

[2020-08-05 17:57] alisonuxdesign commented on #435
Closing this ticket in favor of ticket #506

[2020-08-05 17:57] #435 closed

[2020-08-05 18:21] alisonuxdesign opened #507 "Make sure format bar on post screen is always sticky above the keyboard"
MOBILE ONLY: Please make sure that in portrait view on mobile that the format bar is always sticky above the keyboard also please make the "enter" key be the post key. We will have no post button.

![post_portrait](https://user-images.githubusercontent.com/63747360/89449768-c73ae700-d716-11ea-91a0-a584ddd4e930.png)

Please note that if possible on landscape we don't want the format bar to be stick

[2020-08-06 04:41] danleyb2 commented on #482
@ezl @alisonuxdesign  Have implemented the CSS above and this is how it looks

![2020-08-06_07-36](https://user-images.githubusercontent.com/9919961/89491325-af676f80-d7b7-11ea-9928-7b68e03e745d.png)

A few issue

1. We are missing the font
2. Are the css to imlement only limited to the onces provided above for now or should i add more?
this is because the button in the disabled state still hovers

[2020-08-06 11:27] f-prime commented on #495
@alisonuxdesign Where can I find the "start saving inspiration" image?

[2020-08-07 06:47] vedmant opened #509 "Create a way to handle env variables between environments"
To avoid missing needed env variables when deployed to production. Needs discussion

[2020-08-09 05:35] ezl commented on #505
@alisonuxdesign @Watson-B sorry -- just realized -- this image is too big.

the preview image sizes should follow certain recommendations for opengraph standards to make sure they render well across different platforms (facebook, twitter, etc preview things differently, as do fb messenger, android SMS, and iMessage).

there are a few different POVs on this (you can google about it if you like).

M

[2020-08-09 06:25] vedmant commented on #487
@ezl Ok, as a first stage I'll work on new top bar and footer. Then on main slider. I'll add a subtasks list here and will update it if needed:

- [ ] New layout component
- [ ] New top bar
- [ ] New footer
- [ ] Front page slider

[2020-08-09 06:32] vedmant commented on #487
@ezl There are some things not clear about new front page. About order of slides. I see there is one slide with Signup / Login button, with left and right arrows but without dots on the bottom, then next slide is an idea (should it go there on right arrow?), then there are next three slides with 3 dots on the bottom “How does it work”, “Browse popular ideas” and “Every day log an idea”. What’s not

[2020-08-09 06:40] vedmant commented on #509
@aldarund I think quite a simple solution will be to add a build plugin to Nuxt to read all env keys from example.env and then check if all that keys exists. That will ensure that current environment has all keys that are present in example.env.

[2020-08-09 13:22] danleyb2 commented on #487
hi @vedmant will be working on this together.
You layout of the tasks looks okay with me.
As you already working on the **new top bar and footer** is it okay if i start on the **Front page slider** ?

[2020-08-09 14:01] vedmant commented on #487
@danleyb2 hi, looks like navbar is already done by @f-prime in https://github.com/ezl/dailyidea.com/issues/497 @ezl could you please manage who should work on which task here?

[2020-08-09 14:35] #187 closed

[2020-08-09 14:48] ezl commented on #509
mmmm -- i'm wary of overengineering a solution.

is this not as easily solved with "make sure to always update the README if we change env variables?"

[2020-08-09 15:00] vedmant commented on #509
@ezl The problem with readme is that it's all manual, means that someone who will deploy new changes to production will need to manually re-check if any new variable was added (also someone who adds variable needs to make sure to add it to readme). I don't think it readme can solve anything, it will be very easy to miss env variables check especially cause we don't change them often.

[2020-08-10 00:36] ezl opened #511 "Implement Explore secondary top navigation"
2 categories:
Newest
Bestest

[2020-08-10 07:16] vedmant commented on #500
@ezl @Watson-B Current desktop page looks quite similar already https://prnt.sc/twz7x5, should I work on pixel perfect design? I'll need then to work on both mobile and desktop versions in a single task.

@alisonuxdesign Could you add me to figma so I get get all dimensions more easy?

[2020-08-10 07:21] vedmant commented on #358
@ezl "Turn on post activity emails" - we don't have this feature, should I add this switch with no actual function?

[2020-08-10 12:56] ezl commented on #358
@Watson-B @alisonuxdesign what should "turn on post activity emails" control?

[2020-08-10 14:16] alisonuxdesign commented on #358
I think the idea was to send a triggered email when the user's idea was getting some action. is this hard to set up? I'll whip up an email design today for this purpose if approved. @vedmant @ezl

[2020-08-10 15:13] alisonuxdesign commented on #505
@ezl good to know. I will resize and resend. Do you need it in PNG form or SVG? I have both attached in the asset zip folder I believe but can resize the PNG specifically with new dimensions

[2020-08-10 15:14] ezl commented on #487
#487 is a replacement for the landing page. any time a user, authenticated or not, no matter how many times they have been to the landing page (www.dailyidea.com/) -- they should see this card interface. it's basically: "the landing page is a 3 card carousel, where if you swipe right on the 3rd carousel item, it takes you to the first item of "browsing" (which, for now is www.dailyidea.com/ideas/a

[2020-08-10 15:14] ezl commented on #481
#481 is a welcome explainer for the first time a user starts browsing ideas. the first time a user, authenticated or not goes to the browsing experience (dailyidea.com/ideas/all), this explainer card is displayed on the top of the stack.

[2020-08-10 15:23] ezl commented on #358
@alisonuxdesign no need for design.

I propose that we don't implement this functionality here.

This basically seems then to be a *per idea* toggle for updates (idea saved, idea commented, idea liked).

Instead, I propose we treat this as a global setting, which we'll store in the Settings section - users can subscribe to updates on these actions (saved, commented, liked) on a global basis for AL

[2020-08-10 22:08] Watson-B opened #514 "New Logo animation for login/thinking/etc"

[2020-08-10 22:08] Watson-B opened #515 "Implement new toast UI"

[2020-08-10 22:08] Watson-B opened #516 "implement one-idea-at a time on explore"
Let's go ahead and implement a "One idea at a time" browsing experience. The current experience is that "all ideas" (aka explore) is abbreviated ideas cards that are stacked on top of one another and once the user clicks into an idea they can swipe between them. We want to make it so there is no "stacked view" on explore just one idea at a time. This is so that users are able to focus on one idea

[2020-08-11 12:29] danleyb2 commented on #482
@alisonuxdesign what is the difference between **default** and **hover** ?,
the colors in the css are similar but the images look different

[2020-08-11 14:39] alisonuxdesign commented on #505
Here is the new resized PNG:
[no_blush.png.zip](https://github.com/ezl/dailyidea.com/files/5057560/no_blush.png.zip)

[2020-08-11 14:45] ezl commented on #505
any format is fine. moving this back to "ready for implementation"

[2020-08-11 16:51] Watson-B commented on #311
Some first passes at light and dark mode for email alerts

**Comments and Likes**
<img width="375" alt="all activity_dark" src="https://user-images.githubusercontent.com/65913664/89925206-effc2a00-dbb7-11ea-8502-87c8815d24f0.png">
<img width="375" alt="all activity_light" src="https://user-images.githubusercontent.com/65913664/89925208-f094c080-dbb7-11ea-8d85-6b03d0d22f07.png">

**Multi Comments**

[2020-08-11 16:52] Watson-B commented on #311
@ezl @alisonuxdesign tagging for feedback

[2020-08-11 17:28] vedmant commented on #358
@vedmant Setting per idea will require quite big amount of coding, but of course makes more sense. That will be out of this issue scope. So for now I just remove that toggle?

[2020-08-11 17:29] alisonuxdesign commented on #358
@vedmant Remove the toggle. I'll attach a new design, it will take me 5 seconds

[2020-08-11 17:32] alisonuxdesign commented on #358
<img width="415" alt="post_deleteConfirm_portrait" src="https://user-images.githubusercontent.com/63747360/89929308-b1be3500-dbce-11ea-92b9-5a8acf8c745d.png">

@vedmant

[2020-08-11 17:35] vedmant commented on #358
@alisonuxdesign Ok, done.

[2020-08-11 17:55] vedmant commented on #496
@alisonuxdesign @ezl Not sure how exactly to do this task. There is no proper way to detect dark mode, I found only some hacks that may not work. I can add a setting to use to switch on dark mode, but this also may not work as email client actually changes style of email.

Right now in dark mode email looks almost as in the design, only background is darker. I'm not sure if any changes are needed.

[2020-08-11 18:10] vedmant commented on #399
@ezl This one depends on new swiper implemented first according to design. For now I can make it re-send emails and redirect to confirm or success page without changing design. I can add "expired" query variable to render different text.

[2020-08-11 18:12] vedmant commented on #509
@ezl Please let me know if I should proceed with env validator module, this should be quite simple one, but will ensure that all env variables that are in example.env present during building, so if something is missing build will fail.

[2020-08-11 19:00] ezl commented on #509
i don't like it. i still prefer documentation.

waiting for @aldarund to respond to be the tie breaker.

[2020-08-11 19:01] ezl commented on #399
if this has another dependency, just wait for that one to be merged first then. if you think you can make progress before that, go for it.

[2020-08-11 19:03] ezl commented on #496
I see -- this is a valid concern. I think this requires more research. Removing from being currently assigned and putting this back on deck, then will discuss internally for design to assess how we should proceed.

I think one of the avenues for handling dark mode is that designers create assets that render well in both modes.

[2020-08-11 19:03] vedmant commented on #399
@ezl Ok, I'll wait for front page otherwise it will be code duplicate and double work. There is a question then about left / right arrows on the last images, where they should navigate?

[2020-08-11 19:07] ezl commented on #399
@alisonuxdesign where do the left/right arrows on the image with the empty bird cage navigate to?

[2020-08-12 15:09] vedmant opened #518 "Update error messaging style and copy in login flow"
Just spotted most likely a bug https://prnt.sc/ty8i8r in error message (edited)

@alisonuxdesign

[2020-08-12 15:20] alisonuxdesign commented on #500
This screen already exists and this ticket is a duplicate

[2020-08-12 15:20] #500 closed

[2020-08-12 15:56] alisonuxdesign commented on #518
@vedmant Thanks for finding this and reporting it!

Let's go ahead and implement all the new verbiage for login error screens since you will be touching it.

1. Can't find an account:
![logIn_error_createAccount_portrait](https://user-images.githubusercontent.com/63747360/90035941-0a9dd400-dc88-11ea-9ef5-d9c76d1b52ba.png)

2. Invalid email address:
![logIn_requiredField_portrait](https://user-imag

[2020-08-12 16:00] alisonuxdesign commented on #311
@Watson-B  i like this, I kind of want to add a bit of illustration tho. I'll play around and see if I can make it look okay without taking up too much space

[2020-08-12 20:28] ezl commented on #311
snooze for 1/2/4 weeks -- Do you think it would be possible to get them inline on one row instead of 3 rows? snoozing is an important pattern, i think, but not so important that i would want it to take up so much vertical screen space.

[2020-08-12 20:32] Watson-B commented on #311
<img width="375" alt="break footer_dark" src="https://user-images.githubusercontent.com/65913664/90064816-2d3be700-dca0-11ea-9330-d4eb22546d4c.png">
<img width="375" alt="break footer_light" src="https://user-images.githubusercontent.com/65913664/90064819-2d3be700-dca0-11ea-9661-7be54ef36167.png">
Yeah, we can make that work

[2020-08-12 20:33] ezl commented on #518
Updated ticket name, moved to "in progress" in design pipeline, and assigned to @vedmant in dev pipeline.

Thanks both of y'all.

[2020-08-12 20:36] ezl commented on #311
I prefer that -- OK with you too @alison?

--Eric

On Wed, Aug 12, 2020 at 3:32 PM Watson-B <notifications@github.com> wrote:

[2020-08-13 07:28] vedmant commented on #518
@ezl @alisonuxdesign

This part is a bit confusing, do you want me also to work on design in this ticket or it's only about error message?

[2020-08-13 15:35] alisonuxdesign commented on #311
yeah @Watson-B and @ezl I like this horizontal layout better. Going to add illustrations and then move this forward into implementation.

[2020-08-13 15:44] alisonuxdesign commented on #518
@vedmant what is your call? I thought that since you were in the codebase for this section that we might as well also push a few design changes but maybe I am mistaken. @danleyb2 is taking care of the buttons but new icons and slight design changes with inserting icons might as well get done now.

Am I mistaken? Is this hard to implement the new design right now?

[2020-08-13 16:15] vedmant commented on #518
@alisonuxdesign The thing with design is that it depends on other pages as well, so this have to be done globally in the scope of one or list of issue that are specifically about design, like replacing and moving close icon to the left on all pages that has it,  adding thick underline to all links on all pages. If I just do this on one page, then someone else will do something similar to another p

[2020-08-14 08:03] vedmant commented on #311
@ezl I have some concerns about multiple comments notifications. I see in design emails are like "you have 2 new comments" the question is 2 new comments since when, last login or last time user opened that specific idea, or something else?

Also about likes "10 people liked your idea" - is this total idea likes or also some number after some point in time?

[2020-08-14 08:09] vedmant commented on #311
- [ ] Idea activity setting
- [ ] New likes notification
- [ ] New comments notification

[2020-08-14 11:42] ezl commented on #311
@vedmant this is a very good point and a valid concern.

If I'm understanding correctly, your question is:

if a person receives 1 comment every hour on Thursday on a SINGLE, should that person get:
(A) 24 emails, each sent immediately after the comment was made?
(B) 1 email at midnight on Thursday saying 24 comments have been received?

In the above, (A) has the benefit of immediacy, which allows

[2020-08-14 12:15] ezl commented on #469
@vedmant this is listed as in PR review, but I think it is merged -- can you confirm? If so, just move to merged in projects/1 please

[2020-08-14 12:49] vedmant commented on #469
@ezl Yes, the issue didn't require code change

[2020-08-14 22:12] ezl commented on #469
thanks. closing issue.

[2020-08-14 22:12] #469 closed

[2020-08-17 04:14] dr3wsss opened #521 "Receiving email even after you unsubscribed"
Email: andrewangeles0923@gmail.com
I went to settings before and turn off all 3 notification settings to unsubscribe.

It's been a while and all of a sudden on the 16th of August I received 3 emails from Daily Idea which I believe I have turned off since I created the account. Can't seem to find the settings now to check.

[2020-08-17 11:08] vedmant opened #522 "Database migration tool"
Idea is to create something similar to https://medium.com/@geekrodion/migrations-in-dynamodb-b6c9b1099f31

[2020-08-17 11:24] f-prime commented on #522
There seems to be a few DynamoDB ORMs out there (or at least something that tries to get close) would it be possible to use one of those? @ezl has mentioned that at some point we are going to migrate the backend to Django instead because of issues like these.

[2020-08-17 11:28] vedmant commented on #522
@f-prime We use one ORM pynamodb, but it doesn't have migrations, do you have any specific examples for migrations and ORM?

[2020-08-17 12:43] f-prime opened #523 "Idea Reminders toggled off then back on never actually reenables daily emails"
In settings when "Idea Reminders" is toggled off `unsubscribedAt` is created in the user object. When "Idea Reminders" is toggled back on `unsubscribedAt` does not get removed.

In `request_daily_idea.py` one of the conditions for `users_iterator` is `UserModel.unsubscribedAt.does_not_exist()` which means that once "Idea Reminders" is toggled off it can never be successfully reenabled resulting in

[2020-08-17 12:51] f-prime commented on #522
I saw that we are using pynamodb but I did not realize that it doesn't have migrations. Doing a bit more research it doesn't seem like many do. There are some other tools.. but nothing that looks that good.

Yeah, now I am not sure how to do this other than the custom solution that you recommended. It's a bit surprising to me that this problem hasn't been solved properly yet.

[2020-08-18 06:19] vedmant commented on #311
@ezl Please let me know which way to go here.

Also I'lll continue here after completing https://github.com/ezl/dailyidea.com/issues/522 as it will require migration for the ideaActivity setting.

[2020-08-18 09:25] vedmant commented on #522
@ezl @f-prime Ok, I ended up using this package https://github.com/clarityhub/serverless-dynamodb-migrations#readme still having some errors, solving them.

[2020-08-18 12:47] ezl commented on #311
cc @alisonuxdesign

[2020-08-18 12:50] ezl commented on #522
correct, i intend to migrate to django at some point, but only *IF* I can first drive usage on the existing backend.

Basically, if I can't get users or users don't care about this site, it's not worth a rewrite. So unfortunately for now, that just puts us in the awkward situation of making incremental improvements to something that I *HOPE* will be replaced. However, we can't just "do nothing" ei

[2020-08-18 14:29] alisonuxdesign commented on #311
I'm sorry guys I totally dropped the ball on this, I designed the screens and then just didn't attach them. @vedmant github isn't letting me attach right now so I will slack designs to you and try again.

[2020-08-18 14:36] alisonuxdesign commented on #311
okay so what i’m thinking and open to suggestion is:
if a person receives 1 comment every hour on Thursday on a SINGLE idea, should that person get: 1 email at midnight/another time of day on Thursday saying 24 comments have been received. I think we don’t want flood people’s emails and if we REALLY want this feature we are better off with making a native app with push notifications instead of spa

[2020-08-18 16:04] ezl commented on #311
Agreed @alisonuxdesign.

So @vedmant - the decision here is that once a day, we will notify the user of his/her updates.

from an implementation perspective, consider that in the future, we'll want to be able to have a notification center in the app/website where the user can see notifications since his/her last login.

so for this issue, i think the right implementation is to:

1. NOT send immedi

[2020-08-18 18:35] ezl opened #526 "Design an empty state for "ideas" page"
When a user has no ideas, show something.

Example of an empty one:
https://www.dailyidea.com/ideas/nick-8feb

[2020-08-20 13:44] vedmant commented on #311
@ezl I probably need new template that will incorporate all updated for user ideas. Like one email that will list all updated ideas, then each idea will have stats like number of likes (who liked), number of comments (limited comments list), number of saves. I think it makes more sense then sending separate emails for each idea / comments / likes / saves.

[2020-08-20 13:52] ezl commented on #311
ok. cc @alisonuxdesign

[2020-08-24 14:55] vedmant commented on #311
<img width="375" alt="multi comments_light" src="https://user-images.githubusercontent.com/5052406/91059960-09c75380-e633-11ea-8939-f58c6e53eac7.png">

[2020-08-24 14:56] vedmant commented on #311
@alisonuxdesign When there are multiple ideas, where View Comments button will lead?

[2020-08-24 15:16] f-prime opened #528 "My Ideas Page (Settings)"
Moving the settings page described in #495 here

![](https://user-images.githubusercontent.com/63747360/88417302-f3fa1080-cd9e-11ea-8803-17ed3ed66100.png)

![](https://user-images.githubusercontent.com/63747360/88417303-f52b3d80-cd9e-11ea-9a9c-352f3db3d4d9.png)

![](https://user-images.githubusercontent.com/63747360/88417305-f5c3d400-cd9e-11ea-9826-8534f7ada931.png)

![](https://user-images.github

[2020-08-24 16:32] vedmant opened #529 "Unsubscribe from all is broken"
Unsubscribe from all is broken, it worked previously

[2020-08-26 14:43] alisonuxdesign commented on #311
hey @vedmant button will lead eventually notification page but for now, let's assign it to "my ideas" section. Also, I wasn't able to attach this to Github so I slacked it to you- look a few comments up in our thread. also right here:
[Email DI.zip](https://github.com/ezl/dailyidea.com/files/5130534/Email.DI.zip)

[2020-08-26 14:46] vedmant commented on #311
@alisonuxdesign In the latest template I don't see snooze buttons, but you have them in zip file, should I add them?

[2020-08-26 14:50] alisonuxdesign commented on #311
yes, the full design here:

<img width="375" alt="break footer_light" src="https://user-images.githubusercontent.com/63747360/91319055-2a012a80-e779-11ea-9da5-cdae5f89e3c1.png">
<img width="375" alt="multi comments_light" src="https://user-images.githubusercontent.com/63747360/91319059-2a99c100-e779-11ea-89b9-95e028236c85.png">

[2020-08-28 14:25] vedmant commented on #390
@ezl Not sure what's the purpose of this, but I added target="_blank" to idea link

[2020-08-28 14:43] vedmant commented on #498
@ezl We don't have cards like that currently. Swiping is different from the image above, also list of ideas are loaded on the page, so there is no need to show skeleton, they can be rendered instantly. Not sure what do to for this task.

[2020-08-28 18:12] ezl commented on #498
The task is just to put a static card placeholder underneath where the currently displayed card is. it is only visible when the primary card is moved from it's base position.

@alisonuxdesign -- please
(A) correct me if I'm wrong
(B) confirm that we still want to do this

[2020-08-28 18:14] ezl commented on #390
in the past I could not right click ideas idea list pages (such as /ideas/all) and open an idea in a new tab.

i just checked the site, and this is possible now, so this ticket is invalid. closing.

[2020-08-30 17:19] ezl opened #534 "Add filter for "check gmail" to only search for current day emails"
In this button:
https://monosnap.com/file/GMTsT1E9sLkjEx31bIdE4lbudqmu3Q

This searches gmail for login emails matching the subject. It also shows all old ones.

Add an additional filter in the search for only those sent in the last 1 hour if possible, 1 day if not possible for 1 hour.

[2020-08-31 07:00] vedmant commented on #498
@ezl The main problem is that we don't have card underneath, we have different swipe pattern:

![Aug-31-2020 09-59-29](https://user-images.githubusercontent.com/5052406/91691664-b1cba800-eb70-11ea-9502-2b25ae977a43.gif)

Furthermore, list of next and previous ideas is pre-cached, so there is no need to wait for something, next card can be rendered instantly.

[2020-08-31 07:02] vedmant commented on #498
@ezl Oh, I see, sorry, I was thinking that skeleton is for next idea card, but this is just a background without any fuction.

[2020-08-31 08:26] vedmant commented on #498
@ezl Ok, done, to safe time I didn't do skeleton pixel perfect, but similar in layout. Let me know if pixel perfect is important here, I can make it.

[2020-08-31 09:21] vedmant commented on #390
@ezl I see, then probably we need to revert this pull request, as I make links open in tab, not what this task was about.

[2020-08-31 13:13] f-prime opened #536 "Post settings popup"
Moved out of #495

![](https://user-images.githubusercontent.com/63747360/88569591-df648500-cff7-11ea-9b79-7bf6a9690c66.png)

[2020-08-31 19:40] ezl commented on #390
ok, please revert.

[2020-08-31 19:40] ezl commented on #498
correct. my understanding is taht the skeleton does not have any function.

pixel perfect is not important. will review once this PR gets merged and is live.

[2020-09-01 12:07] vedmant commented on #390
@aldarund how we can revert pull request merge https://github.com/ezl/dailyidea.com/pull/533

[2020-09-01 19:09] alisonuxdesign commented on #399
hey @vedmant it doesn't go anywhere. those arrows were a mistakenly added when I copied this screen over.

[2020-09-03 14:10] ezl opened #538 "refactor idea notifications to use index instead of scan"
scan is expensive. might not matter, might rewrite to django.

vedmant  8:37 AM
@aldarund The thing is that it doesn’t allow to use >, < on GSI hashkey, I cant select comments for last day like createdAt > currentDat, only createdAt = some specific date, but that’s pointless (edited)

ezl  9:02 AM
@vedmant @aldarund -- If I understand correctly, this entire conversation is happening because scan i

[2020-09-04 10:36] vedmant commented on #505
@ezl There is already default og image: https://dailyidea-serverless-static-dev.s3.amazonaws.com/og-default-image.png so I just replace it with attached one? If idea includes image it puts that image to og tag.

[2020-09-04 14:24] vedmant opened #541 "Idea card text height issue"
https://prnt.sc/ubg4bw

[2020-09-04 17:45] #482 closed

[2020-09-04 19:21] #487 closed

[2020-09-06 08:28] ezl opened #542 "Fix swiping landing page details"
Extension of #487

1. How should small viewports handle card content?

Right now it scrolls off and can't be accessed.

![image](https://user-images.githubusercontent.com/157627/92321466-cb954100-efef-11ea-9cff-f08a4aeb54dd.png)

2. Fix alignment of icons on small viewports for page 3 or swipe able cards

![image](https://user-images.githubusercontent.com/157627/92321476-eb2c6980-efef-11ea-800b-ab

[2020-09-06 15:08] ezl opened #543 "What should happen on clicking a photo inside an idea?"
Current behavior:
Navigates to standalone page for that photo with no way to navigate back

Problem:
User gets stuck

Example:
https://www.dailyidea.com/i/3dgdlr/better-airbnb-chrome-extension

Potential alternatives:
1. Click does nothing. Images are not clickable, they are just embedded in the page and are supporting images for the primary content
2. Lightbox

[2020-09-07 15:44] ezl opened #544 "[idea detail] fix comments / kebab placement on desktop"
https://monosnap.com/file/7UOKDmoahpESr92JweWgab9w8REJ6S

Seems wrong. If this is intended, then disregard.

[2020-09-08 12:37] f-prime commented on #544
This is a bug that is fixed in https://github.com/ezl/dailyidea.com/pull/537

[2020-09-08 12:58] ezl commented on #544
ok thanks @f-prime - closing issue.

[2020-09-08 12:58] #544 closed

[2020-09-09 21:08] ezl commented on #505
hmmmm I realize now this issue isnt as thought out as necessary. Back to the drawing board for ~alison and I.

No action at this time.

[2020-09-10 04:46] ezl commented on #516
@alisonuxdesign I recommend you chat with @f-prime regarding this for implementation

[2020-09-10 04:48] ezl commented on #399
@vedmant front page swiper is implemented and merged now, so i believe this is now unblocked. if that's not correct please lmk.

[2020-09-10 04:51] #311 closed

[2020-09-10 04:51] #534 closed

[2020-09-10 04:51] #385 closed

[2020-09-10 04:51] #529 closed

[2020-09-10 04:51] #522 closed

[2020-09-10 04:51] #497 closed

[2020-09-10 04:51] #518 closed

[2020-09-10 04:51] #405 closed

[2020-09-10 04:51] #367 closed

[2020-09-10 04:51] #479 closed

[2020-09-10 04:51] #523 closed

[2020-09-10 04:51] #521 closed

[2020-09-10 04:51] #498 closed

[2020-09-11 16:21] vedmant commented on #399
@alisonuxdesign Could you send me svg image of the bird and cage?

[2020-09-11 16:26] alisonuxdesign commented on #399
[Bird Illustration.svg.zip](https://github.com/ezl/dailyidea.com/files/5210361/Bird.Illustration.svg.zip)
@vedmant

[2020-09-14 06:19] vedmant opened #548 "Replace LinkText with CSS"
Like:

background: linear-gradient(to top, transparent 10%, rgba(91, 65, 187, 0.2) 10%, rgba(91, 65, 187, 0.2) 50%, transparent 50%);

[2020-09-14 09:30] #486 closed

[2020-09-15 11:17] f-prime opened #551 "New cards have broken widths and heights in some places."
![Screenshot_2020-09-15 See Node's ideas on Daily Idea](https://user-images.githubusercontent.com/1633507/93204101-84136100-f723-11ea-9660-ce36afef4bc1.png)
![Screenshot_2020-09-15 Daily Idea Save, Share, Browse Interesting Ideas Online(1)](https://user-images.githubusercontent.com/1633507/93204102-84abf780-f723-11ea-85cc-e25523c180b7.png)
![Screenshot_2020-09-15 Daily Idea Save, Share, Browse Int

[2020-09-15 14:23] alisonuxdesign opened #552 "Fix Swiping Landing page Design Beta"
This Ticket relates to ticked #542 but is breaking apart the issue.

Mobile:

1.Problem Currently, on a smaller device the bottom of the card is hidden and unscrollable, making it so that the user can't see the login or sign-in prompt. The design doesn't look good and it makes it unusable.
Solution: lets make this card and the content inside responsive so that it always fits whatever screen size.

[2020-09-15 14:39] alisonuxdesign opened #553 "Fix Swiping Landing page swipe Functionality"
This ticket related to both mobile and desktop and is referencing ticket #542

In this ticket, we are referring to what happens when a user lands on page one of the landing page.

1. If the user land on the first card of the landing page they are only allowed to swipe to the right.
2. the next 2 cards they can swipe left or right.
3. After landing page #3 is finished, the user is brought into the

[2020-09-15 14:50] alisonuxdesign opened #554 "Fix Landing page Top toasts Beta"
This ticket refers to ticket #542 and is to address the top sticky toast message.

1. In the current beta page the toast has both an icon with an arrow and an exit icon that currently does not dismiss the message. Let's go ahead and Get rid of the x icon and not give the user the option to exit out of this particular toast.

2. Also, on the first card of the landing page, let's replace the icon wi

[2020-09-15 14:53] #542 closed

[2020-09-15 15:19] alisonuxdesign opened #555 "Desktop Skelton Card always match actual size of overlaying card"

[2020-09-15 15:21] #555 closed

[2020-09-16 11:28] f-prime opened #556 "Emailing creates a broken idea with a null link"
![Screenshot_2020-09-16 Daily Idea Save, Share, Browse Interesting Ideas Online](https://user-images.githubusercontent.com/1633507/93331452-46c7d580-f7ee-11ea-81b7-7835f14a2d69.png)

[2020-09-17 11:47] vedmant commented on #481
@ezl @alisonuxdesign What about comments section of the card, this will require some hardcoded idea, that first will not appear somewhere else, and secondly should have hardcoded id on every server (I can do this with migration). But generally, allowing comments in explainer card makes this task much more complex. It will be much simper if that card doesn't have comments.

[2020-09-17 11:52] vedmant commented on #506
@ezl @alisonuxdesign Wanted to make sure, is this task only about "Oops, looks like you don't have an account yet!" or it will include this dialogs for commenting, saving ideas, etc... Thing is that we already have this functions, but dialogs look a bit different, so it's not clear for me if I should update dialogs to make them look like in images above.

[2020-09-17 13:13] ezl commented on #481
I'm ok with doing this card with no comments. @alisonuxdesign let us know if you think the comments are necessary for the explainer card

[2020-09-17 13:25] ezl commented on #481
@alisonuxdesign - i chatted with @vedmant and said he can proceed without the comments for now, since he's blocked and unable to work. if we need to add comments, we can do that on a later ticket.

[2020-09-17 13:35] ezl commented on #506
@alisonuxdesign i chatted with @vedmant on this and he has a lot of questions about this particular ticket implementation.

i propose that you redo or close and open a new ticket for this in the story format you were exploring.

[2020-09-18 08:55] vedmant commented on #481
@ezl @alisonuxdesign I tried to copy and paste in figma to get svg image:
<img width="739" alt="Screenshot at Sep 18 11-54-02" src="https://user-images.githubusercontent.com/5052406/93578161-a87e7000-f9a5-11ea-858c-8d192c787f98.png">
but looks like it's not allowing to copy, I only have my previous clipboard.

Can you please export for me this SVG

[2020-09-18 09:01] vedmant commented on #481
@ezl @alisonuxdesign Also since I'm not creating idea for this, then there will not be author and buttons bar. Only title and content. This will not look like in the design at all, basically something like this:
<img width="1423" alt="Screenshot at Sep 18 12-01-37" src="https://user-images.githubusercontent.com/5052406/93579083-b97bb100-f9a6-11ea-83b9-237c5f719231.png">

[2020-09-18 20:28] ezl commented on #481
@vedmant Can we put arbitrary HTML there? So in theory, could we add elements, images, or sections to that card, if we wanted?

[2020-09-19 07:22] vedmant commented on #481
@ezl Not sure what do you mean, it's just hardcoded HTML code. Do you mean you want to add some html to database so it will be rendered here? In this case I'll need to go with different solution I explained before, that will be quite some more work on backend.

[2020-09-20 17:56] ezl commented on #486
@danleyb2 as you take assigned tickets, can you please move them in https://github.com/ezl/dailyidea.com/projects/1 to "in progress" and "PR review" when appropriate?

Then when it is merged, whoever merges it will move it to "merged"

[2020-09-20 21:00] alisonuxdesign commented on #505
@ezl how do you feel about this:

![no_blush](https://user-images.githubusercontent.com/63747360/93722162-f8019f00-fb51-11ea-9625-16ab76871844.png)

[2020-09-20 21:20] alisonuxdesign commented on #543
**1. To be clear the first alternative happens: when the user clicks or taps an image nothing happens.**

2. Let's also address What the image looks like inside of the card:

Currently, when a photo is uploaded it is cut off depending on what size it. See screenshot:
![screenshot picture DI](https://user-images.githubusercontent.com/63747360/93722540-d0f89c80-fb54-11ea-8b93-3c2a383da8cb.jpeg)

We

[2020-09-20 21:23] alisonuxdesign commented on #496
Closing This ticket and creating a new one to implement Dark Mode ready emails

[2020-09-20 21:23] #496 closed

[2020-09-20 21:23] alisonuxdesign opened #557 "Dark Mode Email- Implement and Test"
The goal of this ticket is to render our emails in a more attractive form in both Light mode and Dark mode in an email client. Below we have three instances:
![Screen Shot 2020-09-20 at 3 31 03 PM](https://user-images.githubusercontent.com/63747360/93722756-4d3faf80-fb56-11ea-9a2f-96433b6c2f83.png)

A. This instance is what the user would see in a light mode aka "Regular" email client.

B. In this

[2020-09-20 21:55] alisonuxdesign commented on #526
Implement Empty state for my ideas page:

![myIdeas_empty state](https://user-images.githubusercontent.com/63747360/93723155-6b5adf00-fb59-11ea-8bfe-a858f9591968.png)

- Plus sign takes user to the posting page. This is image is only displayed when the user has no ideas.

Asset here:
[empty state my ideas.png.zip](https://github.com/ezl/dailyidea.com/files/5252774/empty.state.my.ideas.png.zip)

[2020-09-21 22:44] alisonuxdesign opened #559 "Correct size of abbreviated cards Desktop"
**Please Correct padding on abbreviated cards found under my ideas on current desktop site. See the Screenshot below of how the current site looks:**

<img width="727" alt="Screen Shot 2020-09-21 at 4 49 58 PM" src="https://user-images.githubusercontent.com/63747360/93829336-a711a980-fc2a-11ea-8e06-070d9303cdd1.png">

**The correct padding should be 24px high with 32px on sides. See Figma file and

[2020-09-21 22:44] alisonuxdesign opened #560 "New UI- Error state logging in"
Use case: when a user uses an expired auth link or provides an email address that does match a code they are currently taken to a screen that looks like this:

<img width="1049" alt="Screen_Shot_2020-09-15_at_10 25 03_AM" src="https://user-images.githubusercontent.com/63747360/93829563-24d5b500-fc2b-11ea-82b5-bcd59484aa41.png">

Can we Remake this screen to look like this?
![Code expired_desktop](

[2020-09-22 04:12] ezl commented on #543
@alisonuxdesign This isn't my experience. My experience on both mobile and desktop is that the image loads and there's no way out of it except to press back on the browser.

https://monosnap.com/file/9UgWwPeDJben6z2Biez40TZSS3HMAW

Can you confirm what browser / device you are using so I can try to replicate please?

[2020-09-22 04:26] ezl commented on #505
❤️

[2020-09-22 04:29] ezl commented on #481
@vedmant I don't understand the constraints.

I think it's fine to not have:
* author
* comments
* action buttons like Like / Share

However, I think we'd like to have more control over what this card visually looks like than just header and p tags.

Are you saying that in order for this card to have an image added to it, we would have to do something with the database? If so, why?

[2020-09-22 04:33] #397 closed

[2020-09-22 04:34] #291 closed

[2020-09-22 07:47] vedmant commented on #481
@ezl No, it can have any HTML, images, etc... I mean is that it's hardcoded in JS, and is not in database.

[2020-09-22 07:50] vedmant commented on #506
@alisonuxdesign @ezl Another thing, since we have cards interface now, I see that desktop example is in card but mobile example is not in the card, so probably both mobile and desktop have to be cards like other pages https://prnt.sc/ulmcid

[2020-09-22 08:11] vedmant commented on #526
@alisonuxdesign Is this only for mobile? What about desktop version, we already have c card for desktop and mobile: https://prnt.sc/ulmrwa should I replace only mobile version then?

[2020-09-22 15:55] alisonuxdesign commented on #511
Top, New.... add more on later with following & hashtags with more complex patterns

[2020-09-22 16:27] ezl opened #563 "Fix photos - not clickable and correct sized"
**(A) Make images not clickable**

Current behavior: if you click on an image in an idea detail page, it is a link to the image.

Example:
Clicking the image here loads the image
https://www.dailyidea.com/i/3dgdlr/better-airbnb-chrome-extension
and the user gets stuck.

Preferred behavior: Don't let this be a link. Images arent clickable inside an idea.

**(B) Don't let images be wider than the co

[2020-09-22 16:29] ezl commented on #543
killed. replaced.

[2020-09-22 16:29] #543 closed

[2020-09-22 16:36] ezl opened #564 "30 day cookies"
Any time a user is authenticated, allow the user to stay logged in for 30 days

[2020-09-23 19:31] ezl commented on #481
Ah cool. That's what I was hoping.

In that case, for now, you can submit a PR with it exactly as the screenshot you showed.

At a future time, we'll create a separate ticket for changing the appearance of this card, which will be done with HTML in JS on the client.

[2020-09-23 19:38] ezl commented on #526
@vedmant no -- please implement for both.

For now, just proceed and use your best judgment for what you think an appropriate design would look like, based on the mobile empty state card.

[2020-09-23 19:49] #373 closed

[2020-09-23 19:59] ezl opened #565 "Make it so clicking anywhere on idea card content will also bring the full page scrollable lightbox"
Currently, if you are scrolling through ideas on a mobile device, you view the cards one at a time.

To do this, open www.dailyidea.com on your phone, then swipe until you reach the first idea.

If the idea is too long, then the content overflows and is hidden. to view it, you can open a modal with scrollable content.

the only element that triggers this modal is by clicking on the *TITLE* of the

[2020-09-24 06:52] vedmant commented on #526
@alisonuxdesign Could you attach bigger image or svg image? This one is small and will look blurry.

[2020-09-25 00:50] ezl commented on #526
@vedmant here's an svg.

[undraw_season_change_f99v.svg.zip](https://github.com/ezl/dailyidea.com/files/5279921/undraw_season_change_f99v.svg.zip)

If you need to generate it again from source or prefer png, it can be found on undraw (https://undraw.co/search), with title "season change". You'll need to change the color to #5B41BB

[2020-09-25 00:51] ezl commented on #506
@vedmant use your best judgment and just proceed with what you think makes the most sense here.

[2020-09-25 01:23] #551 closed

[2020-09-25 01:23] #536 closed

[2020-09-25 01:23] #495 closed

[2020-09-25 01:23] #528 closed

[2020-09-25 01:23] #493 closed

[2020-09-25 01:23] #399 closed

[2020-09-25 01:23] #548 closed

[2020-09-25 01:23] #505 closed

[2020-09-25 01:23] #553 closed

[2020-09-25 01:23] #526 closed

[2020-09-25 01:59] f-prime opened #570 "Long profile descriptions don't look right."
![Screenshot_2020-09-24 See r Startup_Ideas's ideas on Daily Idea](https://user-images.githubusercontent.com/1633507/94217926-38924d00-feb1-11ea-9b0f-69996f4dbc18.png)

[2020-09-25 02:01] f-prime opened #571 "Some ideas get cut off at the bottom by the fade."
With this idea I am not able to scroll down any further.
![Screenshot_2020-09-24  Look Better On Zoom home kits](https://user-images.githubusercontent.com/1633507/94218032-78593480-feb1-11ea-94bf-bbdde5aab3b5.png)

[2020-09-25 13:57] vedmant commented on #557
@ezl @alisonuxdesign I think we had already similar card about this, I remember I explained that there is no proper way to make dark mode emails. Email clients like gmail just change email styles themselves to invert colors and make text visible on background. There are just few clients that actually support dark media query and thay are not that popular: Apple Mail (MacOS), iPhone / iPad (iOS 13)

[2020-09-26 14:34] vedmant commented on #541
@ezl This is already fixed

[2020-09-26 14:34] #541 closed

[2020-09-27 13:12] ezl opened #574 "Review emails and update"
A. These 3 emails are being sent:
https://monosnap.com/file/HuWfj5Zau1D71kh8hQMKq0CqfOgbj3

What is "weekly digest" doing? I think it may be a duplicate of "weekly stats".

Instead, I think weekly digest is supposed to be a "best of the site" email, not a "you submitted X ideas" email.

---

B. "weekly digest" is using an old style email template

https://monosnap.com/file/uaKP7CA0Tp1EXB3keovrncIG

[2020-09-27 13:14] ezl opened #575 "[admin] "ghost" account"

[2020-09-27 13:15] ezl opened #576 "[admin] make it possible for admins to edit a post of another user (for example, to add a photo)"

[2020-09-27 13:15] #361 closed

[2020-09-27 13:16] #308 closed

[2020-09-27 13:16] #183 closed

[2020-09-27 13:17] #176 closed

[2020-09-27 13:17] #175 closed

[2020-09-27 13:17] #172 closed

[2020-09-27 16:31] ezl opened #577 "[tech debt] What do we do if getAllIdeas fails and we can't get a card?"
Yeah thanks for pointing that out, you are right. This case is a little bit weird because what I am trying to do is drop the user directly into the Idea page which already has the swiping and treat that as the explore page. Are these pages not the same? Is Explore different from, say, https://beta.dailyidea.com/i/ygik8t/test ? The design seems to suggest that they are the same.

Regardless, I shou

[2020-09-27 16:49] ezl commented on #557
@vedmant correct - i know we previously had a ticket for this.

however, since then, @alisonuxdesign and I did more research on dark mode, and what we've established is:

(A) like you said, email clients or operating systems can do whatever they want

(B) however, there ARE dark mode tags that are supported by SOME clients, even if not all

(C) one way to handle this is to create 2 versions:

1. a

[2020-09-28 15:19] danleyb2 commented on #486
@ezl  have moved the card to "PR Review"
@aldarund please move to merged.

[2020-09-28 19:48] vedmant commented on #560
@ezl @alisonuxdesign Probably this ticket is outdated, this is how expired page looks currently: https://prnt.sc/upj3a0

[2020-09-28 19:51] ezl commented on #560
interesting. @alisonuxdesign and I took that screenshot only a week ago. It's possible that the ticket had already been executed but not merged though, since a lot has been merged and deployed in the last week.

@vedmant Closing this ticket as your screen shot shows it's complete.

[2020-09-28 19:51] #560 closed

[2020-09-28 20:32] vedmant commented on #507
@alisonuxdesign How this will work with current fixed bottom bar? For example this is how it shows currently in the emulator:
<img width="421" alt="Screenshot at Sep 28 23-18-18" src="https://user-images.githubusercontent.com/5052406/94481756-e7e86000-01e0-11eb-9138-c0bca33ac887.png">

Should I hide bottom navigation bar on this page?

Also about changing text of "enter" key, it doesn't look like

[2020-09-28 20:40] vedmant commented on #557
@ezl What I can do here is to add media queries that will show different logo, main image and invert colors for clients that support it. It's not an issue with MJML, it supports media queries.
It also might be difficult to test, I'll need to setup clients, also I can only test on MacOs, I don't have iOs device.

[2020-09-29 14:33] alisonuxdesign opened #581 "Implement Explore secondary top navigation"
This ticket refers to ticket  #511, moving it here to complete a full ticket.

We would like to implement a top secondary nav on the explore page- Both mobile and Desktop.

This top Nav will set up a very basic infrastructure of category browsing and can be built on to later for more sophisticated algorithms.

For this ticket we will implement "Top" and "New". For now we will define "Top" as ideas

[2020-09-29 14:51] alisonuxdesign opened #582 "Edit Profile link on mobile does not work"
**### 1. Edit Profile does not work on mobile**  When a going to edit account on mobile the link does not work. This is not true for desktop

###2. How To Reproduce the Problem  on mobile phone go to my ideas, then settings and at top of the screen click on "Edit profile"

###3. Correct Behavior  edit page will open and user will be able to edit name, bio, account details, email and deactivate acc

[2020-09-29 15:01] alisonuxdesign opened #583 "Bug: Edit profile picture needs a larger frame when choosing picture"
1. Problem Description: When a user goes to choose a profile picture the circle in which they have to place over face is too small.
<img width="707" alt="Screen Shot 2020-09-29 at 8 47 38 AM" src="https://user-images.githubusercontent.com/63747360/94575631-ae8c1080-0231-11eb-9a94-177ce562293a.png">

2. How To Reproduce the Problem: Sign in to an account on desktop, go to edit profile, choose to ed

[2020-09-29 15:06] alisonuxdesign opened #584 "Settings: unsubscribe from all toggle should turn off all other toggles"
1. Problem Description: When users select the unsubscribe from all toggle on the setting page the other toggles remain active.

![unsubscribe from all](https://user-images.githubusercontent.com/63747360/94576687-da5bc600-0232-11eb-82ff-3d7089f8279a.jpeg)

2. How To Reproduce the Problem Sign in to account, go to settings page, select "unsubscribe from all"

3. Correct Behavior: all other toggles w

[2020-09-30 14:24] alisonuxdesign opened #586 "Bug: Lighbox on expanded idea card is not always scrollable."
1. Problem Description: On mobile, when a user opens a very long idea inside of a lightbox the idea is not always scrollable, I consistantly have this issue with long idea that are text based. It does not happen everytime (making this hard to replicate) but always happens with the below idea.

2. How To Reproduce the Problem:  On mobile go to this idea: https://www.dailyidea.com/i/ygp1sw/daily-sta

[2020-09-30 14:26] alisonuxdesign commented on #511
closing this ticket in favor of #581

[2020-09-30 14:26] #511 closed

[2020-09-30 14:30] alisonuxdesign opened #587 "BUG: Sticky Bottom Nav not always sticky"
1. Problem Description: On mobile, the fixed bottom nav does not always behave correctly. For instance, when the user swipes to a new idea on the explore page, the bottom nav disappears and the user must swipe down a little then swipe up for it to appear. See screenshot:
![no bottom nav](https://user-images.githubusercontent.com/63747360/94699697-d8a80600-02f7-11eb-8aaa-3bb206eb3575.jpeg)

2. How

[2020-09-30 14:37] alisonuxdesign opened #588 "Bug: When clicking the comment icon nothing happens"
1. Problem Description: On both mobile and desktop on the top icon bar there is a comment icon- it displays the number of comments on an idea but it should also have the functionality of shooting the user to the comment text field and (on mobile) opening the keyboard. On desktop it should place the user into the text field to the right of the idea. This functionality should be present anywhere the

[2020-09-30 14:45] alisonuxdesign opened #589 "Bug: 404 state when clicking icon on desktop"
1. Problem Description: On desktop when clicking the top daily idea icon on the top left, it brings the user to a 404 page.

How To Reproduce the Problem: On desktop click the daily idea icon on the navbar.
![Screen Shot 2020-09-30 at 8 45 09 AM](https://user-images.githubusercontent.com/63747360/94701510-f5ddd400-02f9-11eb-879d-7f9c54895b18.png)

Correct Behavior: For now, let's have this icon di

[2020-09-30 14:58] vedmant commented on #557
- [ ] require_login_template.mjml
- [ ] magic_link_template_with_comment.mjml
- [ ] magic_link_template_with_idea_save.mjml
- [ ] require_login_template_mobile.mjml
- [ ] require_login_template_with_comment.mjml
- [ ] require_login_template_with_idea_save.mjml
- [ ] signup_template.mjml

[2020-09-30 14:59] vedmant commented on #557
@ezl I updated login email, I tested it on macos and hey.com, it works ok, but I don't have iOs to test it on, could you check if it works ok on iOs. Then I'll make edits to all other emails.

[2020-10-01 02:40] danleyb2 commented on #507
@alisonuxdesign Have been able to stick the format icons on top of the bottom toolbar but it's not possible to use the KeyBoard buttons as @vedmant  has noted.

This is how it looks with the submit button hidden too

https://user-images.githubusercontent.com/9919961/94759383-68a58880-03a8-11eb-83d9-02e984aab580.jpg

[2020-10-01 05:04] ezl commented on #557
@vedmant I'll test it on iOS, can you send me the email to my gmail?

Also, for now, for this ticket, you  just need to implement for the 1 email that is included in the task (the login email) -- not for all emails.

After that, @alisonuxdesign and I will review and assess whether we should roll it out for all emails.

[2020-10-01 05:57] #556 closed

[2020-10-01 06:49] vedmant commented on #557
@ezl I see, ok, then I'm creating a PR

[2020-10-06 10:15] #552 closed

[2020-10-07 14:48] alisonuxdesign commented on #507
To anwer a few questions:

@vedmant the bottom fixed nav will be hidden just on this page. I also found a few articles for how to change the mobile keyboard return key: https://stackoverflow.com/questions/1417702/change-return-key-in-an-iphone-webapp-textbox. I had a convo with @f-prime a while back and we did determine that this was possible.

@danleyb2 and @vedmant if this is a huge technical hu

[2020-10-07 15:00] danleyb2 commented on #507
@alisonuxdesign thi solution seems to work only on iOS.
will just get rid of it since other platforms would are not left out

[2020-10-08 07:35] vedmant commented on #381
@ezl On what email to send notifications?

[2020-10-11 12:10] ezl commented on #381
oh, that's great. can you add ericzliu@gmail.com please?

[2020-10-11 12:13] #563 closed

[2020-10-11 12:13] #559 closed

[2020-10-11 12:13] #581 closed

[2020-10-11 12:13] #506 closed

[2020-10-11 12:13] #557 closed

[2020-10-11 12:13] #565 closed

[2020-10-11 12:13] #516 closed

[2020-10-11 12:13] #587 closed

[2020-10-11 16:49] f-prime opened #595 "Bug: Logging in redirects to /ideas/all which is blank"
Problem: Email links redirect to a blank /idea/all page

https://gyazo.com/f45bb21f598eb18a0c82e595b4796b5a

Correct Behaviour: Should redirect to the idea exploration page

[2020-10-12 15:57] ezl opened #598 "[landing page] make instruction width match card width"
https://monosnap.com/file/Cysw5uJSpgJVcqcUh4VB5twcpWx3IG

Edit:
Oops, I stand corrected. The implementation matches the Figma design.
https://www.figma.com/file/vwPwlzhQC2FrCIfdcxshm5/Daily-Idea-Mobile-%2B-Desktop?node-id=279%3A8156

@alisonuxdesign thoughts on this?

[2020-10-12 16:01] ezl opened #599 "[global] remove FB messenger icon from site"
I removed it from the FB settings whitelist, which I  THOUGHT would remove it from the site. It didn't.

For now, just remove the FB messenger widget from the site.

[2020-10-12 16:05] ezl opened #600 "[landing page] Fix font sizes at all screen widths"
https://monosnap.com/file/iGmOiOPFUB5AvalbY1T96y1n9iQ3g6

Especially the 2nd widest setting has badly sized fonts. Between the largest (ok), 2nd largest (fonts are WAY too big), and 3rd (also ok), these aren't scaling well.

If there are default font sizings in whatever framework we are using, we should use that. If not, try to put in global defaults so we don't have to manually define these on ev

[2020-10-12 16:08] ezl opened #601 "[landing page] don't let instructions disappear at wide viewport"
see the instructions at the top -- at the widest viewport, it disappears. bad media query?

https://monosnap.com/file/ExNwawtH0t63demyrqDftlqka1ORJV

[2020-10-12 16:15] ezl opened #602 "[landing page] fix button colors to match design"
Buttons in landing page implementation are currently black:
https://monosnap.com/file/Y6ZNC8gLYIG6NIl8gfRMRdOuaVEFKo

Correct to match the design by @alisonuxdesign, where they are purple:
https://monosnap.com/file/Y6ZNC8gLYIG6NIl8gfRMRdOuaVEFKo

Original figma link:
https://www.figma.com/file/vwPwlzhQC2FrCIfdcxshm5/Daily-Idea-Mobile-%2B-Desktop?node-id=279%3A8156

[2020-10-12 16:17] ezl opened #603 "[landing page] set whitespace above button"
Current:
https://monosnap.com/file/QxwPETfSDoheWXbKBd4LXed0B3KfqV

Design:
https://monosnap.com/file/0e1EIxvNB01EWvPKMNBCi2QMfEmauY

[2020-10-12 16:20] ezl opened #604 "[landing page] center instructions"
Current implementation:
https://monosnap.com/file/55te4NOtDJGUaxZt9xRMm6fpQca3Co

Original design:
https://monosnap.com/file/Wup3A7gXZ4TXEtfwYjZREaVCtS3kEr

[2020-10-12 16:23] ezl opened #605 "[landing page] different instructions copy for "mobile" (narrow viewports) vs desktop"
Should we use different instructions for desktop vs mobile?

Currently it's an icon with a finger and the text "swipe", regardless of viewport width:
https://monosnap.com/file/s3W7FkkV5qJjBSCTLPTAJkQgCajskn

(A) That's not totally insane, and I'm OK with it, as long as we are explicitly choosing that
(B) should we consider alternate (for example, to train them to know that they can PRESS left/righ

[2020-10-12 16:55] ezl opened #606 "[landing page] "swipe right" vs swipe either way?"
1. Currently, landing page copy says "swipe right" in the Tinder sense, but it's ACTUALLY swipe left. (but "*page* right" in the Kindle sense)
2. Can we implement swiping BOTH ways? meaning let's do a mirror reflection of the cards so that the user doesn't get stuck if they swipe the wrong way?

What I mean is:

Currently, the implementation is such that if you swipe one direction (LEFT,  move for

[2020-10-12 16:59] ezl opened #607 "[landing page 2/3] improve icons"
https://monosnap.com/file/eY9NDeDAn0oNWKlM67xvcrzcbTVCwp

[2020-10-12 17:03] ezl opened #608 "[landing page] fix swipe sequence"
1. in designs, the card you land on is 1/3, then the first card you swipe TO is 2/3. In the implementation, after the first swipe, you arrive at 1/3. This messes up the sequence. As a check, notice that "browse" is 2/3 and "how does it work is 3/3 in figma: https://monosnap.com/file/ptzv47sMy9mduHsdT6UyNusE52Vhu5

2. after swiping past the last explainer card ("how does it work"), the user gets dr

[2020-10-12 17:05] ezl commented on #481
this ticket was closed and something was merged for this, but it doesn't seem to be working on the main site.

[2020-10-12 17:07] ezl opened #609 "Design swiping explainer card"
In https://github.com/ezl/dailyidea.com/issues/481 we went a different direction than the original design -- instead of making the explainer be an actual IDEA, there's just an explainer CARD that has arbitrary HTML.

Currently this is totally not designed, just text made by ~vedmant.

https://monosnap.com/file/xXy5ZMNXuzjlz62eKktCEo86VR1AjA

Let's design this and create a ticket for improving the

[2020-10-12 17:17] ezl opened #610 "[action modals] Update style"
The "share" dialog uses this style:
https://monosnap.com/file/ct75y8sh4Buhv32Ea2vmaQUnj3a6Tl

But the "comment" "like" and "save" modals use this style:
https://monosnap.com/file/RTfJQ217jEZOGhTKCTRhvAT022RIPd

Did we revert some code here? I thought we had moved to all dialogs that look more like the "share" one, but this comment/like/save seem old?

Possibly related, @vedmant I recall you did so

[2020-10-12 17:20] ezl opened #611 "[settings] fix padding on header on mobile"
the content is running all the way to the edges and doesn't look good here:

https://monosnap.com/file/kPSlX7iXKo2Htg3yUrRKVUtudS8Ybt

[2020-10-12 17:22] ezl opened #612 "[login flow] don't take user to an empty page"
currently, when a user logs in, the user is dropped onto an empty page.

to test:
1. try to log in
2. click link in email
3. you'll get taken to https://www.dailyidea.com/ideas/all, which looks like this: https://monosnap.com/file/uPztzaKBAiioS7U6S8jqtZHYmATDSX

Edit:
This may be a duplicate of:
https://github.com/ezl/dailyidea.com/pull/597 / https://github.com/ezl/dailyidea.com/pull/597

[2020-10-12 18:05] ezl commented on #481
Reclosing. I see this WAS implemented and it is deployed. I misunderstood how to see it.

[2020-10-12 18:05] #481 closed

[2020-10-12 18:13] ezl opened #613 "[idea focus lightbox] improve click to lightbox"
On mobile:
Make it so clicking ANYWHERE on a single card view (non scrolling/non lightbox) OTHER than a link or action will trigger the lightbox view.

I think this was supposed to be fixed in https://github.com/ezl/dailyidea.com/pull/572

That PR was an improvement on the previous one, but not a full fix.

As an example, on: https://www.dailyidea.com/i/4lf6qb/a-scared-straight-program-for-karens-

[2020-10-12 18:17] ezl opened #614 "[idea focus lightbox] add (X) circle in whitespace to exit lightbox"
Currently the lightbox is closed out (appropriately) by clicking back on any of the areas that triggered the lightbox in the first place.

1. Make it so clicking anywhere OUTSIDE the card (in the greyed out dark overlay) will exit the lightbox
2. Add a circle (X) just to act as a target for users to hit and to indicate to users that the lightbox should be exited.

https://monosnap.com/file/S8nfzqj

[2020-10-12 18:26] ezl opened #615 "make follow/unfollow work on mobile"
on desktop, on a user's profile page (for example: https://www.dailyidea.com/profile/eric)

follow/unfollow seems to work (POST request is sent and response is received, button changes).

however, on mobile, accessing the same page and clicking the "follow" button seems to do nothing.

(tested safari and firefox iphone 7 with iOS 13.07)

[2020-10-12 18:34] ezl opened #616 "There's some sort of bug with mobile safari always thinking it's the first time a user has been to the site"
on ios 13.07 on iphone 7, every time I go to explore, it ALWAYS thinks it's my first time there -- it always shows the explainer card created here:

https://github.com/ezl/dailyidea.com/issues/481

[2020-10-12 18:41] ezl opened #617 "[idea detail view] fix images"
This was previously worked on in:
https://github.com/ezl/dailyidea.com/issues/563

It was improved, but not completely fixed.

One thing that WAS fixed in #563 is that the image is resized in the lightbox view.

Tasks for this ticket to continue:
1. In the non-lightbox/preview of the card, also resize images to fit (currently only the lightbox view is resized, not the non-lightbox view)
2. do NOT

[2020-10-12 18:49] ezl opened #618 "enhancement: reverse card animation and "end of stack" alert if user goes beyond available cards"
After discussion with @f-prime, instead of supporting negative indexing (unintuitive) or bidirectional scroll (unnecessary complexity), the solution for "end of card stack" is now 2 parts.

1. If the user tries to go beyond the first or last card either swiping (on mobile) or paging (on desktop), REVERSE the card animation when showing the same card.

*PROBLEM*: Currently, for example, if the user

[2020-10-12 18:56] ezl opened #619 "[card order] is sequence preserved on "back" actions?"
I'm not sure what's going on here.

It seems that if I:
1. scroll through ideas
2. click on the username of an idea to go to the user's profile page.
3. click back

Then the displayed card on back is the idea that I originally left  in step 2 above. However, ALL the cards under it are as if the card sequence started from the beginning of the deck.

This creates unintuitive user interaction because

[2020-10-12 18:59] ezl opened #620 "Should there be a "Home" link in the explore flow?"
Currently once a user starts scrolling, there's really no clear path to "login" "sign up" or "home".

[2020-10-12 19:07] ezl opened #621 "[idea detail lightbox] fix scroll gitch"
**Note: In the single idea lightbox view from a user profile page, both of these errors are NOT present**

There seem to be 2 potential glitches with scrolling a lightbox on a mobile device. If it makes sense to break this into separate tickets, feel free to do so.

1. I can't reach the bottom of a long idea when scrolling an idea detail. (try the idea example below, you can compare to desktop to

[2020-10-12 19:18] ezl opened #622 "[desktop: idea detail] Make sure bottom of card content is always visible"
On long card texts on desktop, we have a CSS gradient to indicate that there is more content so the user knows to scroll.

However, if the text content ends right at the end of the block, then the CSS gradient will ALWAYS overlap with the content, making it unreadable

Example:
https://monosnap.com/file/2RiAW5x40NDEwI91F1mnUI0auBne94
[on this link](https://www.dailyidea.com/i/hdrw35/a-search-engin

[2020-10-13 15:09] alisonuxdesign opened #623 "Implement New Messenger Icon design"

[2020-10-13 15:37] vedmant commented on #617
@ezl Fixed images size, previously I made only .jpg images non clickable, added also .png and .gif. Not sure if we support any other images?

[2020-10-14 01:54] ezl commented on #613
perfect.

my fault -- poorly described the first time.

thanks for understanding. :)

[2020-10-14 06:31] vedmant opened #626 "Refactoring IdeaCard, FullIdea"
vedmant  [10:18 PM]
Not only, there is no need for expand login in idea card, generaly idea card shold be just a genaral card, I’d move all expand login into full idea component, I’d also separate idea edit and idea card, currently it’s mixed in one component, it will be much cleaner if one component will be to show and another one will for edit
[10:20 PM] So, Card (instead of IdeaCard) > Idea (in

[2020-10-15 14:16] vedmant opened #627 "Refactor VisualNotifier into plugin"
VisualNotifier directly in the FullIdea component, it’s better to put it into a plugin so it can be available from any component.

[2020-10-15 20:26] vedmant opened #629 "Errors when swiping right from index page on mobile"
https://streamable.com/ngjs3b

[2020-10-15 20:50] f-prime commented on #612
Addressed in this pr

[2020-10-15 22:23] ezl commented on #612
thanks @f-prime

I created the ticket, but saw the PR afterwards. Just didn't close it in case it wasn't the same. Closing now. :)

[2020-10-15 22:23] #612 closed

[2020-10-15 22:24] #589 closed

[2020-10-15 22:24] #583 closed

[2020-10-15 22:24] #613 closed

[2020-10-15 22:24] #617 closed

[2020-10-15 22:24] #381 closed

[2020-10-16 07:49] vedmant opened #630 "Few visual bugs with idea card menu"
https://prnt.sc/v0dvb0
https://prnt.sc/v0dvjp

[2020-10-16 08:06] vedmant commented on #626
@ezl This one is done, but I'd ask for more test before going to production, I may have missed something.

[2020-10-16 08:21] vedmant opened #632 "Problem with swiper, in mobile on large card content in expanded idea card it prevents card scroll with touch"
It scrolls ok if I comment out this.$refs.swipe.addEventListener('touchmove', this.fingerMove)

[2020-10-16 13:17] #621 closed

[2020-10-16 15:31] alisonuxdesign commented on #606
I like this solution! Dropping the user into a sequence of cards... this however would only work on the "top" category and not "new".

[2020-10-16 15:33] alisonuxdesign commented on #607
I believe this might be a duplicate ticket. But please check it out and make sure that this fix was implemented

[2020-10-16 15:50] alisonuxdesign commented on #618
This ticket relates directly to ticket #606..... I believe if we implement a "middle of the deck" starting place this will significantly mitigate this problem.

 In the instance the user swipes backward and gets to the "first" card and then beyond then we should flip them to the back of the deck- this would also be the case for when they are in the "new" top navigation section.  in the new section

[2020-10-16 18:16] alisonuxdesign opened #633 "Implement Darkmode designs for emails"
Please Implement dark mode designs for the rest of emails! We tested this in ticket #557 and it turned out great. So its time to do it for the rest of the emails.

- There is a great many assets that belong to this ticket so I am going ahead and linking the figma file [here](https://www.figma.com/file/vwPwlzhQC2FrCIfdcxshm5/Daily-Idea-Mobile-Desktop?node-id=783%3A10391)

-  you need to export asse

[2020-10-19 09:15] vedmant opened #634 "Check overwritten code after PR conflicts merge"
Following https://github.com/ezl/dailyidea.com/pull/631 conflicts merge, some latest edits could have been overwritten

[2020-10-19 09:39] vedmant commented on #629
This was happening when idea was not yet loaded and swipe explainer was swiped too fast.

[2020-10-19 10:03] vedmant commented on #629
@ezl I also disabled explainer on SSR, otherwise it doesn't render content and search bot cant read it

[2020-10-19 10:07] vedmant commented on #632
@f-prime I think you fixed this already?

[2020-10-19 19:24] ezl commented on #629
@vedmant I see -- does that mean it's only disabled for search bots? or is that disabled for actual users as well?

[2020-10-19 21:15] vedmant commented on #629
@ezl Yes, on generated on SSR html it will show actual idea, for browser when JS is run, it will show explainer card first.

[2020-10-20 15:45] vedmant commented on #610
@ezl Latest edits were done by @f-prime where he added a bar between buttons, removed image from comment dialog https://github.com/ezl/dailyidea.com/commit/2fef6d6852953306b1a71223916ffdf565258ea9 . So this looks like  "comment" "like" and "save" dialogs have recently updated styles, and only "share" was not updated (cause it uses custom footer).

The question is should I update "share" dialog to

[2020-10-20 16:32] f-prime commented on #634
The important edits were not overwritten. The changes that were overwritten pertained to issues with the card sizes on mobile. I will create a new issue for this and address them there instead.

[2020-10-20 16:36] f-prime opened #638 "[mobile] collapsed card size not fitting on screen"
![File](https://user-images.githubusercontent.com/1633507/96616723-b68b1d80-12d0-11eb-999f-3aa3632611c9.jpg)

[2020-10-20 16:39] vedmant commented on #634
@f-prime You can proceed in this ticket also.

[2020-10-20 16:52] ezl commented on #610
@vedmant can you take screenshots of all those dialogs as they are now and put them in here -- I'll respond here

[2020-10-20 17:01] vedmant commented on #610
@ezl
<img width="648" alt="Screenshot at Oct 20 19-58-47" src="https://user-images.githubusercontent.com/5052406/96619561-fe309a00-130e-11eb-808f-1e257bd170b4.png">
<img width="624" alt="Screenshot at Oct 20 19-59-11" src="https://user-images.githubusercontent.com/5052406/96619569-012b8a80-130f-11eb-8b83-5190f9d236b5.png">
<img width="633" alt="Screenshot at Oct 20 19-59-28" src="https://user-imag

[2020-10-20 17:11] ezl commented on #610
Oof. Ok:

1. Input styles should all match the one on "Share" (small purple icon prepended)
2. Buttons should match the new ones (like, comment, save)
3. Welcome back -- these buttons look weird -- it's missing the left side one. If there's only one, just center it in the middle.
4. All modals should have an image -- just pick any placeholder image and enter it for all of them. Or even better, pic

[2020-10-22 07:57] #632 closed

[2020-10-22 08:01] vedmant commented on #633
@alisonuxdesign

Tried this guide, but Ctrl+C doesn't copy anything, when I try to paste it just inserts previous clipboard content.

[2020-10-22 08:41] vedmant commented on #633
### Full list of emails:

- [x] back/users/mail-mjml/require_login_template.mjml
- [ ] back/users/mail-mjml/require_login_template_with_idea_save.mjml
- [ ] back/users/mail-mjml/require_login_template_with_comment.mjml
- [ ] back/users/mail-mjml/require_login_template_mobile.mjml
- [ ] back/users/mail-mjml/magic_link_template_with_idea_save.mjml
- [ ] back/users/mail-mjml/magic_link_template_with_

[2020-10-22 15:11] #595 closed

[2020-10-22 15:12] #638 closed

[2020-10-22 15:12] #634 closed

[2020-10-22 15:12] #586 closed

[2020-10-22 15:12] #627 closed

[2020-10-22 15:12] #629 closed

[2020-10-22 15:12] #626 closed

[2020-10-22 15:12] #588 closed

[2020-10-22 15:12] #554 closed

[2020-10-22 15:12] #630 closed

[2020-10-22 15:12] #614 closed

[2020-10-22 15:12] #622 closed

[2020-10-22 22:58] ezl commented on #633
sounds good @vedmant

[2020-10-23 07:06] vedmant commented on #633
@alisonuxdesign Here is email we have when user saves idea: https://prnt.sc/v534lw and https://prnt.sc/v537yh couldn't find it in Figma.

[2020-10-23 07:09] vedmant commented on #633
@alisonuxdesign Also about logo, I see we have two different logos, one for option A and B, and different one for option C, I was thinking why not to use the same logo for all 3 options, for A it will look the same as it just has white background, for B it will look like on C. And I can use the same image for all 3 then.

[2020-10-23 07:15] vedmant commented on #633
@alisonuxdesign Could you also attach images here, I was unable to copy paste on Figma, it doesn't copy.

[2020-10-23 07:45] vedmant commented on #633
@alisonuxdesign I also see different backgrounds on different emails in dark mode: https://prnt.sc/v541o7 I think it makes sense to have one background color for all emails?

[2020-10-23 21:38] alisonuxdesign commented on #633
Hey @vedmant ! Yes, it makes sense to have the same exact background, however, google or whatever email provider should actually supply that for us when they switch it over to dark mode. This is just an example of what it might look like.

I exported and zipped them here:
[Dark mode assets.zip](https://github.com/ezl/dailyidea.com/files/5431869/Dark.mode.assets.zip)

You are right. We want to use

[2020-10-26 08:28] vedmant commented on #633
@alisonuxdesign

I mean for option C where we actually set exact color for dark emails, so I use then #170F26

[2020-10-26 09:04] vedmant commented on #633
@alisonuxdesign I can't find this two images in "Dark mode assets.zip": https://prnt.sc/v6x9s2

[2020-10-26 10:52] vedmant commented on #608
@ezl I generally don't like how this is implemented, I'd refactor font page completely.

[2020-10-26 10:57] vedmant commented on #601
@ezl I made it visible on sized, but I'm not sure if it's needed for desktop, as it explains about swipes.

[2020-10-26 11:18] vedmant commented on #599
@ezl I didn't notice a button anywhere, but I removed facebook chat init code.

[2020-10-26 11:23] vedmant commented on #600
@ezl That home page is generally done weird, it uses separate components for landscape and portrait. I'd better refactor and remove that code duplicate. What do you think?

[2020-10-26 11:27] vedmant commented on #616
@ezl I think this was the bug introduced by this commit: https://github.com/ezl/dailyidea.com/commit/bd74e0f4b1cbfa1138650ea9a31663c94b71b8cc#r43364442 I fixed it already

[2020-10-26 11:31] vedmant opened #653 "Close button appeared on desktop card, arrows click bug"

[2020-10-26 16:16] alisonuxdesign commented on #633
hey @vedmant - background #170F26 should work great.

As for the missing assets they are here! sorry about that. :
[Dark mode assests pt 2.zip](https://github.com/ezl/dailyidea.com/files/5439982/Dark.mode.assests.pt.2.zip)

Lastly, the daily idea email is here: https://www.figma.com/file/vwPwlzhQC2FrCIfdcxshm5/Daily-Idea-Mobile-Desktop?node-id=783%3A1514

[2020-10-26 17:31] alisonuxdesign commented on #610
Hey all here are the designs here: https://www.figma.com/file/vwPwlzhQC2FrCIfdcxshm5/Daily-Idea-Mobile-Desktop?node-id=841%3A2079

Assets are here:
[Modals assets.zip](https://github.com/ezl/dailyidea.com/files/5440395/Modals.assets.zip)

[2020-10-26 17:52] ezl opened #655 "[share modal] Add Facebook and Twitter buttons on desktop"
Add facebook and twitter share options on share on desktop.

(On mobile, we don't need these because on mobile, we are using the device's native share)

Hey all here are the designs here: https://www.figma.com/file/vwPwlzhQC2FrCIfdcxshm5/Daily-Idea-Mobile-Desktop?node-id=841%3A2079

Assets are here:
[Modals assets.zip](https://github.com/ezl/dailyidea.com/files/5440395/Modals.assets.zip)

_Origina

[2020-10-26 18:08] ezl commented on #52
I think this is going to wait until after Django rewrite

[2020-10-26 19:25] f-prime opened #656 "[explore page] Skeleton card not matching size of card on Desktop"
![](https://i.gyazo.com/410cb66139567b42aad0c764198514eb.png)

[2020-10-26 19:27] f-prime opened #657 "[profile page] Idea cards not spaced and `Read more...` showing on preview card when it shouldn't"
![](https://i.gyazo.com/8f442497a73d112314c6df76d3fbc595.png)

[2020-10-26 19:29] f-prime opened #658 "[onboarding] Onboarding cards too large on Desktop"
![](https://gyazo.com/898d3c13da661169e6e57e58abc55557.png)

[2020-10-27 09:41] vedmant commented on #633
@alisonuxdesign Could you attach bigger image or SVG image for "Dark mode assests pt 2/whoohooooo/wooohoooo dark mode.png" it's too small, it's ok for mobile but it will look blurry on desktop. Generally it's better if you send all images in SVG, so I can make save in needed png size.

[2020-10-27 09:58] vedmant commented on #633
More TODO:

- [ ] Replace back/mail-processing/static/email/images/received-email-idea/woohoooo-dark.png with bigger size

[2020-10-27 14:48] vedmant opened #661 "500 errors on production pages, 404 idea created by email link"
Hi, all direct links to ideas are missing, Here is the error that I am getting(e.i., links https://www.dailyidea.com/i/61hvhg/business-idea-for-restaurants, https://www.dailyidea.com/i/eclu5f/patching):

![image (8)](https://user-images.githubusercontent.com/5052406/97318107-30447d80-1874-11eb-8565-0ac5ed346f7d.png)

I also tried to share the idea with my own email and links to view the post is br

[2020-10-27 16:18] danleyb2 commented on #600
@vedmant Have taken care of the duplicated code by creating a single component for Landscape and Portrait
@ezl The second picture is how it looks now

![20201027_191338](https://user-images.githubusercontent.com/9919961/97330058-d0a49d00-1888-11eb-93e8-98aef540542d.png)

![20201027_191651](https://user-images.githubusercontent.com/9919961/97330256-11041b00-1889-11eb-89a9-b55ff464ffc2.png)

[2020-10-28 19:40] alisonuxdesign commented on #633
hey @vedmant here are the updated images:
-Dark mode whoohooo email is svg
-re-exported svgs without white background

[Dark mode assests pt 2.zip](https://github.com/ezl/dailyidea.com/files/5454405/Dark.mode.assests.pt.2.zip)

and your right I missed that first comment. I don't have it designed. getting it over it you shortly

[2020-10-29 09:10] vedmant commented on #633
@ezl @alisonuxdesign Ok, almost done, waiting on this two emails designs: https://prnt.sc/v534lw and https://prnt.sc/v537yh

[2020-10-29 22:02] alisonuxdesign commented on #633
Saved idea design: https://www.figma.com/file/vwPwlzhQC2FrCIfdcxshm5/Daily-Idea-Mobile-Desktop?node-id=873%3A438
assets:
[untitled folder.zip](https://github.com/ezl/dailyidea.com/files/5461519/untitled.folder.zip)

[2020-10-30 08:59] vedmant opened #666 "Fix idea link in share email"
https://prnt.sc/v9y82m

[2020-10-30 09:51] vedmant opened #668 "Fix front page cards height"
It doesn't fin into screen and has empty space beneath https://prnt.sc/v9zcbq

[2020-10-30 09:52] vedmant commented on #668
Following #663

[2020-10-31 16:48] #598 closed

[2020-10-31 17:21] ezl opened #671 "[profile page, desktop view] add whitespace between idea cards"
# problem

on settings/profile page, on *desktop* only, these cards are touching. they should have some whitespace between them.

<img width="493" alt="Daily Idea 2020-10-31 12-18-57" src="https://user-images.githubusercontent.com/157627/97785489-5c614680-1b73-11eb-992d-f8fadc93da64.png">

Note that in the mobile view, there IS appropriate whitespace between them.

Do not change the mobile view, b

[2020-10-31 17:22] ezl opened #672 "Update welcome card with design and image"
Currently, the welcome card looks like this, including text that just says "image here".

![IMG_6810](https://user-images.githubusercontent.com/157627/97785568-c974dc00-1b73-11eb-9a3a-dbcd711fdff1.PNG)

[2020-10-31 17:27] ezl opened #673 "Still not getting card heights right"
Where: (A) landing page (B) idea cards

(Unclear to me if these are the same code or different code)

<img width="521" alt="card and background error" src="https://user-images.githubusercontent.com/157627/97785728-d0501e80-1b74-11eb-9f76-9896fcac5acb.png">

Examples:
https://beta.dailyidea.com/i/lj6q93/test-idea?category=top

<img width="224" alt="card height" src="https://user-images.githubuserco

[2020-10-31 17:33] ezl opened #674 "[settings] make sure header has appropriate margin/gutter"
Edit: Oops this may be a duplicate of #611 -- checking on slack to see if it is, then will close.

On settings page, header content is going all the way to sides of page.

Add appropriate whitespace

<img width="406" alt="Daily Idea 2020-10-31 12-31-09" src="https://user-images.githubusercontent.com/157627/97785782-43f22b80-1b75-11eb-8453-d982a7f907d8.png">

[2020-10-31 17:50] ezl opened #675 "[settings] add whitespace around follow button"
In 2 cases (maybe unrelated).

1. On wide viewports, when the follow button is in the content, it has no space between the button and the name.

<img width="273" alt="whitespace" src="https://user-images.githubusercontent.com/157627/97786167-c54abd80-1b77-11eb-8b72-d195b3d1717e.png">

2. On very narrow viewports, when the follow button is in the topnav, there is no whitespace above/below the butto

[2020-10-31 18:02] ezl opened #676 "[navbar] style: make post and profile look disabled if not authenticated"
Make these be light grey if the user is not authenticated:

<img width="332" alt="Daily Idea 2020-10-31 13-00-16" src="https://user-images.githubusercontent.com/157627/97786404-5bcbae80-1b79-11eb-8ca1-6f7faf56e8bb.png">

If possible, use an existing "disabled" style that we already have globally rather than creating a new one. If one does not exist, create a new one at a global css level and apply

[2020-10-31 18:14] ezl opened #677 "After mobile login success, direct to ideas page"
Currently, after successfully authenticating on the mobile login flow (with the 4 numbers), the user is directed to https://www.dailyidea.com/ideas/all, which is a blank page.

Instead, after login success, direct the user to the ideas page (same as what happens after successful email click through authentication on a desktop device).

If possible, make it so both of these methods use the same cod

[2020-10-31 18:17] ezl opened #678 "Add "unauthorized" flow for follow"

[2020-10-31 18:17] ezl opened #679 "[follow button] If user is not authenticated, make this direct to a login page"
Currently, it the user is not authenticated and views a user profile page, when they click the "follow" button, nothing happens.

For now, show an alert saying: "please log in in order to follow users." with a link to log the login page.

In the future, we may design a separate flow for this with modals to collect the user email address and sign them up (as we have with other interactions like lik

[2020-10-31 18:19] ezl opened #680 "Remove x-scroll from mobile login page"
This page has unintentional x-scroll (you can see the scroll bar in this screenshot). Probably some element just too wide.

Please remove.

![Image from iOS(1)](https://user-images.githubusercontent.com/157627/97786773-d8f82300-1b7b-11eb-883a-a4e24bc4ff24.png)

[2020-10-31 18:29] ezl opened #681 "[profile page, desktop] only display "Read More" when content overflows"
Currently, in some cases on desktop, the "Read more..." text is displayed on ALL cards, in preview AND in full card display mode, even when full text is already visible.

This should only be displayed in cases when the full card text is not visible. (i.e. there is y-overflow)

[2020-10-31 18:32] #604 closed

[2020-10-31 18:33] #653 closed

[2020-10-31 18:37] ezl commented on #674
closing. duplicate of #611 which is already merged.

[2020-10-31 18:37] #674 closed

[2020-10-31 18:46] #607 closed

[2020-10-31 18:48] #606 closed

[2020-10-31 18:51] ezl commented on #615
closing. this ticket was invalid. this was an issue because follow doesn't work when the user is not *authenticated*, not a question of mobile vs desktop. separate ticket has been created to resolve this now.

[2020-10-31 18:51] #615 closed

[2020-10-31 19:04] ezl opened #682 "[landing page] Copy: Change swipe direction message"
1. On MOBILE this copy should say "Swipe left to see the next idea". Also reverse the arrow on the image. (currently it says swipe *right* - this is incorrect)

2. On DESKTOP, change the messaging and icon. Messaging should say "Use arrow keys to see the next idea". (for now, use the same icon, but will change this for desktop later)

[2020-10-31 19:08] ezl opened #683 "[landing page] arrow keys and swipe image reversal"
Related to #682

Create an image for desktop (keyboard arrow keys with animation maybe? or just the keyboard arrows with an arrow?)

Possibly need to also reverse the direction of the swipe.

[2020-11-02 08:39] vedmant commented on #682
@ezl @alisonuxdesign I updated text but, I'll need reversed icon and also new icon for desktop to complete this task.

[2020-11-02 09:23] vedmant commented on #676
@ezl The problem with global disable style is that this top button are custom, they are not reused anywhere else, this means if I create disabled class that will work on this buttons, it will not work on other buttons and will require to extend styles so it can affect any other buttons.

[2020-11-02 16:25] ezl commented on #676
@vedmant understood. Given our current needs then, how would you recommend doing it?

(A) we could just create a global css class like `.muted` which is a lighter color, then apply it. For now it will only apply to these links when disabled. It MIGHT not ever be used again

(B) we could just put it in the component with scoped style. if we don't ever use this style in the app again, then this will

[2020-11-02 21:48] ezl commented on #682
@vedmant - Attached:

1. reversed icon, `swipeLeft.svg` (for mobile)
2. keyboard icon, `pressRightArrow.svg` (for desktop)

Zipped because github doesn't support uploading svgs apparently.

[Archive.zip](https://github.com/ezl/dailyidea.com/files/5478242/Archive.zip)

[2020-11-03 08:46] vedmant commented on #682
@ezl There is also another image when on slide 2+, it shows swipe both directions, but probably we need something else for desktop https://prnt.sc/vceu9c

[2020-11-03 09:14] vedmant commented on #676
I done it both ways, added a global class and for icons I had to add code as color is passed as props there. Generally making this DRY will be more complicated since that elements are not reused anywhere else. For better DRY it's good to create some separate dev page where we will have whole list of shared and used on site components like buttons, forms, etc, then we can apply there additional sha

[2020-11-03 09:28] vedmant commented on #673
@ezl This all if very weirdly done, I need to redo components inside card to make it work properly.

[2020-11-03 15:09] ezl commented on #682
@vedmant - Added image for desktop
[pressBothArrows.svg.zip](https://github.com/ezl/dailyidea.com/files/5482097/pressBothArrows.svg.zip)

[2020-11-03 17:00] vedmant opened #687 "Refactor, new components: SwipableCard, LightBox"
I was thinking about making all cards fit the screen always, and content to be scrollable inside. This plays much better with swiping and background skeleton card.

Something like SwipableCard, that can be reused. I think lightbox should be a separate component, not based on card, cause this two things conflict and make code more complex and buggy.

Then lighbox will live outside Swiper that will

[2020-11-03 17:40] vedmant commented on #687
This will take over #673 code as it fixed that issue

[2020-11-04 21:29] vedmant commented on #687
Bugs:

- [ ] Edit not working in profile pages (needs to open lightbox in edit mode)

[2020-11-04 22:13] ezl opened #689 "bug:fix layout on desktop - don't use multiple columns"
seems to be a weird 4 column layout bug compressing large texts on desktop view

Example:
https://www.dailyidea.com/i/3dgdlr/better-airbnb-chrome-extension

Screenshot:
https://monosnap.com/file/6xbWllbhbHxE7RhUs7JlZQIkXjPggc

[2020-11-04 22:14] ezl opened #690 "bug: only use one column on desktop single idea view"
seems to be a weird 4 column layout bug compressing large texts on desktop view

Example:
https://www.dailyidea.com/i/3dgdlr/better-airbnb-chrome-extension

Screenshot:
https://monosnap.com/file/6xbWllbhbHxE7RhUs7JlZQIkXjPggc

(edit: appears to also happen on mobile)

[2020-11-06 09:59] vedmant commented on #619
@ezl I'll take over this one then

[2020-11-06 10:05] vedmant commented on #690
@ezl looks like duplicate of #689 ?

[2020-11-06 10:11] vedmant commented on #689
Duplicate on #690

[2020-11-06 10:11] #689 closed

[2020-11-06 16:36] ezl opened #692 "bug: Fix individual idea loading"
Individual ideas not loading when accessed directly.

Example:
https://www.dailyidea.com/i/noo1mo/a-dating-app-without-pictures?category=top

They work if you start at "explore" then paginate to it, but not if loaded directly.

@vedmant says it's "something connected with server render"

[2020-11-07 01:53] ezl commented on #690
oops, yes, was duplicate. when i created the ticket, github gave an error, so i didn't realize it had been created. 😇

[2020-11-07 01:54] ezl commented on #619
yep, thanks @vedmant

[2020-11-07 09:53] #507 closed

[2020-11-07 09:55] #600 closed

[2020-11-07 10:24] vedmant commented on #692
@ezl  The error is: `DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method.`
very cryptic. I'll try to disable some components to see which one causes this, but it takes time cause I need to rebuild every time, it only errors on build version. @aldarund maybe you can know what causes this kind of error?

[2020-11-07 11:09] vedmant commented on #692
Really weird thing, it works if I comment out `<idea-comments>`:

    <v-col v-if="!preview && expanded" cols="12" md="4" class="fill-height">

    </v-col>

It fails if I keep it even fully empty component, with no props:

    <v-col v-if="!preview && expanded" cols="12" md="4" class="fill-height">
      <idea-comments></idea-comments>
    </v-col>

IdeaComments.vue

[code]

[2020-11-07 11:24] vedmant commented on #692
Ok, it works if I remove `v-if="!preview && expanded"`, but we need this condition, this looks like some bug in Vue or Nuxt, I'll try to upgrade.

[2020-11-07 11:31] vedmant commented on #692
Ok, upgrading `@nuxtjs/vuetify` fixed, this, also upgraded nuxt

[2020-11-08 12:32] vedmant opened #694 "Nuxt AWS deploy: Unzipped size must be smaller than 262144000"
Looks like it uploads whole node_modules, needs some solution

[2020-11-08 12:32] vedmant commented on #694
@aldarund Maybe you have some ideas?

[2020-11-08 14:33] ezl opened #695 "Stop sending "digest" email for now"
https://monosnap.com/file/ySCS3TjhiA9cyDBfgUazHBW4z8Vet4

This is a content duplicate of another email being sent. Instead, we want to send a "interesting ideas from this week" as a digest. However, we aren't ready for that, so for now, just stop sending out "digest" emails automatically.

[2020-11-08 14:34] ezl opened #696 "Duplicate email - needs to be changed to digest"
This email:
https://monosnap.com/file/ySCS3TjhiA9cyDBfgUazHBW4z8Vet4

is (functionally) a duplicate of
https://monosnap.com/file/M9sFmAUf2sEOP6DtBBZeYE24VPvf7v

The "digest" one is intended to be one where interesting ideas are sent to the user every week.

0. stop sending the bad "digest" email for now (ticketed #695)
1. design the digest / newsletter / "interesting ideas from the last week" emai

[2020-11-09 10:18] vedmant opened #697 "Logo link / explore link / redirect after auth: don't load list of last ideas every time"
Logo link / redirect after auth: don't load list of last ideas every time instead make intermediate route that will redirect to last idea

[2020-11-09 12:34] vedmant commented on #619
@ezl This basically done, I did a lot of refactoring, and made it use Vuex properly using all the reactive model, now it looks much better, easy to debug as all the data in Vuex now and also less code. However Explore link will not work as I removed that code, I'll fix it in this issue: #697

[2020-11-11 08:42] vedmant commented on #681
@ezl Actually I fixed this together with https://github.com/ezl/dailyidea.com/pull/688

[2020-11-11 08:54] vedmant commented on #618
@ezl There are some confusing messages, as I understand I do following:

1. When reaching end of stack animate the same card appearance from opposite direction, like it goes back from where it was swiped.
2. Add toast messages: "Oops, you're already at the beginning -- Please swipe the other way! :)" (if it's the first card). If it's the last card: "Oops, you've reached the end! Please swipe the o

[2020-11-11 10:22] vedmant commented on #618
@ezl I've completed that two points, let me know if I should do something else here

[2020-11-11 10:25] vedmant commented on #668
Fixed by #687

[2020-11-11 10:25] #668 closed

[2020-11-11 10:26] vedmant commented on #671
This one also was fixed by #687

[2020-11-11 10:26] #671 closed

[2020-11-11 13:45] ezl commented on #618
nothing further. just those 2 things. once you've merged this, please let me know and I'll check it on beta.

[2020-11-11 13:46] ezl commented on #681
perfect. closing since you've already fixed it.

[2020-11-11 13:46] #681 closed

[2020-11-12 02:24] ezl opened #700 "bug:make long content cards accessible on desktop"
on desktop view, ideas with long content can't be viewed. the content overflows, but:
(A) clicking the card doesn't give a way to see the rest (like it does in mobile)
(B) the content doesn't scroll
(C) "read more" isn't visible

did we decide on a solution for this?

[2020-11-12 08:27] vedmant commented on #700
@ezl Weird, for me content is scrollable and it shows Read more text http://www.giphy.com/gifs/i8dPghykr3LQ8y1uJc

[2020-11-12 08:55] vedmant commented on #675
I added left margin to desktop buttons, but on mobile view I see margins already: https://prnt.sc/vhuqkx so nothing to change

[2020-11-12 09:04] vedmant commented on #616
Tried it on iOs simulator and safari, can't reproduce it, I think it was already fixed

[2020-11-12 13:42] ezl commented on #616
@vedmant closing. I checked and could not replicate this anymore so I assume it has been resolved.

[2020-11-12 13:42] #616 closed

[2020-11-12 14:12] ezl opened #704 "bug:make email responses to create idea work (check why some users had unsubscribedAt Null: true)"
I responded to an email to create an idea, but it did not get posted.

[code]

As of 8:09am still didn't get posted on the site.

Idea content contains this string: `Stretching/Flexibility Classes` (that's the first line)

Sent from my primary email address (ericzliu) to `ideas@mail.-domain-.com`.

[2020-11-12 14:14] ezl opened #705 "bug: number of ideas on profile not matching"
<img width="281" alt="Daily Idea 2020-11-12 08-12-42" src="https://user-images.githubusercontent.com/157627/98950680-eb992300-24be-11eb-9f99-9b21b2674f9b.png">

Number of ideas on my profile isn't matching ^

I believe the correct number is 137, but under "my ideas" it says 24.

[2020-11-12 15:29] ezl opened #706 "switch "new" and "top" in menu"
1. Switch placement of "New" and "Top"
2. Make "New" the default option when "Explore" is loaded.

<img width="290" alt="newtop" src="https://user-images.githubusercontent.com/157627/98960022-8139b000-24c9-11eb-9e13-d0bb05e73bd0.png">

[2020-11-12 15:31] ezl opened #707 "bug: move new/top navigation in line with page"
<img width="296" alt="margin" src="https://user-images.githubusercontent.com/157627/98960279-da094880-24c9-11eb-987b-2fdd6682951b.png">

move new/top nav inline with right margin of other content

[2020-11-12 16:13] ezl opened #708 "bug: Make landing page sequence buttons purple"
Designs have always been purple. Not sure why they are black in prod:

https://www.figma.com/file/vwPwlzhQC2FrCIfdcxshm5/Daily-Idea-Mobile-Desktop?node-id=279%3A8843

[2020-11-12 16:14] ezl opened #709 "enhancement: Add card reversal pattern to landing page sequence"
On the landing page, if you try to go backwards, it does the original pattern of scrolling the same card back on.

Instead, also reverse this and show the error message, like the cards as done in: https://github.com/ezl/dailyidea.com/pull/699

[2020-11-12 16:16] ezl opened #710 "design error message for reaching end of card stack"
that was implemented in https://github.com/ezl/dailyidea.com/pull/699

[2020-11-13 09:29] vedmant commented on #705
@ezl Looks like both numbers are not really correct, I'll need to re-check backend

[2020-11-13 09:36] vedmant commented on #705
Yeah I doesn't increment total ideas count field properly, for example it not doing it on creating idea by email. For now I fixed frontend to use user's `ideasCreated` field to show number of ideas.

I think it should be follow up ticket to fix `ideasCreated` numbers for users (increment in idea by email), it will require to create some helper command that will run for each user and re-calculate c

[2020-11-13 10:08] vedmant commented on #707
@ezl

Not sure I understood it right, I aligned it with left side of the card

[2020-11-15 13:57] #610 closed

[2020-11-15 13:57] #601 closed

[2020-11-15 13:57] #611 closed

[2020-11-15 13:57] #682 closed

[2020-11-15 13:57] #666 closed

[2020-11-15 13:57] #673 closed

[2020-11-15 13:57] #687 closed

[2020-11-15 13:57] #676 closed

[2020-11-15 13:57] #680 closed

[2020-11-15 13:57] #657 closed

[2020-11-15 13:57] #656 closed

[2020-11-15 13:57] #658 closed

[2020-11-15 13:57] #694 closed

[2020-11-15 13:57] #603 closed

[2020-11-15 13:57] #633 closed

[2020-11-15 13:59] #599 closed

[2020-11-15 13:59] #608 closed

[2020-11-15 13:59] #690 closed

[2020-11-15 13:59] #692 closed

[2020-11-15 13:59] #697 closed

[2020-11-15 13:59] #618 closed

[2020-11-16 09:12] vedmant commented on #704
@ezl I just tried to respond to weekly digest email from "ideas@mail.dailyidea.com" and it created idea successfully, can you add here exact steps, what email you responses on so I can reproduce the bug.

[2020-11-16 13:55] ezl commented on #704
@vedmant Interesting! I just tried again and no idea was created again.

What I did:
1. Find the most recent email in my gmail for a DAILY idea (yours was for weekly digest, but I think both are SUPPOSED to work)
2. respond to the email in gmail

https://monosnap.com/file/nJNXkS2cqj4KxR5Ix9jzB3el2SEmcQ

Nothing happens. No confirmation email, no update on site.

[2020-11-16 14:06] ezl commented on #707
ah got it. I described it incorrectly, but you did what i wanted. thank you! :)

[2020-11-16 14:13] #683 closed

[2020-11-16 14:14] ezl opened #717 "create animated gifs for swipe and keypress icons on landing page sequence"

[2020-11-16 14:17] ezl commented on #655
Maybe -- future icebox item.

[2020-11-16 14:18] ezl commented on #700
@vedmant interesting.

I found that in chrome, it works for me as expected:
1. scrolling works
2. "read more..." is displayed when end of content isn't visible

however in firefox:
1. no scrolling
2. no "read more..."

video:
https://monosnap.com/file/z6mreKAF1NKjwmMQ2SW8RsIzZScqZw

[2020-11-16 14:29] vedmant commented on #704
@ezl Did exactly the same and get confirmation email https://prnt.sc/vk3ymz

[2020-11-16 15:30] vedmant commented on #704
@ezl In scope of this ticket I can check why unsubscribedAt was Null: true in dynamodb for some users.

[2020-11-16 23:19] ezl commented on #672
@vedmant this needs an image -- @watson is going to add animated images and update the copy for mobile and desktop

[2020-11-16 23:20] ezl commented on #609
closing. duplicate.

[2020-11-16 23:20] #609 closed

[2020-11-16 23:22] ezl opened #718 "Create a loading animation"
@watson-b remind me to show you customer.io's loading screen

[2020-11-16 23:22] #605 closed

[2020-11-17 01:37] ezl commented on #704
Confirmed, this works for me now.

Is there any action that needs to be taken on this to make it not happen again? If so, please ticket. If not, feel free to close this ticket.

[2020-11-17 09:13] vedmant commented on #704
@ezl Ok, I'll create another ticket

[2020-11-17 09:13] vedmant opened #719 "heck why some users had unsubscribedAt Null: true"

[2020-11-17 09:13] vedmant opened #720 "Check why some users had unsubscribedAt Null: true"
Following #704

[2020-11-17 09:14] #704 closed

[2020-11-17 09:49] vedmant commented on #720
@ezl Tested unsubscribe and update settings, didn't see any problems, it's only two endpoints that update `unsubscribedAt` field. Let's keep an eye on this, if any new user appear with unsubscribedAt = true.

[2020-11-17 16:15] #707 closed

[2020-11-17 16:15] #695 closed

[2020-11-17 16:25] ezl opened #721 "expired link page fonts are way too big"
<img width="507" alt="expired link page" src="https://user-images.githubusercontent.com/157627/99417120-cc333900-28b6-11eb-8c9b-49d3d5e4f8c7.png">

Correct size:
https://www.figma.com/file/FkptxrJSaBpU3mslMFnWm4/Daily-Idea-Mobile-Desktop-Copy?node-id=514%3A468

[2020-11-17 16:27] ezl opened #722 "Submit idea link from daily idea reminder email is already expired just 4 hours after sending"
I clicked this button in the email just 4 hours after it was sent, and was directed to a page that said it was expired:

<img width="314" alt="Daily Idea  Idea for Tue Nov 17 2020 - ericzliu@gmail com - Gmail 2020-11-17 09-25-56" src="https://user-images.githubusercontent.com/157627/99417329-0997c680-28b7-11eb-9e3b-766c7d8349c2.png">

[2020-11-17 23:46] ezl opened #723 "animate left/right keypress and swipe icons"
Use these:
![keyboard_arrow_both](https://user-images.githubusercontent.com/157627/99464042-6d8cb000-28f4-11eb-97d2-93e00215ac36.gif)
![keyboard_arrow_left](https://user-images.githubusercontent.com/157627/99464046-6f567380-28f4-11eb-9155-3044efd82b7f.gif)
![keyboard_arrow_right](https://user-images.githubusercontent.com/157627/99464049-6fef0a00-28f4-11eb-9043-8d7e591d341b.gif)
![swipe_interaction

[2020-11-18 11:57] ikosovec opened #724 "As a non-registered user - the comment appears but the counter doesn't go up"
Here are the steps to reproduce this:

1. Anonymous window
2. Open dailyidea.com
3. Go to "Explore"
4. Find an idea I like
5. Write a comment
6. The comment appears visually on the idea card, but the counter doesn't go up
![image](https://user-images.githubusercontent.com/16639403/99527409-10006e00-299d-11eb-870d-05b6a3eb8820.png)

Afterwards I also get a modal asking me to confirm my email.
As a

[2020-11-18 11:59] ikosovec commented on #677
Tested on Galaxy Note10+, Google Chrome.
This is fixed.

[2020-11-18 11:59] #677 closed

[2020-11-18 12:02] ikosovec commented on #679
The app is redirecting to the login page, but the error "please log in in order to follow users." is not being shown anywhere.
![image](https://user-images.githubusercontent.com/16639403/99528292-5efad300-299e-11eb-8365-1dd953a2e70e.png)

@ezl please check if this is fine from your perspective. If it is, we can close the ticket.

[2020-11-18 12:05] ikosovec commented on #675
This looks fine on mobile from my perspective, but it broke the desktop design.
I'll open a separate ticket for this.

[2020-11-18 12:05] #675 closed

[2020-11-18 12:09] ikosovec opened #725 ""Others" profile page layout is off"
Figma link: https://www.figma.com/file/FkptxrJSaBpU3mslMFnWm4/Daily-Idea-Mobile-Desktop-Copy?node-id=668%3A250

Current state on https://www.dailyidea.com/profile/r-lightbulb:
![image](https://user-images.githubusercontent.com/16639403/99528764-109a0400-299f-11eb-81b8-a8b360838f30.png)

Might be related to #675

[2020-11-18 12:17] ikosovec opened #726 "When creating an idea, the submit button is over the text styling buttons"
I'm on https://www.dailyidea.com/ideas/create

This is how it looks:
![image](https://user-images.githubusercontent.com/16639403/99529528-3ffd4080-29a0-11eb-8402-5bda503e7d04.png)

Using Google Chrome, 1920x1080
I can scroll down and it will move, but initially it's blocking the styling buttons.

[2020-11-18 12:20] ikosovec opened #727 "The "Create Idea" page is not according to the design"
The design(https://www.figma.com/file/FkptxrJSaBpU3mslMFnWm4/Daily-Idea-Mobile-Desktop-Copy?node-id=326%3A386):
![image](https://user-images.githubusercontent.com/16639403/99529765-a5513180-29a0-11eb-9403-fade7487d78f.png)

Actual state:
![image](https://user-images.githubusercontent.com/16639403/99529848-c9147780-29a0-11eb-8172-5c8ccffeb68e.png)

Should we prioritize this @ezl ?

[2020-11-18 12:23] ikosovec opened #728 "When creating a new idea, if I leave the text empty, it says "undefined""
I created a new idea and left the description of the idea empty. When it got posted, the body says "undefined":
![image](https://user-images.githubusercontent.com/16639403/99530076-1c86c580-29a1-11eb-99a4-8eedf093494a.png)

Maybe instead of "undefined" it should say something like _"This idea has no description"_ in italics.

[2020-11-18 12:25] ikosovec commented on #705
This looks fixed to me now.

[2020-11-18 12:25] #705 closed

[2020-11-18 12:26] ikosovec commented on #725
Hmm, I just opened another profile (/eric) and the layout is fine:
![image](https://user-images.githubusercontent.com/16639403/99530489-a6cf2980-29a1-11eb-8dc6-af545f856db7.png)

Maybe something on the /r-lightbulb profile is triggering the layout to go wild.

[2020-11-18 12:29] ikosovec commented on #602
This looks fine now.

[2020-11-18 12:29] #602 closed

[2020-11-18 12:32] ikosovec opened #729 ""HTTP header is larger than 1024 bytes" error on mobile"
I'm using Samsung Galaxy Note10+ and Google Chrome - Anonymous tab.
I'm trying to open dailyidea.com.

I'm getting an error saying "HTTP header is larger than 1024 bytes".

Tried refreshing, closing, opening.
Only when I killed Chrome and started a new Incognito window it opened.

This might be device-specific rather than an issue on the website, but I'd like to hear your feedback for this as well

[2020-11-18 12:45] ikosovec commented on #619
This looks like it's working fine now, except that it's throwing an error which is not 100% correct.
Steps to reproduce:
1. Open dailyidea.com, go to explore
2. Scroll 3 cards
3. Open a profile
4. Go back in browser
5. Go "back" on the explore part:
I will get an error like this, although I can go to the previous card:
![image](https://user-images.githubusercontent.com/16639403/99532292-59a08700-2

[2020-11-18 13:04] ikosovec opened #730 "Reconsider "Close" and position of toast messages"
![image](https://user-images.githubusercontent.com/16639403/99534019-0d0a7b00-29a7-11eb-94d0-092c70e5138c.png)

There's 2 things about the toast messages that I think we should talk about:
1) The "Close" button
In most cases, the toast message disappears so fast that I don't even have the time to close it. Also, having a "Close" on toasts in an anti-pattern. It's a toast - we know it will disappea

[2020-11-18 13:31] ikosovec commented on #661
This is still happening. I just shared an idea via email and got a 404: https://beta.dailyidea.com/ideas/adef1c4a-c5ca-4177-9fc4-9d0a9961a622/87f8eb76-18cd-4f29-9ca0-8098390f6135

[2020-11-18 15:58] vedmant commented on #721
@ezl Fixed size, but what about the font family? I see in figma that Avenir LT Std is used, but it's not integrated in the app, I see font files, but there is no styles for this fonts, it's like someone added fonts files but didn't integrate them.

[2020-11-18 16:12] vedmant commented on #721
Also fixed cards width, created another component <card-layout> for this kind of pages that have one card in the middle.

[2020-11-18 16:23] vedmant commented on #722
@ezl Weird I just tested 2 days ago email and it works ok, can you attach that link, I'll try to decode it

[2020-11-18 16:46] vedmant commented on #700
@ezl Looks like Firefox handles flex-box differently, fixed with overflow hidden.

[2020-11-18 17:21] vedmant commented on #661
@ikosovec Should be fixed now, last time it was different template fixed, notification about idea crating from email.

[2020-11-18 22:01] ikosovec commented on #708
This looks good to me now.

[2020-11-18 22:01] #708 closed

[2020-11-18 22:06] #700 closed

[2020-11-18 22:07] ikosovec commented on #725
Looks good now. Thanks,

[2020-11-18 22:07] #725 closed

[2020-11-18 22:08] ikosovec commented on #661
Tried sharing a random Idea to my email, got the email but the content is being sent to the beta prefix again: https://beta.dailyidea.com/i/03rt1i/digitally-archived-tv-so-i-can-rewatch-tv-like-it-was-in-the-90s-2000s

[2020-11-18 22:09] ikosovec commented on #721
@vedmant can you please help me with testing - how long do I have to wait for a link to expire?

[2020-11-18 22:10] ikosovec commented on #709
This looks good to me.

[2020-11-18 22:10] #709 closed

[2020-11-18 22:11] ikosovec commented on #706
This is fixed.

[2020-11-18 22:11] #706 closed

[2020-11-18 22:11] ikosovec commented on #619
Fixed. Love it!

[2020-11-18 22:11] #619 closed

[2020-11-19 02:19] ezl commented on #730
Agree. I think this requires design work, but we should standardize how/where the toasts show up and what they look like.

IMO these toasts are too "strong".

@Watson-B thoughts?

[2020-11-19 02:20] ezl commented on #619
well, by the time i got to it, it looks like it was fixed! awesome work team!

[2020-11-19 02:22] ezl commented on #729
mmmm.... this is, i think NOT a device error. IIRC this has something to do with cookies and only happens when you are using the site a lot and perhaps logging in and out with different accounts? i.e. something we run into while testing, but not for regular users.

@aldarund do you recall this? can you explain the error again to me and how it is caused? also is there a way to solve it permanently?

[2020-11-19 02:24] ezl commented on #728
Agreed. Alternate text for empty ones.

However, this may be a *type* error with submission. What I mean is that when an empty string is submitted by the user, it is being sent as an `undefined` javascript type, which is being stored as a *string* with value "undefined" rather than a null.

@vedmant does this make sense?

[2020-11-19 02:25] ezl commented on #727
@ikosovec i don't want to move directly to the designed version. i think i want something in between. Will add to design kanban board to discuss with @Watson-B

[2020-11-19 02:25] ezl commented on #726
Agreed. placement needs to be fixed. thanks for ticketing, @ikosovec

[2020-11-19 02:27] ezl commented on #725
fixed and merged before i could get to it. perfect example of why @ikosovec has been asked to join this project.

great work @vedmant and @ikosovec

[2020-11-19 02:28] ezl commented on #724
valid bug. moving to up next.

[2020-11-19 04:33] Watson-B commented on #730
@ezl I agree, I think the toast feels too strong. I also think @ikosovec is right, it seems odd having it so far away from where the action took place. I can work on a design update for this tomorrow.

[2020-11-19 10:51] vedmant commented on #729
I see cognito adds quite large cookie header, custom authentication with Django should have just an auth token in cookies.

[2020-11-19 22:17] Watson-B commented on #730
@ezl @ikosovec What about something like this? Idea behind it being that it moves vertically from where the user made the action, and like @ikosovec suggested, it cuts the close button and just disappears after a short period ( I have it for 1 sec right now, I think the time for both the reveal and duration shown could be pushed longer though).
![toast_sample](https://user-images.githubusercontent

[2020-11-20 08:34] vedmant commented on #661
@ikosovec I didn't test it on production, yeas I see it points to beta site, but URL is fixed, probably when you tested it was not published to production. Fixing domain url now.

[2020-11-20 08:42] vedmant commented on #721
@ikosovec It's about a week, here is expired link: https://beta.dailyidea.com/auth/verify?code=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InZlZG1hbnRAZ21haWwuY29tIiwiaWF0IjoxNjAxNDc0NDA3LCJleHAiOjE2MDE0NzgwMDd9.QBRV2vpa2Wdah45KhydxNYYr3D3OI_z6-s0-QhPDQY0&email=vedmant%40gmail.com

[2020-11-20 09:05] vedmant commented on #661
@ikosovec Should be fixed, one env variable was missing in Wercker.

[2020-11-20 09:14] vedmant commented on #726
@ezl @ikosovec This page is generally badly done:

<img width="792" alt="Screenshot at Nov 20 11-13-36" src="https://user-images.githubusercontent.com/5052406/99782155-744c3a80-2b21-11eb-801d-4f3e5d10787f.png">

In design it's completely different:

<img width="398" alt="Screenshot at Nov 20 11-14-11" src="https://user-images.githubusercontent.com/5052406/99782234-875f0a80-2b21-11eb-8a82-4c9454cd9

[2020-11-20 09:23] vedmant commented on #724
@ikosovec It doesn't actually add comment until you login, this is temporary comment, if you refresh the page comment will disappear. Comment will be added when you follow the link from email.

[2020-11-20 10:01] vedmant commented on #723
@ezl Hawing some problems with resizing and cropping this images, it's not that easy with animated gifs.
I need this sizes for images also they have to be cropped without any extra white space:

- Three keyboard buttons should be 120px width x 78px height not including animations, this is only buttons size.
- Swipe card should be 50px width x 70px height not including arrows, this is only card siz

[2020-11-20 10:17] vedmant commented on #672
@ezl This is a bit confusing for me now.

- On the desktop this looks like an idea card with comments, but as we discussed before it's harder to do actual idea as a welcome card, so we use a hardcoded layout without comments or idea elements, so design needs to be updated to make it not an idea card but just info card with no comments or action buttons.

- On mobile I see this looks like a separat

[2020-11-20 12:15] ikosovec commented on #730
I simply love this proposal @Watson-B :)

[2020-11-20 13:15] ikosovec commented on #721
This looks good to me now. Thanks @vedmant

[2020-11-20 13:15] #721 closed

[2020-11-20 13:16] ikosovec commented on #661
Works like a charm. Thanks.

[2020-11-20 13:16] #661 closed

[2020-11-20 13:17] ikosovec commented on #726
Yes, in the design it makes so much more sense - so I'd say go for it.

The current layout isn't good enough in my opinion.

[2020-11-20 13:19] ikosovec commented on #724
I think that's just a weird experience. It might be confusing.

I agree that it's not a bug @vedmant , this should be maybe reconsidered by design.
@ezl what do you think?

[2020-11-20 13:19] ikosovec commented on #723
I'm moving this to the design project. @Watson-B is this something you can help us with, please?

[2020-11-20 16:22] ezl commented on #724
I see. I think there are probably a few different issues at play.

(A) the experience itself - I want the site to keep the current idea of NOT officially posting until the email address is confirmed.
(B) I believe we can improve the user experience through UI and language.

I propose that in this case, for a "pending" comment (i.e. it hasn't been officially posted because the user hasn't confirmed

[2020-11-20 16:23] ezl commented on #724
@ikosovec after this, we may still have future questions around the flow that the user goes through, but we can treat that as a separate issue

[2020-11-20 16:25] ezl commented on #726
(A) the current page in the codebase is bad (agreed w/ @vedmant )
(B) the design is also not great (agreed w/ @ikosovec)

What I would LIKE to emulate is a full screen page for entering ideas, copying grammarly.

@ikosovec can you please create an account and try creating a document on grammarly.com and see that interface.
@Watson-B can you please also try that, then model a version of our "create

[2020-11-20 16:36] ezl commented on #672
@vedmant to complete this ticket:

1. Make "Welcome To Daily Idea" text appear bold
2. Insert an actual image in place of the "Image here" text using animated images from https://github.com/ezl/dailyidea.com/issues/723
-> on wide viewports, use the image of the keyboard arrow pad with animations for both directions
-> on narrow viewports, use image of swiping with animations for both directions

Y

[2020-11-20 16:48] ezl commented on #730
I like this too. @Watson-B I'd be interested in seeing one where the success message has a green outline -- could you mock that up too?

[2020-11-20 17:12] ezl commented on #729
ok. in that case:

(A) is there a way to detect and clear cookie headers if this happens to a user? if so, let's do it.
(B) if this is hard, lets just ignore and punt on it until we get this rewritten

[2020-11-20 17:20] ezl commented on #722
Fixed. was related to issue of invalid value for "unsubscribed at" field

[2020-11-20 17:20] #722 closed

[2020-11-20 17:53] vedmant commented on #729
@ezl I think deleting cookies will break Congnito authentication, so it will logout user, but this can be tested, could be that not all cookies are needed. Here you can see list of Cognito cookies https://prnt.sc/vmzor7 and 3 of them are larger than 1024 bytes

[2020-11-20 18:09] vedmant commented on #728
@ezl It should not show undefined, it's a bug, I'll check it.

[2020-11-20 21:32] Watson-B commented on #723
@ikosovec Yeah I can re-export these. Working on it now

[2020-11-20 22:03] Watson-B commented on #723
![keyboard_arrow_both_1](https://user-images.githubusercontent.com/65913664/99854172-2e9b6c00-2b39-11eb-94bd-52f5cf3f9a41.gif)
![keyboard_arrow_left_1](https://user-images.githubusercontent.com/65913664/99854176-2f340280-2b39-11eb-8891-eb8df0927416.gif)
![keyboard_arrow_right_1](https://user-images.githubusercontent.com/65913664/99854177-2f340280-2b39-11eb-893d-5b4c451d9c3d.gif)
![swipe_interactio

[2020-11-20 22:04] Watson-B commented on #723
@vedmant So these should be the right size, let me know if there are other changes you need

[2020-11-20 22:21] Watson-B commented on #672
Is this what you're picturing @ezl
<img width="1440" alt="desktop" src="https://user-images.githubusercontent.com/65913664/99855405-abc7e080-2b3b-11eb-8c89-e956122bd03e.png">
<img width="415" alt="mobile" src="https://user-images.githubusercontent.com/65913664/99855409-ac607700-2b3b-11eb-8ece-29d5415a0399.png">

[2020-11-20 22:55] Watson-B commented on #724
@ezl Here are a couple of takes on pending comments, one with a tinted vers of the interaction color as the bg, and one that's downplayed a bit. Thoughts?
<img width="1440" alt="pendingComment_gray" src="https://user-images.githubusercontent.com/65913664/99857557-53471200-2b40-11eb-9756-45916eab61b0.png">@
<img width="415" alt="pendingComment_gray_mobile" src="https://user-images.githubusercontent

[2020-11-20 23:08] Watson-B commented on #730
green toast sample
![green_toast](https://user-images.githubusercontent.com/65913664/99858353-38759d00-2b42-11eb-8798-b6bd999b9b0c.gif)

[2020-11-20 23:16] Watson-B commented on #730
Sample of the green toast
![green_toast_2](https://user-images.githubusercontent.com/65913664/99858853-4d066500-2b43-11eb-9243-5d6d57dfdf8b.gif)

[2020-11-21 19:16] vedmant commented on #672
@Watson-B Can you attach this images in SVG (if not animated) or required size in pixels x2 if gif.

[2020-11-21 20:14] ikosovec commented on #723
This looks good on beta from my perspective.

[2020-11-21 20:14] #723 closed

[2020-11-21 20:16] ikosovec commented on #730
I personally think the green is indeed a better solution.

[2020-11-21 20:22] ikosovec opened #738 "Swiping ideas doesn't work on mobile"
I'm using Galaxy Note10+ and Google Chrome mobile.
Swiping ideas doesn't work - it actually does nothing. I can't switch between ideas.

[2020-11-21 20:24] ikosovec commented on #724
I personally like the 2nd version better. What do you think @ezl?

[2020-11-22 04:54] ezl commented on #724
agree with @ikosovec. prefer 2nd style. can we try the 2nd style and make the actual text a lighter grey also?

[2020-11-22 04:57] ezl commented on #730
i like the green as well. lets not prioritize this for execution yet. lets do a session early next week and review priorities to see where this one sits.

we will do it, but just want to make sure we get functionality/errors done first.

@vedmant in order to execute this, would you need any design files? if so i just want to get them attached to this ticket now, even if we won't execute immediatel

[2020-11-23 10:23] vedmant commented on #738
@ikosovec I tested it on my OnePlus 7T and on chrome mobile mode, works ok, I don't have Galaxy Note10+ to test, I'll try to run Android emulator also.

[2020-11-23 10:29] vedmant commented on #730
@ezl Yes, I'll need that icons on the toast in svg.

Also I have concert about toast position, I see it's right about the card, but toast doesn't position relative to any elements, it's attached globally. I can position in in the center with the top distance like on design, but on other pages it's likely will cover some elements.

Another issue is with animation, like it pop ups from the card. Sin

[2020-11-23 10:53] vedmant commented on #738
Tried in emulator on Galaxy Nexus, also work ok, couldn't find Note in devices for emulator

[2020-11-23 14:17] ezl commented on #730
@vedmant these are good points regarding toast positioning.

@ikosovec and @Watson-B - I agree with @vedmant and we need to think about how toast messages will render on ALL pages, not just the current one.

Basically since this renders in a specific place on this page, it won't work seamlessly on other pages. The currently deployed toasts are designed to be able to float over the entire page, in

[2020-11-23 16:42] ikosovec commented on #738
@vedmant it works for me now. Weird, maybe it was a regression bug that got fixed in the meantime. Closing.

[2020-11-23 16:42] #738 closed

[2020-11-23 16:44] ikosovec commented on #728
This is fixed. Empty area now shows as a blank whitespace. It looks weird when there's no text, so maybe we should consider making body text mandatory. I'll open a separate ticket for that.

[2020-11-23 16:44] #728 closed

[2020-11-23 16:46] ikosovec opened #740 "Make body text mandatory?"
Cards with no body text look a bit weird. Check out the screenshot:
![image](https://user-images.githubusercontent.com/16639403/99990106-b7254100-2db3-11eb-8c81-28dbaee25ccd.png)

I think we shoud consider making the body text mandatory - maybe even limit it to about 50 minimum characters.

What do you think @ezl ?

[2020-11-23 17:49] ikosovec opened #741 "Landing page adjustments"
There's a few issues with the current landing page, and mostly they are related to the site's responsiveness.

1. If I reduce the width, a DAILYIDEA image will pop up on a smaller viewport width. Screenshot:
![image](https://user-images.githubusercontent.com/16639403/99996384-efc91880-2dbb-11eb-8f17-d4910cfeccdf.png)

2. The fonts seem a bit off on all kinds of viewports. Are they all bold? Can we

[2020-11-23 17:57] Watson-B commented on #730
@ezl @vedmant This makes sense. Looking across all of the pages, the only screen space that could consistently house a toast is the bottom of the screen which then brings up the original pain point of the toast being too far from the point of action. I think going with option B, with a toast pushing a banner down would be the better solution. Mocking it up now.

[2020-11-23 18:17] Watson-B commented on #741
@ikosovec The original design has all three text elements using the 45 Book weight of Avenir LT Std, which should be equivalent to 350 I think. Right now, they're all displaying for me in the 700 weight though.
Breaking it down from the original design:
"Every Day, Log an Idea" - size: 48 px; weight: 350;
"A project, a startup idea, a work idea" [we should also be consistent here, right now the se

[2020-11-23 18:49] Watson-B commented on #730
Since the top nav is consistent across all pages, would it be possible to have it appear below it, pushing other elements down (depicted below)?
<img width="1440" alt="desktop_banner_1" src="https://user-images.githubusercontent.com/65913664/100002012-d2268f80-2d78-11eb-84ab-39eb43c97cea.png">
<img width="1440" alt="desktop_banner_2" src="https://user-images.githubusercontent.com/65913664/10000200

[2020-11-23 18:56] Watson-B commented on #724
@ezl Samples with lighter grey
<img width="415" alt="pendingComment_gray_mobile" src="https://user-images.githubusercontent.com/65913664/100003154-79f08d00-2d7a-11eb-8289-aec024c29489.png">
<img width="1440" alt="pendingComment_color_lighterGray" src="https://user-images.githubusercontent.com/65913664/100003155-7a892380-2d7a-11eb-968c-01568cae77e7.png">

[2020-11-23 19:24] Watson-B commented on #672
Here are the gifs @ 2x pixels
![landingCard_keyboard](https://user-images.githubusercontent.com/65913664/100005838-6d6e3380-2d7e-11eb-8bb5-34e27512be28.gif)
![landingCard_swipe](https://user-images.githubusercontent.com/65913664/100005842-6e06ca00-2d7e-11eb-813d-dfd32405c4ba.gif)

[2020-11-23 21:07] Watson-B commented on #726
I mocked a "Create a Post" that mimics grammarly's functionality. is this what you were picturing?
<img width="1440" alt="post_desktop" src="https://user-images.githubusercontent.com/65913664/100015436-cfce3080-2d8c-11eb-9d6f-b54aef2d3839.png">

[2020-11-24 10:24] vedmant commented on #730
[@Watson-B @ezl There is one issue with pushing whole page down, there are many pages cards fit vertical page height, so if I push whole page down it may either add a scrollbar or bottom part can be cut if to disable scroll.

[2020-11-24 10:28] vedmant commented on #741
Yes front cards don't following design properly, I generally don't like how it's done with too much abstraction and putting text into variables, there is no need for this abstraction at all, it have to be just html. @ezl can I refactor this front cards together with fixing design?

[2020-11-24 13:32] ezl commented on #741
Yes please, @vedmant

[2020-11-24 13:34] ezl opened #743 "Make login work from "daily idea" email"
When clicking on a "Idea for <day>" email to submit your idea, the link is alreayd expired, even if it was just sent a few hours ago.

<img width="335" alt="Daily Idea  Idea for Tue Nov 24 2020 - ericzliu@gmail com - Gmail 2020-11-24 06-34-07" src="https://user-images.githubusercontent.com/157627/100101258-3a2fb100-2e1f-11eb-90ba-25fdb3497014.png">

[2020-11-24 13:44] ezl commented on #730
Ah man, @vedmant -- I want to commend you here -- you're really demonstrating your value to me and the team in this thread.

@Watson-B @ikosovec not sure if this is really obvious to you 2, but this is so good it's public praise-worthy.

A lot of engineers would just implement a bad version of a solution. @vedmant is pushing back and explaining the negative side effects before implementation and I

[2020-11-24 18:51] Watson-B commented on #730
@vedmant great call, I feel like seamless interactions is key to the experience of the platform; so thanks for the foresight, I hadn't thought of that. @ezl I think option B would be the better approach, it still keeps it near the point of action, and will only cover the nav for a brief moment. Mocked what that might look like down below. Since it will be covering nav elements on some screens, is

[2020-11-25 09:04] vedmant commented on #743
@ezl Still can't reproduce, it works when I test, can you send me full link, I'll decode token and check payload.

[2020-11-25 10:44] vedmant commented on #741
Ok, done, I had to fit cards content into a bit smaller cards height, how it looks on my screen (MacBook 16"), generally I added flex columns to let it stretch a bit on larger screens.

[2020-11-25 16:09] ikosovec opened #745 "Clicking on "Explore" the first time messes up the page title"
These are the steps:

- I get to dailyidea.com
- I click on "Explore"
- The page title is the same as the title of the first card. The issue here is that, when you do this for the first time, an "onboarding" card is shown, not the first card. Screenshot:
![image](https://user-images.githubusercontent.com/16639403/100253045-ec12ce80-2f40-11eb-9f1b-52e342775955.png)

If I reaload the site (or close

[2020-11-25 16:14] ikosovec opened #746 "The first card on "Explore" is skipped when the user's onboarding"
Steps:

- I go to dailyidea.com
- Click on "Explore"
- Same behaviour as on #745
- I click "Next"
- I get to the 2nd card. I can go back to the card I didn't see because it was replaced by the onboarding card.

[2020-11-25 16:18] ikosovec opened #747 "Opening ideas from the user's profile page shows a flash of "Read more""
Steps:

- Go to a user's profile, for example https://www.dailyidea.com/profile/jose
- Click on any idea with clicking on "View idea" button
- A modal opens with the idea card, and for half of a second a "Read more..." text is shown at the end of the idea body before it disappears. It's leaving a weird experience for the users, because they have a feeling something's off. I managed to capture it w

[2020-11-25 16:20] ikosovec opened #748 "Close modals with "Esc" button"
This seems like an industry standard for me. I'm that type of user who closes all of their modals by clicking the Esc button. When I can't do it on pages, I get kind of frustrated. Modals are being closed by clicking outside of the modal or the "X" in the top right. I think closing modals with Esc is a quick implementation and helps users like me.

[2020-11-25 16:24] ikosovec opened #749 "Investigate the really long loading time on Login (production)"
For logs: Nov 25th, around 5:20 CET I tried logging in and got a loading spinner of over 45 sec.
Can we investigate why this was happening?

[2020-11-25 16:28] ikosovec opened #750 "Login emails sending expired links"
I tried logging in, got the email, the link is expired:
![image](https://user-images.githubusercontent.com/16639403/100255161-7b20e600-2f43-11eb-9151-6357f89785e2.png)
The app sent me a new link, it's also expired.

[2020-11-25 16:30] ikosovec opened #751 "Beta is not sending login emails"
Tried logging in to beta.dailyidea.com.
Got a really long spinner like in #749
Spinner stopped, I didn't get any success screen. In fact, nothing changed.
I didn't receive any emails after that.

[2020-11-25 16:33] ikosovec opened #752 ""Sorry, we didn't find an account registered to this email." on production"
Might be connected to #749 and #750
I am getting this error on production:
![image](https://user-images.githubusercontent.com/16639403/100255733-2f227100-2f44-11eb-8162-645f76cf9dc8.png)

I'm quite confident I have an account. I got a link for #750 10 minutes before.

[2020-11-26 13:49] vedmant commented on #730
@Watson-B Can you attach icons used here in svg?

[2020-11-26 14:08] vedmant commented on #730
@ezl @Watson-B I changed snackbar style, about icons in snackbar, I'll then need to put required icons for all actions where we have this notification, here is full list:
<img width="570" alt="Screenshot at Nov 26 16-08-10" src="https://user-images.githubusercontent.com/5052406/100360412-98b48500-3001-11eb-9b5c-471b379f8168.png">

[2020-11-26 14:17] vedmant commented on #745
@ezl Could you confirm if this should be fixed, title represents url and that idea that underneath, explainer card is temporary first time layover.

[2020-11-26 14:44] vedmant commented on #750
@ikosovec Weird, for me it works ok, can you send a link you have, that's expired

[2020-11-26 14:51] vedmant commented on #751
@ikosovec It works ok for me, does it happed every time for you?

[2020-11-26 14:56] vedmant commented on #749
For me it takes about 10-15 secs, still long, but this is how AWS works, graphql api responds up to 2 secs sometimes, also cognito was responding in about 3.7 seconds in total, I'n not an AWS expert to investigate why it works so slow. Maybe @aldarund has some ideas.

[2020-11-26 15:12] vedmant commented on #752
@ikosovec This is weird, for me login works fine, also this error should only show when it actually didn't find an email. Do you have this behaviour consistent? I just tried to login with your email and it worked ok.

[2020-11-27 23:51] Watson-B commented on #730
@vedmant @ezl I'm thinking we can reuse to icons for some of the above actions. If you have other thoughts let me know, and I can create more icons. I'm attaching the SVGs in a zip, and then referencing PNGs in the post

I'm thinking use this general error one <img width="22" alt="error" src="https://user-images.githubusercontent.com/65913664/100489120-4c337d00-30c7-11eb-9bea-c61e93811065.png">
_(

[2020-11-28 13:18] ezl commented on #730
These all look great.

[2020-11-28 13:49] ezl commented on #745
@vedmant - please hold on this

@vedmant and @ikosovec  i agree with @ikosovec that there is a bug here, but I'm not sure what the solution is.

The problem, as I see it, is that it is impossible to see the first card on your first time.

To test this, load an incognito or new browser without any cookies, load daily idea, go to explore.

the browser will show the "welcome" card, as @ikosovec has s

[2020-11-28 14:01] ezl commented on #743
forwarded with notes.

[2020-11-28 14:08] ezl commented on #724
@ikosovec do you think this helps resolve some of the confusion via design?

[2020-11-28 14:13] ezl commented on #740
Prefer not to make it mandatory -- i want it to be easy to just put a quick idea down.

IMO an idea can sometimes be just a single line.

[2020-11-28 14:13] #740 closed

[2020-11-28 14:19] ezl commented on #726
@Watson-B I really like the "full screen" (not just a card) UX for creating an idea.

grammarly has that as well, which I think is great. I feel that a few sites have done this "no distractions" UX for content creation (writing blog posts, writing stories) idea really well. The "full blank page" IMO is really great for this idea of a blank canvas.

From a visual perspective, I think our full scree

[2020-11-29 12:44] ikosovec opened #755 "The "Hooray" modal after I log in might need an UX change"
Steps:
- I'm not logged in
- I click on "Like" on an idea
- I enter my email to log in
- I get the email, confirm it
- I get to this modal (over the original idea I tried to like):
![image](https://user-images.githubusercontent.com/16639403/100542181-ee2ea300-3248-11eb-84a5-1953abb8da59.png)

In my personal opinion - this screen does not have the design guidelines applied. What do you think @ezl ?

[2020-11-29 12:46] ikosovec commented on #730
Took me a while to test all of these out but I think they're great. This can be pushed to prod.

[2020-11-29 12:48] ikosovec opened #756 "Liking an idea while you're logged out doesn't increase the "Liked" counter"
Steps:
- I'm not logged in
- I click on "Like" on an idea
- I enter my email to log in
- I get the email, confirm it
- I get to this modal shown in #755
- Close the modal, get back to the card I tried to like. The "liked" icon is highlighted, as if I liked it, but the counter is not increased, as seen here:
![image](https://user-images.githubusercontent.com/16639403/100542324-7f9e1500-3249-11eb-96

[2020-11-29 12:49] ikosovec commented on #756
Clicking it again: I get an "Idea unliked" and the icon is not filled again:
![image](https://user-images.githubusercontent.com/16639403/100542357-b116e080-3249-11eb-9c68-df2d171fca74.png)

The counter goes back up when I click it:
![image](https://user-images.githubusercontent.com/16639403/100542362-bb38df00-3249-11eb-80e3-7621ebded457.png)

[2020-11-29 12:53] ikosovec opened #757 "The "Comment" section on the card layout on the "Explore" page needs margins"
Steps:
- I'm on the "Explore" page
- Open any card
- Leave a comment
- The layout is messed up:
![image](https://user-images.githubusercontent.com/16639403/100542423-0521c500-324a-11eb-9a4d-c59de598a9a3.png)

[2020-11-29 12:56] ikosovec opened #758 "Disable arrow keys navigation when writing a comment"
Steps:
- I go to the explore page (I'm logged in)
- I start writing a comment
- If I try to go back or forward in the text using my keyboard arrows, I will move to the next or previous card. This makes it unable for me to go back and forward in the text and can be considered a Critical and top priority issue because it's blocking the user from accomplishing one of the core features. The solution w

[2020-11-29 12:58] ikosovec opened #759 ""Saving" an Idea won't increase the counter"
Steps:
- I click on the "Save" icon of any idea. The counter doesn't go up.
![image](https://user-images.githubusercontent.com/16639403/100542554-f7207400-324a-11eb-8ba8-7062d504a231.png)

[2020-11-29 12:59] ikosovec commented on #750
This is working fine now. As I wrote on Slack, it looks like there was a server issue in that time period with logins.

[2020-11-29 12:59] #750 closed

[2020-11-29 12:59] ikosovec commented on #751
This is working fine now. As I wrote on Slack, it looks like there was a server issue in that time period with logins.

[2020-11-29 12:59] #751 closed

[2020-11-29 12:59] ikosovec commented on #752
This is working fine now. As I wrote on Slack, it looks like there was a server issue in that time period with logins.

[2020-11-29 12:59] #752 closed

[2020-11-29 13:02] ikosovec commented on #724
@ezl @Watson-B yes, I think this is a good solution. It clearly communicates what's going on with the UX on this screen and doesn't leave any room for questions.
"Your comment is pending" is a clear message we're sending here and the user should easily understand that this comment is not posted.
Why is it not posted?
Becase you need to register - and this is answered in the copy.

I suggest we mov

[2020-11-29 13:04] ikosovec commented on #746
Looks good!

[2020-11-29 13:04] #746 closed

[2020-11-29 13:06] ikosovec commented on #745
I agree with both options, but I'm leaning towards option 1.

[2020-11-29 13:13] ikosovec commented on #741
This looks good to me now. You might want to double-check this as well @ezl

[2020-11-29 13:13] #741 closed

[2020-11-30 11:17] vedmant commented on #743
@ezl I see that token is correct, it has your email and expiration date is 2020-12-05T12:00:06.000Z this is weird that it's not working, I don't have enough experience with Cognito to debug it, I'll google and try to find something about it. Maybe @aldarund has more experience with AWS and Cognito. I noticed there is: `Account Status	Enabled / FORCE_CHANGE_PASSWORD` can that be the reason? I I'll

[2020-11-30 11:34] vedmant commented on #743
Actually I think i found the problem, checking it

[2020-11-30 12:04] vedmant commented on #730
@ezl @ikosovec What about icons, I didn't add them.

[2020-11-30 12:08] vedmant commented on #745
@ezl I think option 2 makes more sense, it's only rendered in browser, I think it's ok to keep is as a card just as is. Option 1 will take more time to implement but doesn't change much, except for the url and title, but why do we even need this as a separate page.

[2020-11-30 12:15] vedmant commented on #743
@ezl Can you try now it should be fixed. But I updated secret token, so it will work on next emails from now.

[2020-11-30 16:13] ezl commented on #755
Agreed, this does not follow the design style of the other emails, so we should update.

@ikosovec are you aware of where the emails are in the figma file? (basically, lets first assess whether a design EXISTS, but hasn't been implemented vs does not yet exist and needs to be created). If it doesn't exist, can you work with @Watson-B to get it made and implemented please?

[2020-11-30 16:23] ikosovec commented on #755
Yep, I have access to all designs. I might've misunderstood something, but I thought the app has been implemented according to the design already. I'll be more cautious regarding this.
@Watson-B - I'm having a hard time finding the design for this modal in Figma, could you please give me a hand?

[2020-11-30 16:27] ikosovec commented on #745
If the option 2 is a quicker option from a technical perspective, I would then support your opinion here, @vedmant and change my opinion to option 2 as well. :)

[2020-11-30 16:29] ikosovec commented on #730
I made a hasty comment and completely forgot about the icons, sorry @vedmant.
The toast looks and works great, but let's also add the icon as well. :)

[2020-11-30 16:33] ikosovec commented on #749
For me it's working much better now, I think this is related to the server issues we had the other day.

[2020-11-30 16:39] ezl commented on #679
I'm ok with this for now.

@ikosovec can you work with @Watson-B to create a NEW ticket for improving this full flow though?

From my perspective:

(A) sending the user to a login page because authentication is required is a bit of a "hack" and an imperfect UX. For example, there are several *different* actions that require authentication (save, comment, or like an idea; follow a user). For an una

[2020-11-30 23:08] Watson-B commented on #745
I think both make sense, and don't have a strong preference for one over the other. Did a quick mock of what the lightbox might look like.
<img width="1440" alt="welcome_lightbox" src="https://user-images.githubusercontent.com/65913664/100676464-d07f3d80-331d-11eb-836b-c71d3101ea0d.png">

The only argument I can think of for option 1 over option 2 is that it starts training the user to swipe, but

[2020-11-30 23:25] Watson-B commented on #755
I looked through the design files and I can't find a design for that modal. I'm happy to mock one up, but can we discuss the choices at the bottom first?

I think giving the user three choices might be unnecessary. If I'm understanding correctly,the goal of the modal is to show the user that even though they had to navigate to their email, we didn't lose track of the original action they were tryi

[2020-12-01 00:39] Watson-B commented on #726
Made updates to the way things scroll and changed the layout to a full screen layout. Based the width on optimal line width for legibility.
**Default**
<img width="1480" alt="default" src="https://user-images.githubusercontent.com/65913664/100682198-691bba80-332a-11eb-8d11-5040efe77d39.png">

**Hovered**
<img width="1480" alt="hover tooltips" src="https://user-images.githubusercontent.com/65913664

[2020-12-01 14:15] vedmant commented on #748
@ikosovec Ok, I added esc key to lightbox, standard vuetify dialogs already had it.

[2020-12-01 15:53] ezl opened #763 "Sharing idea shares profile link instead of actual idea"
Edit: Actually, just realizing this may be specific to the path that I used to get there.

1. go to www.dailyidea.com/profile/eric
2. scroll down to find any idea.
3. try to share that idea
4. click "copy link"

[2020-12-01 19:35] ikosovec commented on #759
This is not working correctly.
I get to a random idea from the Explore page.
Current state:
![image](https://user-images.githubusercontent.com/16639403/100787752-65fcf900-3414-11eb-9c48-c2f5224974a5.png)
I click on "Save" - this is correct:
![image](https://user-images.githubusercontent.com/16639403/100787786-7319e800-3414-11eb-8188-0b268a546ffe.png)
I click on "Unsave" - it goes back to "0", alth

[2020-12-01 19:40] ikosovec commented on #756
Tested on beta (https://beta.dailyidea.com/profile/vedmant)
Started with:
![image](https://user-images.githubusercontent.com/16639403/100788178-03f0c380-3415-11eb-9926-fa43298ba85c.png)
Clicked "Like":
![image](https://user-images.githubusercontent.com/16639403/100788213-0e12c200-3415-11eb-9263-3b04aa10c027.png)

Behaviour looks fine on the Explore page.
Started with:
![image](https://user-images.

[2020-12-01 19:43] ikosovec commented on #748
Looking good on beta!

[2020-12-01 19:43] #748 closed

[2020-12-01 19:55] Watson-B commented on #679
@ezl mocked a quick prototype of what that flow would feel like for both.

The modals need some work, probably a little more show and a little less tell, but it will give a sense of how it would feel.

To test the "Already registered user" click on the Like action, and to test "New User" click on save. If you get to the end (back to the original page with the confirmation of the action occurring)

[2020-12-02 18:18] ikosovec opened #766 "Design review of the landing page"
Hey @ezl @Watson-B, here's a short summary of the landing page review we discussed today:
- Landing page on desktop - title too big compared to the rest of fonts?
    - The card scrolls on some devices (Eric's laptop)
- Mobile card 1/3 - There's a lot of font sizes which might be confusing
    - Login button falls off
- 2/3 card on landing page - Sign up button is being cut off (iPhone 7)
- 3/3 ca

[2020-12-02 18:20] ikosovec opened #767 "Flashing after moving on from 3rd card on Landing page"
Steps:
- I go to dailidea.com
- Get onboarding cards, scroll to 2nd, scroll to 3rd
- When I go right (after 3rd card and before the 1st idea) - it first loads up the 3rd card and then the 1st idea. There's a lot of flashing going on here.

[2020-12-02 18:22] ikosovec opened #768 "Landing page cards are scrollable on some devices"
This is a weird one. @ezl is using the same screen resolution as myself:
![image](https://user-images.githubusercontent.com/16639403/100914583-8cce3480-34d3-11eb-9869-53f058030dbd.png)
You can check the behaviour of the cards on his computer here: https://monosnap.com/file/y5d0JSPRPjvGuX8vx5oRAPvRa8rLqI
We tested both on Firefox and on Chrome.

Here's how it looks on my computer (perfectly fine):

[2020-12-02 18:32] Watson-B commented on #766
@ikosovec Thanks for the summary, looking at the intro cards today.

[2020-12-03 17:27] ezl commented on #726
yes, this is beautiful. @ikosovec lets roll with this. tagging @vedmant -- this is an improvement on our current page.

I suspect you may think this page also needs refactoring -- my guess is that our current page structure isn't great.

[2020-12-03 17:30] ezl commented on #755
@Watson-B I agree that too many choices might be a bad idea.

what do you propose?

I think this may also relate to the fairly long comment I made on https://github.com/ezl/dailyidea.com/issues/679 about how we should handhold and guide users down a specific path.

[2020-12-03 17:33] ezl commented on #743
@vedmant confirmed this now works for me. closing ticket.

[2020-12-03 17:33] #743 closed

[2020-12-04 11:15] vedmant commented on #726
@Watson-B Can I find this images in figma?

[2020-12-04 12:51] vedmant commented on #726
I refactored component a bit, updated styles, removed all extra, should be published to beta in 5 mins. @ikosovec Could you please test.

[2020-12-04 13:57] ikosovec opened #772 "Image broken in Login email on production"
I think the screenshot is self-explanatory:
![image](https://user-images.githubusercontent.com/16639403/101172100-033c7500-3641-11eb-9c66-425406a368ce.png)

[2020-12-04 13:59] ikosovec commented on #772
Same behaviour is on beta as well.
![image](https://user-images.githubusercontent.com/16639403/101172274-426ac600-3641-11eb-9903-a41b2d284990.png)

[2020-12-04 14:05] ikosovec commented on #759
Still not behaving correctly.
Steps:
- I go to explore
- Click on Save - it increases the counter (OK)
- Go to profile of the idea author - the "Saved" icon is highlighted as saved, but the counter is not going up (not OK)
- Click on "view idea" - the "Saved" icon is highlighted as saved, but the counter is not going up (not OK)

-- Next test --
Steps:
- I go to profile
- Pick a random idea
- Pres

[2020-12-04 14:06] #730 closed

[2020-12-04 14:09] ikosovec commented on #756
Steps:
- I go to explore - like an idea - counter goes up (OK)
- I go to profile, find the idea - the counter is correct (OK)
- I unlike the idea on the profile page - the counter goes down (OK)
- I go back to explore, find the idea - the icon is not filled (OK), and the counter is still one up, although I unliked (not OK)
- Refreshing the page reduces the counter by one, making it correct

I thin

[2020-12-04 14:11] ikosovec commented on #747
Looks good!

[2020-12-04 14:11] #747 closed

[2020-12-06 18:11] ikosovec commented on #724
This looks good from my perspective now.

[2020-12-06 18:11] #724 closed

[2020-12-07 09:47] vedmant opened #775 "Hide share icon on private ideas"
They can't be shared

[2020-12-07 10:31] vedmant commented on #775
@ikosovec @ezl  It doesn't show error when trying to share private idea, but doesn't share it, I think removing icon makes more sense.

[2020-12-08 10:42] ikosovec opened #778 "Error message on too long comments"
Steps:
- Go to dailyidea -> Explore -> pick a random idea
- Leave a comment (OK)
- Write a lot of text, for example:
[code]
- The comment will not get posted. No error will be shown. I think there's too much text - right?

[2020-12-08 10:50] ikosovec opened #779 "Super long words in comments stretch the comment area"
Steps:
- Open a random idea on "Explore"
- Post a really long word in a comment, like "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbaaaaaaaaaaaaaaaaaaaaaacccccccccc"
- The comment area will strech. I propose that the word gets separated with a dash. Is this possible?

Here's a video: https://monosnap.com/file/aPVOakqjRNbmkt1gnJcg7psIyDmIxT

[2020-12-08 10:54] ikosovec commented on #726
From my perspective, this looks good both on desktop and on mobile. I tested it a lot and didn't find a single thing that's not working right. Thanks for the awesome job @vedmant

[2020-12-08 10:54] #726 closed

[2020-12-08 10:58] #757 closed

[2020-12-08 10:59] #758 closed

[2020-12-08 11:00] #767 closed

[2020-12-08 13:02] vedmant commented on #768
@ikosovec @ezl Yes, this design just don't fit in smaller screens, I added scrolling intentionally otherwise content is cut. I see only solutions is to change design, make content vertically smaller.

[2020-12-08 13:54] vedmant commented on #759
This works ok for me.

Pick a random idea
Press "Save" - counter goes up (OK)
Click on "view idea" - counter is on 1 (OK)
"Unsave" - goes back to 0 both on profile and on "view idea" (OK)
"Save" again
Go to "Explore"
The "Save" icon is filled, but the counter is on 0 (not OK)

Yes, I can reproduce this, it's due to caching of explore page, I'll make it update cache.

But I can't reproduce this par

[2020-12-08 14:17] vedmant commented on #756
Fixed with https://github.com/ezl/dailyidea.com/pull/781

[2020-12-08 14:57] vedmant commented on #778
Actually there is no limit for comment size. It appeared to be a problem with "de Finibus Bonorum et Malorum" double quotes, weird that it's not escaping them, we may have this issue in other places also. I'll fix it here.

[2020-12-09 18:01] ikosovec commented on #775
That makes sense to me. What about the UX perspective, what do you think @Watson-B ?

[2020-12-09 18:04] ikosovec commented on #772
Looks good on beta.

[2020-12-09 18:04] #772 closed

[2020-12-09 18:10] ikosovec commented on #759
The caching issue looks like it's fixed.

I recorded a video to show you the behaviour. New anonymous browser, fresh log in.
https://monosnap.com/file/7alCF15v3nHwpNvYUQWLmzdXRRiv8m

[2020-12-09 18:39] ikosovec opened #784 "Redirect to "All ideas" doesn't work"
Steps:
- Not logged in, try liking a random idea
- Get email, confirm -> get redirected to the idea
- Modal of "We liked that idea for you" is opened
- At the bottom of the modal, an URL is redirecting me to check out "All ideas". The URL is: https://beta.dailyidea.com/ideas/all
- The page in question looks like this (it's empty):
![image](https://user-images.githubusercontent.com/16639403/1016725

[2020-12-09 18:41] ikosovec commented on #756
Looks good now!

[2020-12-09 18:41] #756 closed

[2020-12-09 18:42] ikosovec commented on #778
This looks fixed now.

[2020-12-09 18:42] #778 closed

[2020-12-09 18:44] ikosovec commented on #779
Although it's implemented nicely, I'm not too happy how it looks from a visual perspective.
I'd kindly ask @Watson-B for help regarding this. You can see how it looks like on this one: https://beta.dailyidea.com/i/ax83di/test-idea-again

[2020-12-09 18:46] ikosovec commented on #779
There's also one more thing that popped on my mind now - maybe we want users to enter newlines in comments? A large comment might look cluttered. What do you guys think?

[2020-12-09 19:09] Watson-B commented on #726
@vedmant apologies for the delay, the post frames are posted to the left of the post row in this figma file https://www.figma.com/file/FkptxrJSaBpU3mslMFnWm4/Daily-Idea-Mobile-Desktop-Copy?node-id=322%3A231. I'm leaving a comment on them to help you find them.

[2020-12-09 19:13] Watson-B commented on #775
@ikosovec I think hiding it all together might be confusing, what about using a disabled gray state, or even doing a disabled share icon?
<img width="24" alt="disabled" src="https://user-images.githubusercontent.com/65913664/101676079-8548e700-3a0f-11eb-99bf-a18232a3d45f.png">
I think making it clear that they can't share due to an idea being private is an important distinction to make.

[2020-12-09 19:16] Watson-B commented on #779
@ikosovec I agree, I noticed it end of last week, it feels odd if you're writing a long response to someone, since you're limited to viewing such a small portion of the comment you're leaving. I'll work on this today.

[2020-12-10 00:25] Watson-B commented on #779
@ikosovec I agree, I think the link break in the word works now, but I'm not 100% happy with how it looks visually either. When writing a long comment or reading a long comment it's crammed. It makes it particularly hard to proof a comment before submitting, which I'm assuming will impede people's ability to discuss ideas (maybe I'm overthinking that) A few different ideas come to mind on how to h

[2020-12-10 10:06] vedmant commented on #775
@Watson-B Sure, disabled share icon is good idea, can you share SVG icon?

[2020-12-10 10:23] vedmant commented on #759
@ikosovec Ok, should be fixed now (published on beta in 10 mins)

[2020-12-10 10:29] vedmant commented on #784
@ikosovec This is old page that's not used anymore, I'll change link in the email to http://localhost:3000/ideas-cards this page redirects to last idea

[2020-12-10 17:55] Watson-B commented on #775
Here you are @vedmant [disabled share.zip](https://github.com/ezl/dailyidea.com/files/5674737/disabled.share.zip)

[2020-12-10 19:44] Watson-B opened #787 "Updated welcome cards"

[2020-12-10 19:51] Watson-B opened #788 "Active/Hover States & Transitions for "Explore" "Post" "My Ideas""

[2020-12-10 19:52] Watson-B commented on #787
Redesign of the welcome cards to work on smaller screensizes without needing to scroll.

[Desktop Prototype](https://www.figma.com/proto/VTAWAu8G6jtzpWYulfpw9m/Daily-Idea?node-id=25%3A10&viewport=2788%2C-1519%2C0.4245905578136444&scaling=min-zoom)
[Mobile Prototype](https://www.figma.com/proto/DhNZp4BVEv0n6a1EUBe23P/Daily-Idea-Mobile-Prototype?node-id=4%3A440&viewport=2346%2C382%2C0.30533105134963

[2020-12-10 20:43] Watson-B commented on #788
### **Active States**
When a user first visits Daily Idea and sees the welcome cards, "Explore" does not show up as active. It's not that it's inactive either since it is still black compared to the gray of "Post" and "My Ideas". Since we are feeding them into the explore feed, is there a reason we aren't showing it active at this point?

<img width="958" alt="inactive-welcome" src="https://user-i

[2020-12-10 22:13] Watson-B commented on #718
First pass at a loading screen inspired by customer.io's
### GIF
![loading](https://user-images.githubusercontent.com/65913664/101827658-73397800-3ae5-11eb-8763-570a97f664d2.gif)

### In action
![loading](https://user-images.githubusercontent.com/65913664/101835082-1becd500-3af0-11eb-916b-1b80e55c35a2.gif)

### Uses
So navigating through Daily Idea right now, most pages are loading really quickly

[2020-12-10 22:13] Watson-B opened #789 "Mobile Card Swipe"

[2020-12-10 22:39] Watson-B commented on #789
When swiping through ideas on mobile, if you lift your finger early, the card stops moving but still transitions to the next card. This creates jerky/stuttery experience when browsing on mobile. Is it possible to have the swipe animation finish regardless of where you lift your finger during the swipe animation? Not sure if I'm explaining that correctly; I'm attaching a GIF with me swiping through

[2020-12-10 22:41] Watson-B opened #790 "Context for "Top" on "Explore""

[2020-12-10 22:44] Watson-B commented on #790
When a user selects Top from the sub-nav, it's showing what I'm assuming is top of all-time, but it's unclear. What do you think about adding a dropdown to allow the user to set context/timeframe for Top?
<img width="1162" alt="top" src="https://user-images.githubusercontent.com/65913664/101838843-2d38e000-3af6-11eb-9198-46d408af03b8.png">

I'm thinking something along the lines of how Reddit has

[2020-12-10 22:51] Watson-B opened #791 "Changing all "Sign up" & "Login" flows to the easy "Take me to Gmail" style"

[2020-12-10 22:56] Watson-B commented on #791
We talked last week about changing all instances where an unauthorized user takes an action that requires authentication to the simple login flow that does the work for the user. I was thinking about it in regards to the card we currently show users when they visit "Post" and "My Ideas" that prompts them to "Sign Up" or "Log In".

<img width="1160" alt="current" src="https://user-images.githubuser

[2020-12-10 22:57] Watson-B commented on #779
@ezl What do you think? Does one make more sense than the other?

[2020-12-10 22:58] Watson-B commented on #787
@ezl Think these are ready to move forward?

[2020-12-10 22:59] Watson-B commented on #791
@ezl Is this in line with what you were thinking?

[2020-12-10 23:00] Watson-B commented on #788
@ezl pinging you for thoughts/feedback on this.

[2020-12-10 23:01] Watson-B commented on #790
@ezl thoughts on this? Does this make more sense to save for v2?

[2020-12-11 12:10] #759 closed

[2020-12-11 12:13] #784 closed

[2020-12-11 12:23] ikosovec opened #793 "The "Make idea private" flow is buggy"
Steps:
- Log in, go to my profile
- Select an idea, click on "Make Private"
- Visually, nothing changes. Afterwards, we get 2 bugs:
1. I can click on "Make Private" again.
2. I can share the idea, although I clicked on "Make private". Sharing via email - I will not receive the email. Sharing via link - I'll get a 404.

Refreshing the page fixes the problem. I can "Make idea public" and the "share"

[2020-12-11 12:24] ikosovec opened #794 "The "private idea" concept is confusing for me"
Basically if it weren't for #775 , I wouldn't know that we have this feature. So I decided to play around a bit. Here's a few questions that popped onto my mind.

1) First of all, I tried creating a private idea. There's currently no option to do that. I knew that there was a "private idea" functionality, but I expected it to be available to me during the creation of the idea. Maybe we should make

[2020-12-11 12:25] ikosovec commented on #775
Can we add a tooltip "Private ideas can't be shared" when hovering over the icon? This might be confusing. I'll explain more in #794

[2020-12-11 19:36] Watson-B commented on #794
@ikosovec I agree, this was something that I was working on with the desktop prototype.
I came up with a toggle during the post creation. I have a screenshot down below.
<img width="1480" alt="post" src="https://user-images.githubusercontent.com/65913664/101947174-df2ee580-3ba4-11eb-9b6c-b5321b54d550.png">

If you go to the "Post" tab on the [the prototype](https://www.figma.com/proto/VTAWAu8G6jtz

[2020-12-12 09:31] vedmant commented on #775
Ok, added tooltip

[2020-12-12 10:22] vedmant commented on #793
Fixed, there is one more thing, in explore page menu dropdown is not updated when visibility changed.

[2020-12-12 18:17] ikosovec commented on #794
I really like the proposal @Watson-B, I'm looking forward to seeing the indicator as well.

[2020-12-13 21:50] ikosovec commented on #775
Looks good!

[2020-12-13 21:50] #775 closed

[2020-12-13 21:52] ikosovec commented on #793
Okay, it looks fine while in profile. Please let me know when you fix it on the explore page as well.

[2020-12-13 21:52] #749 closed

[2020-12-13 21:54] #727 closed

[2020-12-14 17:57] ezl commented on #794
@ikosovec I'm good with this -- lets put this in for implementation

@Watson-B lets sync up on this when we chat -- will schedule a time with you.

[2020-12-14 19:08] ezl commented on #718
Let's not do the wipes. Let's just do the loading animation. If it loads too fast to see, that's ok. The loading animation is there for the benefit of people when the page ISN'T fast enough.

[2020-12-14 19:09] ezl commented on #788
@Watson-B I like this a lot. However, I'm not sure how easy it is to implement.

Overall my opinion on this is that if we can implement it with relatively low effort, let's do it. If not, let's skip it.

@vedmant can you provide a difficulty estimate for this? What's your best estimate for # of hours to implement?

[2020-12-14 19:29] ezl commented on #779
Of the 3 ideas, I prefer the 1st (no split screen, separate lightbox for comments).

I'm not sure that I'm ready to execute any of these though.

Thoughts:

(A) I don't think that any of these solutions will "fix" the problem of horizontal scroll if a user enters a VERY long word like

fffahdlkfhawelfhliawuyhaiwdugyfonaeiuwrhoerutyoirewuaytaoiwejatyoweijtxyaoiweycfgoawfycoaiwecyofiawuefioaewyfoiau

[2020-12-14 19:46] ezl commented on #791
@Watson-B let's discuss this in our weekly sync :)

[2020-12-14 19:48] ezl commented on #789
@Watson-B I see what you're saying.

@vedmant  + @ikosovec do you also understand?

@vedmant I believe in the past we actually animated the card swiping off the screen if the next/previous action was toggled. Can we reinstate that?

[2020-12-14 19:49] ezl commented on #787
ready. moving to dev.

[2020-12-14 19:50] ezl commented on #790
@Watson-B you read my mind about needing this. Let's just implement.

[2020-12-15 09:35] vedmant commented on #718
I added custom loading animation, merged to dev. I also can make it appear with delay to prevent flickering on fast load (or add fade in transition).

[2020-12-15 10:10] vedmant commented on #793
Merged a workaround, it's some weird bug with computed property not updating

[2020-12-15 17:51] ikosovec commented on #789
Yep, I think I got it.
Up to @vedmant now to check if we can somehow improve this part.

[2020-12-15 17:53] ikosovec commented on #790
Do we need any design on this part or can we reuse already existing components?

[2020-12-15 17:56] ikosovec commented on #718
I tested it out and it looks good. I have a suggestion to improve it a bit - let's also add the text "Loading" somewhere along with this animation. Although it looks amazing, it might be confusing a bit for first-time users.

What do you think @Watson-B ?

[2020-12-15 17:57] #793 closed

[2020-12-15 17:58] ikosovec commented on #755
@Watson-B I'm not sure if this somehow slipped under the radar so I'd just like to check the status of this one.

[2020-12-15 18:01] ikosovec commented on #794
Moving the first part to development.
Waiting for the indicator from 2nd part.

[2020-12-15 18:31] Watson-B commented on #790
I modified the post edit dropdown a bit, would this work @ikosovec?
<img width="1480" alt="top-2" src="https://user-images.githubusercontent.com/65913664/102256657-7e631e00-3ec0-11eb-9b89-f1efd6073d4c.png">
<img width="1480" alt="top-1" src="https://user-images.githubusercontent.com/65913664/102256651-7d31f100-3ec0-11eb-8527-0d59846eab47.png">

[2020-12-15 18:32] Watson-B commented on #718
@ikosovec 100% agree, should I add that to the loading gif, or is that something we would add below it? Happy to do whatever works best for implementation.

[2020-12-15 18:41] Watson-B commented on #755
@ikosovec I was doing some exploration on this, but haven't had the chance to debrief with @ezl on this yet. I was thinking something along the lines of this:

![2020-12-15-10-33-24](https://user-images.githubusercontent.com/65913664/102257829-18779600-3ec2-11eb-8e7f-d5403e11a901.gif)

It may be way too extra though. My thought was, that it would be something special to let them know the action wa

[2020-12-15 19:07] Watson-B commented on #794
@ikosovec What do you think about this? Reusing the pill from the pending comment design, and just adding the no-visibility icon.

<img width="1480" alt="private" src="https://user-images.githubusercontent.com/65913664/102260874-c173c000-3ec5-11eb-9dd4-da2365531581.png">

[2020-12-16 14:24] vedmant commented on #789
@ikosovec As I understand this is about card freezing and not animating away?

[2020-12-16 14:32] vedmant commented on #789
I added a fix, it was a typo in variable name.

[2020-12-16 14:40] vedmant commented on #794
I'll work on create post page private switch, I'll need to make container wider then. Also editor buttons may not fit on mobile, and I don't have much control, they are part of the editor, I can only apply CSS.

About private label lets create a new issue for that?

[2020-12-16 14:45] vedmant commented on #794
@Watson-B There is no this kind switch you added on the image, Vuetify has following switches https://vuetifyjs.com/en/components/switches/ creating something like custom like you added will take additional time. Not sure how it's important to use that specific switch, if not I'd suggest to use switch from Vuetify.

[2020-12-16 15:01] vedmant commented on #794
I'll use this layout on mobile https://prnt.sc/w40z3f

[2020-12-16 15:22] vedmant commented on #794
Added switch, merged to dev

[2020-12-16 15:29] vedmant commented on #790
@Watson-B @ezl I think it makes sense to show only when Top is selected?

[2020-12-16 15:34] vedmant commented on #787
@Watson-B On desktop I see all 3 cards has image with right arrow press, is this correct?

[2020-12-16 17:32] Watson-B commented on #789
The new swipe feels great!

[2020-12-16 17:49] Watson-B commented on #794
@vedmant That makes sense, it was just something I was working on while doing some exploration. I don't think the styling of the switch is critical, it's more just something that is nice to have, so I think the vuetify switches will work.

Re: mobile, I think the formatting buttons being grouped so closely together might make them hard to hit, is it possible to break up the post button and the for

[2020-12-16 17:50] Watson-B commented on #790
@vedmant Agreed, no need to show it when it isn't relevant to what the user is looking at.

[2020-12-16 17:54] Watson-B commented on #787
@vedmant I'm open to doing left and right arrows on cards 2 and 3. My thought though was to keep the user focused on just one action to get through the welcome cards and onto the ideas, and so just highlighting the right arrow key. I think if we are training the user that right means next, it is implied that left means previous. Showing both left and right though is more explicit about what contro

[2020-12-17 17:19] ezl commented on #358
This screen was implemented and merged, but seems to have been removed.

Let's bring this back. Also @Watson-B is going to add a button to this screen.

[2020-12-17 17:54] ikosovec commented on #718
@vedmant what do you think? What would work better?

[2020-12-17 17:55] ikosovec commented on #755
That's pretty cool! :)
Let's see what the boss @ezl says

[2020-12-17 18:04] #789 closed

[2020-12-17 18:15] ikosovec commented on #794
This is pretty cool. It also uses UI elements that we already have so that's an extra as well.
@ezl what do you think?

[2020-12-17 18:44] ezl opened #801 "paginate / show more ideas on profiles with a lot of ideas"
On https://www.dailyidea.com/profile/eric -- there are 100+ ideas.

However, only 25 are displayed. If the user reaches the bottom, we should allow them to view more ideas.

Can we automatically just load more if the user reaches the bottom?

[2020-12-17 18:48] ezl commented on #789
thank you all! @vedmant for fixing it quickly, @Watson-B for being detail oriented and find it, and @ikosovec for being on the ball and taking over this :)

[2020-12-18 13:43] vedmant commented on #787
@Watson-B Can I find this designs on figma somewhere? I'll need better understanding of elements / fonts sizes.

[2020-12-18 15:32] vedmant commented on #358
@ezl Yes, it was removed during refactoring. It's easy to miss things like this during refactoring since we don't have automatic tests.

I put it back on idea page, so after creating idea it redirects to that idea page and then shows a dialog.

One thing however, when creating private idea, it redirects to user profile page, and will not show created idea dialog. Should I also add this dialog on u

[2020-12-18 15:35] vedmant opened #803 "Issue after deleting idea"
I spotted buggy behavior after deleting idea, it redirect to old page, also doesn't remove idea from cached ideas.

[2020-12-18 15:37] vedmant commented on #358
I merged a fix, let me know about profile page.

[2020-12-18 15:41] vedmant commented on #794
@Watson-B

Sure, could you create a separate ticket for this

[2020-12-18 15:42] vedmant commented on #718
@ikosovec I'm ok with both solutions.

@Watson-B Could you make a design for loading animation with a text?

[2020-12-18 17:28] Watson-B commented on #718
@vedmant How's this? Let me know if you need me to resize anything.
![loading_bulb](https://user-images.githubusercontent.com/65913664/102642933-4b649880-4113-11eb-9263-9cff1ba1a150.gif)

[2020-12-18 18:16] Watson-B opened #805 "Updating layout for Post Formatting Buttons on mobile"
@vedmant @ikosovec Creating a ticket to update the layout for the post-formatting buttons on mobile from the current layout to the following:
<img width="320" alt="welcome-3" src="https://user-images.githubusercontent.com/65913664/102647032-f37d6000-4119-11eb-86ba-e0f83c2d5596.png">
Let me know if there is anything else you need for this.

[2020-12-18 18:45] Watson-B commented on #787
@vedmant posting the screens I've been working on in the "Updated Designs" page. Here's the link:
https://www.figma.com/file/FkptxrJSaBpU3mslMFnWm4/Daily-Idea-Mobile-Desktop-Copy?node-id=1121%3A0

I've been working on a separate file for prototyping reasons, and I think I copied everything over, but let me know if you're having trouble finding anything or there's a better way to organize it for yo

[2020-12-18 20:40] Watson-B commented on #794
@ikosovec @vedman I talked with @ezl about this yesterday, and he brought up a good point, that public/private might not be clear to users. Is it possible to have a tooltip for the toggle that changes?

![private_public_toggle](https://user-images.githubusercontent.com/65913664/102656134-4100c980-4128-11eb-9c1c-03c8fd250ebc.gif)

Either that or maybe adding an info icon:
![private_public_toggle_in

[2020-12-18 21:03] ezl commented on #718
@vedmant is there a reason to prefer the text be part of the image instead of actual text?

if it's actual text, it will allow us to use different text for different instances.

for example: "logging in..." or "loading idea..."

[2020-12-18 21:38] Watson-B opened #806 "Requesting Log In on Mobile > Requesting Log In on Desktop"
I encountered an issue, not quite a bug, but could be confusing for users. I had previously requested a log in while on mobile, which gave me the four digit confirmation code. Then later, I requested a log on my desktop, and clicked the take me to Gmail button.

![image](https://user-images.githubusercontent.com/65913664/102663367-92fc1c00-4135-11eb-9dd0-4b63f618d291.png)

This takes me to the thr

[2020-12-18 21:40] Watson-B opened #807 "Old Loading Status still being shown after clicking email "Don't worry, it's me" button"
When I click the "Don't worry, it's me" button in the Log In email, it is still showing the old loading animation. Can we update this to the new animation. @ikosovec @vedmant
![image](https://user-images.githubusercontent.com/65913664/102663871-80cead80-4136-11eb-90c0-873bd4ac6d6a.png)
![image](https://user-images.githubusercontent.com/65913664/102663884-875d2500-4136-11eb-8b4b-e4443d18a445.png)

[2020-12-18 21:44] Watson-B opened #808 "Default public/private setting on My Ideas page"
Since users are able to post ideas via email, they need to be able to set a default visibility(public/private) for their created ideas.
<img width="1440" alt="settings_desktop" src="https://user-images.githubusercontent.com/65913664/102663997-bd020e00-4136-11eb-9559-f6099abb14fa.png">

Once paid features are implemented, thinking a modal can show if a non-premium user tries to toggle it to private

[2020-12-18 21:49] Watson-B opened #809 "My Ideas page transitions"
@ikosovec When a user goes to My Ideas and then navigates between any of the tabs (My Ideas, Saved Ideas, Settings) the full page reloads. However only the content/interactions below those tabs are actually changing.
![image](https://user-images.githubusercontent.com/65913664/102664328-5d583280-4137-11eb-86e8-d1eb0a9222c8.png)
![image](https://user-images.githubusercontent.com/65913664/102664339-6

[2020-12-18 21:55] Watson-B opened #810 "Default avatar updates"
This is an item for down the road. Update default avatars to different types of gender neutral lightbulbs.

[2020-12-18 22:02] Watson-B opened #811 "Hover state size changing"
@ikosovec The hover states on the action bar aren't consistent. Like/save are the same and then comment/share are the same.
![image](https://user-images.githubusercontent.com/65913664/102664962-c0969480-4138-11eb-9b08-4dad98e47944.png)
![image](https://user-images.githubusercontent.com/65913664/102665298-7d88f100-4139-11eb-81fe-8b11a0f68776.png)

[2020-12-19 02:15] ezl commented on #808
This is... basically complete. I think this is pretty much ready to implement once we're ready for it.

[2020-12-19 02:21] ezl commented on #806
Interesting. This is a really valid point.

It's definitely an unintended negative consequence of the extra complexity we added around login being different on mobile devices vs desktop (numbers vs click through).

In the long run, I think we'll have to probably think about what we want to do with auth. I think we've introduced too much complexity and I don't think we've gained anything from it.

[2020-12-19 11:19] vedmant commented on #794
@Watson-B

Yes, it was not intended to change.

Ok, so what's left in this task?

As understand, add a tooltip, make label show private / public. Dialog?

@ikosovec Could we split this things into separate tasks?

[2020-12-19 11:53] vedmant commented on #718
@ezl Oh I see, I meant not loading as a part of gif, but just design of whole loading page (image and text). Look like I just missed it, it was there. Sure test makes sense to add as text.

[2020-12-19 11:54] vedmant commented on #718
TODO

- [ ] Add "loading..." text

[2020-12-19 13:42] vedmant commented on #790
@ezl  This will be complicated to do on backend, I don't see a way to do this with appsync mapping template as current function uses. So I'll need to move it to python function and basically do all this in python manually.

I'm not that good with DynamoDB, so I guess following algorithm:

1. Select ideas ids from likes table for specific date range, then group them locally, and sort by max items i

[2020-12-19 14:13] ezl commented on #790
@vedmant let's hold off on this for now.

Reasons:
1. more complicated to execute than originally thought, but doesn't have a large user impact and value
2. trying to touch the database and backend as little as possible until future rewrite to django - so possible that we can wait on this until the future.

@ikosovec just tagging you here so you understand why i'm deprioritizing this and removing

[2020-12-19 14:25] ezl commented on #718
perfect. thanks @vedmant :)

this may be unrelated, but i noticed that when i'm logging in by clicking on an authentication link in email, then the login screen still shows a static light bulb while logging in. can we make it so that screen also shows this loading animation, but with the text "logging in..." ?

[2020-12-19 14:35] ezl commented on #788
@vedmant, IMO the thing I'm not sure about is whether we can have the yellow underlining bar slide BETWEEN these elements. However, one way we might be able to do something that achieves the same goals is to just have css transitions where the line *disappears by shrinking* from the deslected link and *appears by growing from zero to full length* in the new selected link.

This won't have the same

[2020-12-19 14:35] ezl commented on #791
@Watson-B we discussed this -- any further input needed from me at this time?

[2020-12-20 19:55] ikosovec opened #813 "A tooltip or an info icon when creating private ideas"
Origin ticket: #794

@Watson-B's comment:

We need a decision on whether we'll go with the info icon or the tooltip when hovering over the toggle control.
@Watson-B - how would the hover behave on mobile? I'm leaning towards the info icon as a better solution.

[2020-12-20 19:57] ikosovec opened #814 "Change the public/private label when you click the toggle"
Origin ticket: #794

@Watson-B's comment:

[2020-12-20 20:00] ikosovec opened #815 ""Become premium" dialogue when users try to make an idea private"
Origin ticket: #794

The design:

[2020-12-20 20:02] ikosovec commented on #794
Ofcourse!
Tooltip: #813
Label: #814
Dialogue (in Icebox for now, not a priority): #815

Do we need any more tickets? Was this mobile layout comment fixed @vedmant ? https://github.com/ezl/dailyidea.com/issues/794#issuecomment-748163660

[2020-12-20 20:10] ikosovec commented on #809
@vedmant - this looks like a question for your expertise. :)

[2020-12-20 20:17] ikosovec commented on #806
I have a workaround in mind which might do the trick. It's a bit dirty, but it's the only thing coming to my mind at the moment.
Currently the title looks like this: **[Daily Idea] Log in link for ivan@expgaming.org**

Maybe we can add "mobile" and "desktop" keywords to the email title:
- [Daily Idea] Mobile log in link for ivan@expgaming.org
- [Daily Idea] Desktop log in link for ivan@expgaming.o

[2020-12-20 20:18] #801 closed

[2020-12-20 20:19] ikosovec commented on #801
Looks good from my perspective. :)

[2020-12-21 02:59] Watson-B commented on #806
@ezl The goal with the number thing for mobile was that the user would see the required code without having to tap away from the browser.
![image](https://user-images.githubusercontent.com/65913664/102734274-4c085500-42f4-11eb-96ea-49a42938f52c.png)

In hindsight, I think you're right, it added too much complexity without enough benefit. If we consolidate to just doing a magic button would that be

[2020-12-21 03:45] Watson-B commented on #813
@ikosovec I agree, that seems like a good approach.

[2020-12-21 03:46] Watson-B commented on #791
@ezl No, did the audit of messaging across all actions, just need to finish it. Should have it done tomorrow.

[2020-12-21 03:48] Watson-B commented on #788
@ezl Yeah, I think that's a great solution that accomplishes the same goal.

[2020-12-21 09:08] vedmant commented on #806
I personally think it's much more convenient to login with social networks. Then it just takes one or two clicks to login and no need to go to email client. But this will require backend work https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-social-idp.html

[2020-12-21 13:49] vedmant commented on #718
@ezl Yes, it has different loading screen, two types of lightbulb, gray while checking login, and it turns yellow when login successful, while it still doing some work.

Let me know if I should replace this with this new loading sceen.

[2020-12-21 13:54] vedmant commented on #809
@Watson-B

This is possible, I can disable global loading and create custom loader specifically for this pages. This will increase complexity however.
@ezl Let me know when and if I should do this task.

[2020-12-21 14:14] vedmant commented on #807
@ikosovec mentioned here about it https://github.com/ezl/dailyidea.com/issues/718 not sure if it needs to be changed, it switches build from off to on.

[2020-12-21 14:54] #787 closed

[2020-12-22 02:35] ezl commented on #809
I see. @vedmant can we get an estimate on approximate implementation time?

I do agree that this is something we want to do, and we *will* do it at some point, but based on whether it's a 1 day or 5 day task, I may prefer to kick it down the road (i.e. if it's a day, lets just do it, but if it's more, let's wait).

[2020-12-22 02:37] ezl commented on #718
@vedmant i'll drop the issue of the separate loading screen from this ticket, since it's already discussed in #807

for this ticket, this can be considered complete and we can close it once the "loading..." text is added.

[2020-12-22 02:42] ezl commented on #807
@Watson-B - @vedmant brought up an interesting point regarding the login animation.

the login animation currently has 2 *states* (at least):

1. greyed out light bulb = "the system is thinking and trying to log the user in"
2. lit up light bulb = "success. the credentials are valid and we are lighting the bulb up to demonstrate that login has succeeded.

Presumably there's a 3rd state too: "oops,